// out: assets/styles.css

@col-brand: #964a4a;
@col-button-primary: #8c133a;
@col-navbar: #fff;
@col-bg: #f1f1f1;
@col-panels: #fff;
@col-bg-pale: #cfc2b0;

@col-white:#fff;
@col-black:#111;
@col-lightgrey:#fbfbfb;
@col-lightblue:#e2e2f7;

@col-tag-place: #e3f7e2;
@col-tag-person: #a0d1f4;

@height-breadrumb:44px;

@padding-panel: 5px;

html, body {
    font-family: 'HK Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: @col-bg;
}

a {
    color: lighten(@col-brand, 5%);
    font-weight: bold;
}

h2 {
    padding-top: 2rem;
}

h3 {
    font-weight: bold;
}

.btn {
    &.btn-primary {
        background-color: @col-button-primary;
        border-color: lighten(@col-button-primary,4%);
        &:hover {
            background-color: lighten(@col-button-primary,10%);  
        }
        &, a {
            color: @col-white;
        }
    }
}

.content {
    padding-top: 3em;
}

.facet {
    background-color: @col-panels;
    margin-bottom: 1rem;
    .facet-relations {
        width: auto;
    }
    .facet__category-selector-holder {
        display: none;
    }
}

.gap {
    margin-bottom: 2rem;
}

.imageList {
    a {
        font-size: 1.3em;
    }
}

.navbar {
    background-color: @col-navbar;
    color: @col-black;
    a.navbar-brand, a.navbar-brand:hover  {
        color: @col-brand;
        text-transform: uppercase;
    }
    .navbar-nav>li>a, .dropdown-menu>li>a {
        color: @col-black;
        &:hover {
            background: @col-lightgrey;
            color:@col-black
        }
    }
}

.navbar-light .navbar-nav .nav-link {
    color: @col-brand;
}

.no-image {
    background-color: @col-lightblue;
    min-height: 10em;
    line-height: 10em;
    text-align: center;
    color: @col-white;
}

ol.page-breadcrumb {
    background-color: @col-lightgrey;
}
.panel-body {
    padding: @padding-panel;
}

.panelView {
    .DataTable--table-grid-layout {
        display: block !important;
    }
}
.griddle-custom-row {
    display: block !important;
}

.QueryBuilder--searchClause {
    background-color: @col-white;
}

.bso-component {

    &.card {
        margin-left: 1rem;
        min-width: 20rem;
        width: 18rem;
        height: 16rem;

        .card-body {
            padding: 0.5rem;
        }
        .card-image {
            align-items: center;
            background-color: @col-bg-pale;
            display: flex;
            overflow: hidden;
            height: 12rem;
            img {
                width: 100%;
            }
        }
    }

    &.card-container {
        display: flex;
        overflow-x: scroll;
        padding-bottom: 1rem;
    }
    

    &.home-search {
        background-image: url(https://www.e-manuscripta.ch/i3f/v20/1640931/pct:3,20,95,50/2800,/0/default.jpg);
        background-position: bottom;
        background-size: cover;
    }

    &.mini-thumbnail {
        border: 1px solid @col-lightgrey;
        width: 6rem;
        height: 6rem;
        padding: 0.2rem;
        overflow: hidden;
        display: inline-block;
        img {
            width: 150%;
        }
    }

    &.separator {
        background: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100px, rgba(0,0,0,0) 100%);
        min-height: 100px;
    }

    &.simple-search {
        padding: 4rem 0;
    }

    &.summary {
        margin-bottom: 2rem;
    }

    &.object {
        .image {
            img {
                width: 100%;
            }
        }
        .panel-body {
            padding: 0;
        }
        margin: 1rem 0;
    }
    &.header {
        @height: 100px;
        position: relative;
        top: @height-breadrumb;
        background-color: @col-navbar;
        overflow: hidden;
        padding: 1rem;
        height: calc(2rem + @height);
        .image img {
            height:@height;
            width: auto;
        }
    }

    &.panel {
        padding: 2rem 0 2rem 2rem;
        .row {
            margin-right: 0;
        }
    }

    &.tags {
        list-style: none;
        margin: 0;
        margin-top: 1rem;
        padding: 0;

        li {
            background-color: @col-lightblue;
            border-radius: 0.5rem;
            display: inline-block;
            font-size: 0.9rem;
            padding: .1rem .3rem;
            margin-right: .5rem;
            &.Person {
                background-color: @col-tag-person;
            }
            &.Place {
                background-color: @col-tag-place;
            }
            a {
                color:@col-black;
                font-weight: 500;
            }
        }
    }

    .card-body {
        padding: 0;
    }

    .title {
        font-weight: bold;
        font-size: 1.3em;
        padding-top:0.8em;
    }
}

// Fonts

@font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 200;
    src: url("/assets/fonts/HKGrotesk-Light.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Light.woff") format("woff");
  }
  @font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/HKGrotesk-Medium.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/HKGrotesk-Bold.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/HKGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/HKGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Regular.woff") format("woff");
  }
  