// out: assets/styles.css

@col-brand: #964a4a;
@col-button-primary: #8c133a;
@col-navbar: #fff;
@col-bg: #f1f1f1;
@col-panels: #fff;
@col-bg-pale: #cfc2b0;

@col-white:#fff;
@col-black:#111;
@col-grey: #aaa;
@col-lightgrey:#fbfbfb;
@col-lightblue:#e2e2f7;

@col-tag-place: #e3f7e2;
@col-tag-person: #a0d1f4;

@height-breadrumb:44px;

@padding-panel: 5px;

@bs-breakpoint-sm: 576px;
@bs-breakpoint-md: 768px;

html, body {
    font-family: 'HK Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: @col-bg;
}

a {
    color: lighten(@col-brand, 5%);
    font-weight: bold;
}

h2 {
    padding-top: 2rem;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

iframe {
    border:none
}

#custom-modal-close-button {
    text-align: right;
    padding-bottom: 0.5rem;
    position: absolute;
    z-index: 1;
    right: 2px;
    top: 2px;
    button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        > span {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #888;
        }
    }
}
.btn {
    &.btn-primary {
        background-color: @col-button-primary;
        border-color: lighten(@col-button-primary,4%);
        &:hover {
            background-color: lighten(@col-button-primary,10%);  
        }
        &, a {
            color: @col-white;
        }
    }
}

.facet {
    background-color: none;
    margin-bottom: 1rem;
    border: none;
    .facet-relations {
        width: auto;
    }
    .facet__category-selector-holder {
        display: none;
    }
    .facet__relation__body {
        background-color: darken(@col-panels, 1%);
        .facet__relation__values {
            margin: 0 0;
            padding: .5rem .5rem 0 .5rem;
        }
    }
}

.gap {
    margin-bottom: 2rem;
}

.gap-small {
    margin-bottom: 1rem;
}

.knowledgeGraphBar {
    h1 {
        font-size: 1rem;
        font-weight: bold;
    }
    .knowledgeGraphBar__summary {
        padding-left: 1rem;
    }
}


.navbar {
    background-color: @col-navbar;
    color: @col-black;
    border-bottom: 2px solid @col-lightgrey;
    a.navbar-brand, a.navbar-brand:hover  {
        color: @col-brand;
        text-transform: uppercase;
    }
    .navbar-nav>li>a, .dropdown-menu>li>a {
        color: @col-black;
        &:hover {
            background: @col-lightgrey;
            color:@col-black
        }
    }
}

.navbar-light .navbar-nav .nav-link {
    color: @col-brand;
}

.no-image {
    background-color: @col-lightblue;
    min-height: 10em;
    line-height: 10em;
    text-align: center;
    color: @col-white;
}

ol.page-breadcrumb {
    background-color: @col-lightgrey;
    display: flex;
    position:static;
}

.panel-body {
    padding: @padding-panel;
}

.panelView {
    .DataTable--table-grid-layout {
        display: block !important;
    }
}
.griddle-custom-row {
    display: block !important;
}

.QueryBuilder--searchClause {
    background-color: @col-white;
}

.bso-component {
    &.article-text {
        max-width: 55rem;
        margin-bottom: 0.5rem;
    }
    &.button-set {
        .btn {
            margin-right: .5rem;
        }
    }

    &.card {
        transition: box-shadow 0.5s;
        box-shadow: rgba(0,0,0,0.07) 0px 2px 10px;
        margin-left: 1rem;
        position: relative;

        &:hover {
            box-shadow: rgba(0,0,0,0.1) 0px 5px 10px;
        }

        &.mode-crop {
            height: 16rem;
            min-width: 20rem;
            width:20rem;
            .card-image {
                height: 12rem;
                width:100%;
                img {
                    max-width: 100%;
                }
            }
        }

        &.mode-fullImage {
            min-width: 7rem;
            .card-body {
                max-width: 20rem;
            }
            .card-image {
                img.resource-thumbnail {
                    min-height: 7rem;
                    max-height: 15rem;
                    margin: auto;
                }
            }
        }

        a {
            color: @col-black;
        }

        .card-body {
            padding: 0.5rem;
            .label {
                padding: 0;
            }
        }
        .card-image {
            align-items: center;
            background-color: @col-bg-pale;
            display: flex;
            overflow: hidden;
            .icon {
                opacity: .5;
                text-align: center;
                img {
                    width: 45%;
                    position: relative;
                    top:1rem;
                }
            }
        }
    }
    &.card-container {
        padding-bottom: 1rem;
        display: flex;
        flex-flow: row wrap;
        &.horizontal-scroll {
            overflow-x: scroll;
            flex-flow: unset;
        }
        .card {
            margin-bottom: 1rem;
        }
    }

    &.card-image-align-top {
        .card-image {
            align-items: start;
        }
    }

    &.description {
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    &.field-visualisation {

        @margin-unit: .5rem;

        margin-bottom: @margin-unit;

        a {
            color: @col-black;
        }

        .label {
            display: inline-block;
            margin-right: @margin-unit;
            margin-bottom: @margin-unit;
            min-width: 7rem;
            vertical-align: top;
            padding-top: @margin-unit;
        }

        div.values, table, ul.tags {
            display: inline-block;
            margin-top: @margin-unit;
            position: relative;
            top: calc(@margin-unit/-4);
            max-width: 50rem;
            li {
                margin-bottom: 0.1rem;
            }
        }

        table {
            td {
                padding: calc(@margin-unit/2) @margin-unit calc(@margin-unit/2) 0 !important;
            }
            tr {
                border-bottom: none;
            }
        }

        nav.nav.nav-tabs {
            border: none;
            font-size: 0.8em;
            margin: -@margin-unit 0 0 0;
            a[data-rb-event-key="view"] {
                pointer-events: none;
                color: @col-grey;
            }
            a {
                border: none;
                font-weight: normal;
                padding: 0 0.5rem 0 0;
                &.active {
                    font-weight: bold;
                }
            }
        }
    }

    &.home-search {
        background-image: url(https://www.e-manuscripta.ch/i3f/v20/1640931/pct:3,20,95,50/2800,/0/default.jpg);
        background-position: bottom;
        background-size: cover;
        .bso-component.card {
            box-shadow: rgba(0,0,0,0.5) 0px 2px 20px;
            border-color: rgba(255,255,255,0.2);
        }
    }

    &.image-display {
        padding: 2rem;
        .card {
            margin: auto;
            img {
                max-width: 100%;
            }
        }
        .caption {
            text-align: right;
            padding: 0.5rem;
        }
    }

    &.image-region-display {
        

        .image-region-display-container {
            
            margin-bottom: 1rem;

            .image-region-display-background {
                opacity: 0.5;
            }
            .image-region-display-foreground {
                position: absolute;
                img {
                    outline: 5px solid red;
                }
            }

        }
        
    }

    &.label {
        font-weight: bold;
        &.padding-left {
            padding-left: 2rem;
        }
        &.padding-bottom {
            padding-bottom: 2rem;
            display: inline-block;
        }
        &.padding-right {
            padding-right: 2rem;
        }
        &.padding-top {
            padding-top: 2rem;
            display: inline-block;
        }
    }

    &.main {
        flex: 2;
    }

    &.mini-thumbnail {
        border: 1px solid @col-lightgrey;
        width: 6rem;
        height: 6rem;
        padding: 0.2rem;
        overflow: hidden;
        display: inline-block;
        img {
            width: 150%;
        }
    }

    &.object {
        .image {
            img {
                width: 100%;
            }
        }
        .panel-body {
            padding: 0;
        }
        margin: 1rem 0;
    }

    &.panel {
        background-color: @col-white;
        &.dark {
            background-color: @col-bg;
        }
        &.no-padding {
            padding: 0;
        }
        padding: 2rem 0 2rem 2rem;
        .row {
            margin-right: 0;
        }
        .form-selector, .form-selector + .tab-content {
            margin-left:-2rem;
        }
        .form-selector {
            padding-left: 2rem;
            padding-bottom: 1rem;
            border-bottom: 0;
            > .nav-link.active {
                background-color: @col-button-primary;
                border: 1px solid @col-brand;
                color: @col-white;
            }
        }
        .form-content {
            padding: 2rem;
        }
        .semantic-form {
            margin-right: 2rem;
        }
    }

    &.separator {
        background-image: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100px, rgba(0,0,0,0) 100%);
        min-height: 100px;
        position: relative;
        &.next-step::before {
            content: ".";
            position: absolute;
            left:50%;
            top:0;
            width: 0; 
            height: 0; 
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
            
            border-top: 20px solid @col-white;
        }
    }

    &.sidebar {
        max-width: @bs-breakpoint-sm;
        .card {
            margin-bottom: 1rem;
        }
    }

    &.simple-search {
        padding: 4rem 0;
    }

    &.summary {
        margin-bottom: 2rem;
    }
    
    &.header {
        @height: 100px;
        position: relative;
        top: @height-breadrumb;
        background-color: @col-navbar;
        overflow: hidden;
        padding: 1rem;
        height: calc(2rem + @height);
        .image img {
            height:@height;
            width: auto;
        }
    }

    &.tags {
        list-style: none;
        margin: 0;
        margin-top: 1rem;
        padding: 0;

        li {
            background-color: @col-lightblue;
            border-radius: 0.5rem;
            display: inline-block;
            font-size: 0.9rem;
            padding: .1rem .3rem;
            margin-right: .5rem;
            &.Person {
                background-color: @col-tag-person;
            }
            &.Place {
                background-color: @col-tag-place;
            }
            a {
                color:@col-black;
                font-weight: 500;
            }
        }
    }

    summary {
        h3 {
            display: inline-block;
        }
    }
    
    .card-body {
        padding: 0;
        .label {
            display: block;
            overflow: hidden;
            max-height: 3em;
        }
        .type {
            font-weight: normal;
        }
    }

    .title {
        font-weight: bold;
        font-size: 1.3em;
        padding-top:0.8em;
    }
}

.modal-backdrop {
    opacity: .8;
}

.overlay-modal__body.modal-body {
    padding: 0.5rem;
    padding-top: 2rem;
}

.modal-xl {
    width: 80vw;
}

.semantic-form {
    .autocomplete-text-field {
        .Select-value {
            dl {
                margin-top:14px;
                dd {
                    display: none;
                }
            }
        }
    }
    .cardinality-support__group-instance {
        border-width: 1px;
    }
    .cardinality-support__add-value--another {
        font-weight: normal;
        font-size: .9rem;
    }

}

.tab-pane {
    .bso-component.panel {
        margin-top: -0.7rem;
    }
}
// Fonts

@font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 200;
    src: url("/assets/fonts/HKGrotesk-Light.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Light.woff") format("woff");
  }
  @font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/HKGrotesk-Medium.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/HKGrotesk-Bold.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/HKGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/HKGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Regular.woff") format("woff");
  }
  
 // Overrides

 .DataTable--table-grid-layout {
     align-items: initial;
 }

 .mirador-btn.mirador-icon-metadata-view, .mirador-btn.mirador-icon-window-menu {
     // Hide mirador buttons because information it contains is hardcoded
     display: none;
 }
 
 .show-facet-button.show-facet-button__hide {
     display: none;
 }


 .system-spinner {

    font-weight: bold;
    color: @col-brand;
    
    &__icon {
        vertical-align: middle;
        animation: fa-spin 2s infinite linear;
        @keyframes fa-spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(359deg);
          }
        }
        &:before {
            content: '\f1ce';
            color: @col-brand;
            font-weight: bold;
        }
    }
}