<bs-navbar class='navbar-logo-name' data-fixed='top' data-role='navigation'>
  <div class='navbar-logo d-none d-md-block '>
    <bs-navbar-brand data-href='/'>
      {{deploymentTitle}}
    </bs-navbar-brand>
  </div>
  <bs-navbar-toggle></bs-navbar-toggle>
  <bs-navbar-collapse>
    <ul class='nav mr-auto'></ul>
    <ul class='nav navbar-nav'>
      <bs-nav title='Search'>
        <bs-nav-item>
          <mp-resource-link-container propagate-link="true" iri='https://static.swissartresearch.net/page/structuredSearch'>
            <bs-nav-link><i class='fa fa-search'></i></bs-nav-link>
          </mp-resource-link-container>
        </bs-nav-item>
      </bs-nav>
      <bs-nav>
        <bs-nav-dropdown title='Menu' id='assets-bg-nested-dropdown' data-align-right='true'>
          
          <mp-resource-link-container propagate-link="true" iri='https://static.swissartresearch.net/page/search'>
            <bs-menu-item>Browse</bs-menu-item>
          </mp-resource-link-container>

          <mp-resource-link-container propagate-link="true" iri='https://static.swissartresearch.net/page/clipSearch'>
            <bs-menu-item>Search with AI</bs-menu-item>
          </mp-resource-link-container>

          <mp-resource-link-container propagate-link="true" iri='https://static.swissartresearch.net/page/search' urlqueryparam-browse='Object' urlqueryparam-resultsview="map">
            <bs-menu-item>Map</bs-menu-item>
          </mp-resource-link-container>
          <bs-dropdown-divider></bs-dropdown-divider>

          <mp-has-permission permission='forms:ldp:*'>
            <mp-resource-link-container propagate-link="true" iri='https://static.swissartresearch.net/page/workspace'>
              <bs-menu-item>Workspace</bs-menu-item>
            </mp-resource-link-container>
          </mp-has-permission>

          <mp-has-permission permission='forms:ldp:*'>
            <mp-resource-link-container propagate-link="true" iri='https://static.swissartresearch.net/page/listCustomData'>
              <bs-menu-item>Custom Data</bs-menu-item>
            </mp-resource-link-container>
          </mp-has-permission>

          <mp-has-permission permission='pages:view:Admin:DataImportExport'>
            <bs-dropdown-divider></bs-dropdown-divider>
            <mp-resource-link-container propagate-link="true" iri='http://www.metaphacts.com/resource/assets/NamedGraphs'>
              <bs-menu-item>Named Graphs</bs-menu-item>
            </mp-resource-link-container>
          </mp-has-permission>
          
          <mp-has-permission permission='forms:ldp:*'>
            <mp-resource-link-container propagate-link="true" iri='http://www.metaphacts.com/resource/assets/Diagrams'>
              <bs-menu-item>Diagrams</bs-menu-item>
            </mp-resource-link-container>
          </mp-has-permission>

          <mp-has-permission  permission='pages:view:Admin:*'>
            <mp-resource-link-container propagate-link="true" iri='http://help.metaphacts.com/resource/Start'>
              <bs-menu-item>Help</bs-menu-item>
            </mp-resource-link-container>
          </mp-has-permission>

        </bs-nav-dropdown>

        <mp-has-permission permission='pages:view:Admin:DataImportExport'>
          <bs-nav title='Data Import & Export'>
            <bs-nav-item>
              <mp-resource-link-container propagate-link="true" iri='http://www.metaphacts.com/resource/admin/DataImportExport'>
                <bs-nav-link><i class='fa fa-cloud-upload'></i></bs-nav-link>
              </mp-resource-link-container>
            </bs-nav-item>
          </bs-nav>
        </mp-has-permission>
        <mp-has-permission permission='pages:view:*'>
          <bs-nav title='System Administration'>
            <bs-nav-item>
              <mp-resource-link-container propagate-link="true" iri='http://www.metaphacts.com/resource/admin/'>
                <bs-nav-link><i class='fa fa-cog'></i></bs-nav-link>
              </mp-resource-link-container>
            </bs-nav-item>
          </bs-nav>
        </mp-has-permission>
        <mp-nav-account></mp-nav-account>
      </bs-nav>
      <bs-nav-item>
        <mp-link class="nav-link" url='/sparql' title='Sparql Endpoint'>SPARQL</mp-link>
      </bs-nav-item>
    </ul>
  </bs-navbar-collapse>
    <mp-user-language-switch></mp-user-language-switch>
</bs-navbar>