<title>{{deploymentTitle}}</title>
<link href="{{assetsMap.basic_styling}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/assets/js/croppr/croppr.css">
<script src="/assets/js/croppr/croppr.js"></script>