html,
body {
  font-family: 'HK Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #f1f1f1;
}
a {
  color: #a75252;
  font-weight: bold;
}
h2 {
  padding-top: 2rem;
  font-weight: bold;
}
h3 {
  font-weight: bold;
}
#custom-modal-close-button {
  text-align: right;
  padding-bottom: 0.5rem;
}
#custom-modal-close-button button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
#custom-modal-close-button button > span {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #888;
}
.btn.btn-primary {
  background-color: #8c133a;
  border-color: #9e1541;
}
.btn.btn-primary:hover {
  background-color: #b9194d;
}
.btn.btn-primary,
.btn.btn-primary a {
  color: #fff;
}
.facet {
  background-color: none;
  margin-bottom: 1rem;
  border: none;
}
.facet .facet-relations {
  width: auto;
}
.facet .facet__category-selector-holder {
  display: none;
}
.facet .facet__relation__body {
  background-color: #fcfcfc;
}
.facet .facet__relation__body .facet__relation__values {
  margin: 0 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.gap {
  margin-bottom: 2rem;
}
.knowledgeGraphBar h1 {
  font-size: 1rem;
  font-weight: bold;
}
.knowledgeGraphBar .knowledgeGraphBar__summary {
  padding-left: 1rem;
}
.navbar {
  background-color: #fff;
  color: #111;
  border-bottom: 2px solid #fbfbfb;
}
.navbar a.navbar-brand,
.navbar a.navbar-brand:hover {
  color: #964a4a;
  text-transform: uppercase;
}
.navbar .navbar-nav > li > a,
.navbar .dropdown-menu > li > a {
  color: #111;
}
.navbar .navbar-nav > li > a:hover,
.navbar .dropdown-menu > li > a:hover {
  background: #fbfbfb;
  color: #111;
}
.navbar-light .navbar-nav .nav-link {
  color: #964a4a;
}
.no-image {
  background-color: #e2e2f7;
  min-height: 10em;
  line-height: 10em;
  text-align: center;
  color: #fff;
}
ol.page-breadcrumb {
  background-color: #fbfbfb;
  display: flex;
  position: static;
}
.panel-body {
  padding: 5px;
}
.panelView .DataTable--table-grid-layout {
  display: block !important;
}
.griddle-custom-row {
  display: block !important;
}
.QueryBuilder--searchClause {
  background-color: #fff;
}
.bso-component.button-set .btn {
  margin-right: 0.5rem;
}
.bso-component.card {
  transition: box-shadow 0.5s;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 10px;
  margin-left: 1rem;
  min-width: 20rem;
  width: 18rem;
  height: 16rem;
  position: relative;
}
.bso-component.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}
.bso-component.card a {
  color: #111;
}
.bso-component.card .card-body {
  padding: 0.5rem;
}
.bso-component.card .card-body .label {
  padding: 0;
}
.bso-component.card .card-image {
  align-items: center;
  background-color: #cfc2b0;
  display: flex;
  overflow: hidden;
  height: 12rem;
}
.bso-component.card .card-image img {
  width: 100%;
}
.bso-component.card .card-image .icon {
  opacity: 0.5;
  text-align: center;
}
.bso-component.card .card-image .icon img {
  width: 45%;
  position: relative;
  top: 1rem;
}
.bso-component.card-container {
  padding-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
}
.bso-component.card-container.horizontal-scroll {
  overflow-x: scroll;
  flex-flow: unset;
}
.bso-component.card-container .card {
  margin-bottom: 1rem;
}
.bso-component.card-image-align-top .card-image {
  align-items: start;
}
.bso-component.description {
  font-size: 1.2rem;
  margin: 1rem 0;
}
.bso-component.field-visualisation {
  margin-bottom: 0.5rem;
}
.bso-component.field-visualisation a {
  color: #111;
}
.bso-component.field-visualisation .label {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  min-width: 7rem;
  vertical-align: top;
  padding-top: 0.5rem;
}
.bso-component.field-visualisation table,
.bso-component.field-visualisation ul.tags {
  display: inline-block;
  margin-top: 0.5rem;
  position: relative;
  top: calc(0.5rem/-4);
}
.bso-component.field-visualisation table td {
  padding: calc(0.5rem/2) 0.5rem calc(0.5rem/2) 0 !important;
}
.bso-component.field-visualisation table tr {
  border-bottom: none;
}
.bso-component.field-visualisation nav.nav.nav-tabs {
  border: none;
  font-size: 0.8em;
  margin: -0.5rem 0 0 0;
}
.bso-component.field-visualisation nav.nav.nav-tabs a[data-rb-event-key="view"] {
  pointer-events: none;
  color: #aaa;
}
.bso-component.field-visualisation nav.nav.nav-tabs a {
  border: none;
  font-weight: normal;
  padding: 0 0.5rem 0 0;
}
.bso-component.field-visualisation nav.nav.nav-tabs a.active {
  font-weight: bold;
}
.bso-component.home-search {
  background-image: url(https://www.e-manuscripta.ch/i3f/v20/1640931/pct:3,20,95,50/2800,/0/default.jpg);
  background-position: bottom;
  background-size: cover;
}
.bso-component.home-search .bso-component.card {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 20px;
  border-color: rgba(255, 255, 255, 0.2);
}
.bso-component.image-display {
  padding: 2rem;
}
.bso-component.image-display .card {
  margin: auto;
}
.bso-component.image-display .card img {
  max-width: 100%;
}
.bso-component.image-display .caption {
  text-align: right;
  padding: 0.5rem;
}
.bso-component.label {
  font-weight: bold;
}
.bso-component.main {
  flex: 2;
}
.bso-component.mini-thumbnail {
  border: 1px solid #fbfbfb;
  width: 6rem;
  height: 6rem;
  padding: 0.2rem;
  overflow: hidden;
  display: inline-block;
}
.bso-component.mini-thumbnail img {
  width: 150%;
}
.bso-component.object {
  margin: 1rem 0;
}
.bso-component.object .image img {
  width: 100%;
}
.bso-component.object .panel-body {
  padding: 0;
}
.bso-component.panel {
  background-color: #fff;
  padding: 2rem 0 2rem 2rem;
}
.bso-component.panel .row {
  margin-right: 0;
}
.bso-component.panel .form-selector,
.bso-component.panel .form-selector + .tab-content {
  margin-left: -2rem;
}
.bso-component.panel .form-selector {
  padding-left: 2rem;
  padding-bottom: 1rem;
  border-bottom: 0;
}
.bso-component.panel .form-selector > .nav-link.active {
  background-color: #8c133a;
  border: 1px solid #964a4a;
  color: #fff;
}
.bso-component.panel .form-content {
  padding: 2rem;
}
.bso-component.separator {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0) 100%);
  min-height: 100px;
  position: relative;
}
.bso-component.separator.next-step::before {
  content: ".";
  position: absolute;
  left: 50%;
  top: 0;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 20px solid #fff;
}
.bso-component.sidebar {
  max-width: 576px;
}
.bso-component.simple-search {
  padding: 4rem 0;
}
.bso-component.summary {
  margin-bottom: 2rem;
}
.bso-component.header {
  position: relative;
  top: 44px;
  background-color: #fff;
  overflow: hidden;
  padding: 1rem;
  height: calc(2rem + 100px);
}
.bso-component.header .image img {
  height: 100px;
  width: auto;
}
.bso-component.tags {
  list-style: none;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}
.bso-component.tags li {
  background-color: #e2e2f7;
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.1rem 0.3rem;
  margin-right: 0.5rem;
}
.bso-component.tags li.Person {
  background-color: #a0d1f4;
}
.bso-component.tags li.Place {
  background-color: #e3f7e2;
}
.bso-component.tags li a {
  color: #111;
  font-weight: 500;
}
.bso-component .card-body {
  padding: 0;
}
.bso-component .card-body .label {
  display: block;
  overflow: hidden;
  max-height: 3em;
}
.bso-component .card-body .type {
  font-weight: normal;
}
.bso-component .title {
  font-weight: bold;
  font-size: 1.3em;
  padding-top: 0.8em;
}
.modal-backdrop {
  opacity: 0.8;
}
.modal-xl {
  width: 80vw;
}
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/HKGrotesk-Light.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Light.woff") format("woff");
}
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/HKGrotesk-Medium.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Medium.woff") format("woff");
}
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/HKGrotesk-Bold.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Bold.woff") format("woff");
}
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/HKGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Regular.woff") format("woff");
}
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/HKGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Regular.woff") format("woff");
}
.mirador-btn.mirador-icon-metadata-view,
.mirador-btn.mirador-icon-window-menu {
  display: none;
}
.show-facet-button.show-facet-button__hide {
  display: none;
}
