html,
body {
  font-family: 'HK Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #f1f1f1;
}
a {
  color: #a75252;
  font-weight: bold;
}
h2 {
  padding-top: 2rem;
}
.btn.btn-primary {
  background-color: #8c133a;
  border-color: #9e1541;
}
.btn.btn-primary:hover {
  background-color: #b9194d;
}
.btn.btn-primary,
.btn.btn-primary a {
  color: #fff;
}
.content {
  padding-top: 3em;
}
.facet {
  background-color: #fff;
}
.facet .facet__category-selector-holder {
  display: none;
}
.gap {
  margin-bottom: 2rem;
}
.imageList a {
  font-size: 1.3em;
}
.navbar-default {
  background-color: #fff;
  color: #111;
}
.navbar-default a.navbar-brand,
.navbar-default a.navbar-brand:hover {
  color: #964a4a;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .dropdown-menu > li > a {
  color: #111;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .dropdown-menu > li > a:hover {
  background: #fbfbfb;
  color: #111;
}
ol.page-breadcrumb {
  background-color: #fbfbfb;
}
.panel-body {
  padding: 5px;
}
.panelView .DataTable--table-grid-layout {
  display: block !important;
}
.bso-component.object .image img {
  width: 100%;
}
.bso-component.object .panel-body {
  padding: 0;
}
.bso-component.header {
  position: relative;
  top: 44px;
  background-color: #fff;
  overflow: hidden;
  padding: 1rem;
  height: calc(2rem + 100px);
}
.bso-component.header .image img {
  height: 100px;
  width: auto;
}
.bso-component .title {
  font-weight: bold;
  font-size: 1.3em;
  padding-top: 0.8em;
}
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/HKGrotesk-Light.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Light.woff") format("woff");
}
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/HKGrotesk-Medium.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Medium.woff") format("woff");
}
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/HKGrotesk-Bold.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Bold.woff") format("woff");
}
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/HKGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Regular.woff") format("woff");
}
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/HKGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/HKGrotesk-Regular.woff") format("woff");
}
