<div class="bso-component card">
    <semantic-link
        key="object-card-{{subject}}"
        uri="{{subject.value}}"
        urlqueryparam-view="page"
    >
        <div class="card-image">
            <mp-resource-thumbnail iri={{subject.value}}>
                {{#ifCond noFallback "!==" "true"}}
                    <mp-resource-thumbnail-fallback>
                        <semantic-query
                            query="SELECT ?type ?image WHERE {
                                <{{subject.value}}> a ?type .
                                VALUES (?type ?image) {
                                    (search:Person '../images/fcs/actors.svg')
                                    (search:Object '../assets/icons/image.svg')
                                    (search:Place '../images/fcs/places.svg')
                                    (search:Type '../images/fcs/concepts.svg')
                                }
                            }"
                            template="{{> template}}"
                        >
                            <template id="template">
                                <div class="bso-component icon">
                                    {{#each bindings}}
                                        <img src="{{image.value}}">
                                    {{/each}}
                                </div>
                            </template>
                        </semantic-query>
                    </mp-resource-thumbnail-fallback>
                {{/ifCond}}
            </mp-resource-thumbnail>
        </div>
        <div class="card-body">
            <div class="label">
                <mp-label iri={{subject.value}}></mp-label>
                <span class="type">
                    &nbsp;<mp-label iri={{type.value}}></mp-label>
                </span>
            </div>
        </div>
    </semantic-link> 
</div>