[[#*inline "module-statements"]]

<mp-event-target-template-render id="statements-table" template="{{> template}}">
    <template id="template">
      <div>
        {{#if subject}}

            {{#ifCond subject "!==" "[[subject]]"}}
                <h4><mp-label iri="{{subject}}"></mp-label>&nbsp;<semantic-link iri="{{subject}}"><i class="fa fa-arrow-up-right-from-square-solid fa-secondary"></i></semantic-link></h4>
                <mp-event-trigger type="Component.TemplateUpdate" targets='["statements-table"]' data='{"subject": "[[subject]]"}'>
                    <span>[[i18n "backTo" bundle="bso"]] <a><mp-label iri="[[subject]]"></mp-label></a></span>
                </mp-event-trigger>
            {{/ifCond}}
        
            <semantic-table
                query="SELECT ?s ?p ?o ?highlight WHERE {
                    BIND(<{{subject}}> as ?highlight)
                    {
                        BIND(<{{subject}}> AS ?s)
                        ?s ?p ?o .
                    } UNION {
                        BIND(<{{subject}}> AS ?o)
                        ?s ?p ?o .
                    }
                } LIMIT 1000"
                column-configuration='[[> column-configuration]]'
            >
                <template  id="template-iri">
                    [[> template-iri]]
                </template>
            </semantic-table>
        
        {{else}}
            <semantic-table
                query="SELECT ?s ?p ?o ?highlight WHERE {
                    BIND(<[[subject]]> as ?highlight)
                    {
                        BIND(<[[subject]]> as ?s)
                        ?s ?p ?o .
                    } UNION {
                        BIND(<[[subject]]> as ?o)
                        ?s ?p ?o .
                    }
                } LIMIT 1000"
                column-configuration='[[> column-configuration]]'
            >
                <template  id="template-iri">
                    [[> template-iri]]
                </template>
            </semantic-table>
        
        {{/if}}
      </div>
    </template>
[[/inline]]

[[#*inline "template-iri"]]
{{#if (isIri iri)}}
    <mp-event-trigger type="Component.TemplateUpdate" targets='["statements-table"]' data='{"subject": "{{iri.value}}"}'>
        <a class="{{#ifCond iri.value '==' highlight.value}}bso-component tag{{/ifCond}}"><mp-label iri="{{iri.value}}"></mp-label></a>
    </mp-event-trigger>
    &nbsp;<semantic-link iri="{{iri.value}}"><i class="fa fa-arrow-up-right-from-square-solid fa-secondary"></i></semantic-link>
{{else}}
    {{iri.value}}
{{/if}}
[[/inline]]

[[#*inline "column-configuration"]]
[{
    "variableName": "s",
    "cellTemplate": "{{> template-iri iri=s highlight=highlight}}"
},{
    "variableName": "p",
    "cellTemplate": "{{> template-iri iri=p highlight=highlight}}"
},{
    "variableName": "o",
    "cellTemplate": "{{> template-iri iri=o highlight=highlight}}"
}]
[[/inline]]

