{{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#string"}}
  {{value.value.value}}
{{/ifCond}}
  {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#langString"}}
  {{value.value.value}}
{{/ifCond}}
{{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#integer"}}
  {{value.value.value}}
{{/ifCond}}
{{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#dateTime"}}
  {{value.value.value}}
{{/ifCond}}
{{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#date"}}
  {{value.value.value}}
{{/ifCond}}
{{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#boolean"}}
  {{value.value.value}}
{{/ifCond}}
{{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#anyURI"}}
    <semantic-link iri="{{value.value.value}}"></semantic-link>
{{/ifCond}}