[[> partial:pageHeader]]

<div class="bso-component object header">
    <bs-row>
        <bs-col class="image" sm="2">
            <mp-resource-thumbnail iri="[[urlParam "objectiri"]]">
                <mp-resource-thumbnail-fallback>
                    <span>Image not found!</span>
                </mp-resource-thumbnail-fallback>
            </mp-resource-thumbnail>
        </bs-col>
        <bs-col sm="10">
            <div class="title">
                <mp-label iri="[[urlParam "objectiri"]]"></mp-label>
            </div>
            <div class="description">
                <mp-description iri="[[urlParam "objectiri"]]"></mp-description>
            </div>
        </bs-col>
    </bs-row>
</div>

[[> partial:contentHeader]]
<semantic-form
    subject='[[urlParam "objectiri"]]'
    persistence='ldp'
    fields='[[> partial:fieldDefinitions]]'
>

    <semantic-form-text-input for="label"></semantic-form-text-input>
    <semantic-form-autocomplete-input for="object_depicts" template="{{> template}}">
        <template id="template">
            {{label.value}} ({{typeLabel.value}})
        </template>
    </semantic-form-autocomplete-input>

    <button name="submit" class="btn btn-default">Save</button>
    <button name="reset" class="btn btn-default">Reset</button>

</semantic-form>

[[> partial:contentFooter]]
[[> partial:pageFooter]]