[[> partial:pageHeader]]

<div class="bso-component main">
  <div class="bso-component panel">
    <bs-row>
      <bs-col sm="12">
        [[#if (urlParam "url")]]
          <img src="[[urlParam "url"]]" style="max-height:300px" />
            <semantic-table
              query='SELECT ?candidate ?score WHERE {
                {
                  SELECT ?iiif ?score_private WHERE {
                      SERVICE <http://clip-service:5000/sparql> {
                        ?request a clip:Request ;
                            clip:queryURL <[[urlParam "url"]]> ;
                            clip:minScore "0.2" ;
                            clip:score ?score ;
                            clip:iiifUrl ?iiif .
                      }
                  } LIMIT 100
              }
              ?iiif ^la:access_point/^la:digitally_available_via/^la:digitally_shown_by/^crm:P128_carries ?candidate .
              }'
              tuple-template="{{> partial:cardObject subject=candidate}}"
              no-result-template="Nothing found"
            ></semantic-table
        [[/if]]
      </bs-col>
    </bs-row>
  </div>
</div>


[[> partial:contentFooter]]
[[> partial:pageFooter]]