[[> partial:contentHeader]]

<h2><mp-label iri="[[#if objectiri]][[objectiri]][[else]][[ urlParam 'objectiri' ]][[/if]]"></mp-label></h2>

[[> partial:fieldsTable iri=objectiri param="objectiri" ]]

<semantic-table
    query="SELECT DISTINCT ?image ?IIIFimage WHERE {
        <[[#if objectiri]][[objectiri]][[else]][[ urlParam 'objectiri' ]][[/if]]> crm:P128_carries ?work .
        ?work la:digitally_shown_by ?image .
        ?image la:digitally_available_via/la:access_point ?IIIFimage
    }"
    number-of-displayed-rows="100"
    tuple-template="{{> template }}"
>
    <template id="template">
        <bs-panel>
            <semantic-link
                uri="[[ resolvePrefix 'page:viewImage']]"
                urlqueryparam-imageiri="{{IIIFimage.value}}"
                >
                <img src="{{IIIFimage.value}}/full/300,/0/default.jpg">
            </semantic-link>
        </bs-panel>
    </template>
</semantic-table>
[[> partial:contentFooter]]