[[> partial:RDSFieldDefinitions]]

[[> partial:pageHeader]]

[[#*inline "thisIri"]][[urlParam "entityiri"]][[/inline]]

[[#*inline "thisForQuery"]]
    <[[> thisIri]]>
[[/inline]]

<div class="d-flex flex-md-row flex-column">
    <div class="bso-component separator sidebar image-display">

        <img src="/images/fcs/actors.svg" width="200">
    </div>
    <div class="bso-component main">
        <div class="bso-component panel">
            [[#if (hasPermission "api:ldp:*")]]
                [[> edit-person-form edit=(urlParam "entityiri")]]
            [[else]]
                <bs-alert variant="warning">
                    [[i18n "noPermissionToAccessPage" bundle="bso"]]
                </bs-alert>
            [[/if]]
        </div>
    </div>
</div>

[[#*inline "edit-person-form"]]
    [[#if edit]]
        <h2>[[i18n "edit" bundle="bso"]] <mp-label iri="[[> thisIri]]"></mp-label></h2>
    [[else]]
        <h2>[[i18n "addNewPerson" bundle="bso"]]</h2>
    [[/if]]

    <semantic-form
        id="newPerson"
        [[#if edit]]
            subject="[[> thisIri]]"
        [[else]]
            new-subject-template="https://resource.swissartresearch.net/actor/{{UUID}}"
        [[/if]]
        persistence="ldp"
        form-id="persons"
        post-action="redirect"
        browser-persistence="True"
        fields='[
            [[> SameAs]],
            [[> Type-hidden ]],
            [[> Person_Name ]],
            [[> Person_Gender ]],
            [[> Person_Alternate_Name ]],
            [[> Person_Birth_Place ]],
            [[> Person_Death_Place ]],
            [[> Person_Father ]],
            [[> Person_Mother ]],
            [[> National_Affiliation ]],
            [[> Person_Social_Relations ]],
            [[> Institutional_Affiliation ]],
            [[> Citation ]],
            [[> Short_Biography ]]
        ]'
    >
        <semantic-form-hidden-input for="Type-hidden" replace-values='["http://www.cidoc-crm.org/cidoc-crm/E39_Actor", "http://www.cidoc-crm.org/cidoc-crm/E21_Person", "[[resolvePrefix 'search:Person']]", "[[resolvePrefix 'rds:Person']]"]'></semantic-form-hidden-input>
        
        <semantic-form-composite-input 
            for="Person_Name"
            new-subject-template="/appellation/{{Person_Name-Value}}"
            fields='[
                [[> Person_Name-Value ]],
                [[> Person_Name_Part ]]
            ]'>
            <semantic-form-text-input 
                for="Person_Name-Value"
                languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
            </semantic-form-text-input>
            <semantic-form-text-input for="Person_Name_Part"></semantic-form-text-input>
        </semantic-form-composite-input>

        <semantic-form-autocomplete-input
            for="SameAs"
            value-binding-name="subject"
            lookup-query='{
                "type": "lookup",
                "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
                "limit": 20,
                "lookupServiceName": "federated-lookup"
                }'
            template='{{> autocompletionTemplate}}'>
            [[> autocompletionTemplate]]
        </semantic-form-autocomplete-input>

        <semantic-form-select-input for="Person_Gender"></semantic-form-select-input>

        <semantic-form-composite-input 
            for="Person_Alternate_Name"
            new-subject-template="/appellation/{{Person_Alternate_Name_Value}}"
            fields='[
              [[> Person_Alternate_Name_Value ]],
              [[> Person_Alternate_Name_Type ]],
              [[> Alternate_Name_Use_Period_earliest ]],
              [[> Alternate_Name_Use_Period_latest ]],
              [[> Alternate_Name_Attributed_by ]],
              [[> Alternative_Name_-_Source ]]
        ]'>
          <semantic-form-text-input for="Person_Alternate_Name_Value"
                                    languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
          </semantic-form-text-input>  
          <semantic-form-text-input for="Person_Alternate_Name_Type"'></semantic-form-text-input>  
          <semantic-form-datetime-input for="Alternate_Name_Use_Period_earliest"></semantic-form-datetime-input>  
          <semantic-form-datetime-input for="Alternate_Name_Use_Period_latest"></semantic-form-datetime-input>  
          <semantic-form-text-input for="Alternate_Name_Attributed_by"></semantic-form-text-input>  
          <semantic-form-text-input for="Alternative_Name_-_Source"></semantic-form-text-input>  
        </semantic-form-composite-input>

        <semantic-form-composite-input 
            for="Person_Birth_Place"
            new-subject-template="/birth"
            fields='[
                [[> Birth_Place ]],
                [[> Person_Birth_Date_earliest ]],
                [[> Person_Birth_Date_latest ]]
        ]'>
            <semantic-form-autocomplete-input for='Birth_Place'
                value-binding-name="subject"
                lookup-query='{
                    "type": "lookup",
                    "entityType": "http://schema.swissartresearch.net/ontology/rds#Place",
                    "limit": 20,
                    "lookupServiceName": "federated-lookup"
                    }'
                template='{{> autocompletionTemplate}}'>
                [[> autocompletionTemplate]]
            </semantic-form-autocomplete-input>
            <semantic-form-datetime-input for="Person_Birth_Date_earliest"></semantic-form-datetime-input>
            <semantic-form-datetime-input for="Person_Birth_Date_latest"></semantic-form-datetime-input>
        </semantic-form-composite-input>

        <semantic-form-composite-input 
            for="Person_Death_Place"
            new-subject-template="/death"
            fields='[
            [[> Death_Place ]],
            [[> Death_Date_Earliest ]],
            [[> Death_Date_Latest ]]
        ]'>
        
            <semantic-form-autocomplete-input for='Death_Place'
                value-binding-name="subject"
                lookup-query='{
                    "type": "lookup",
                    "entityType": "http://schema.swissartresearch.net/ontology/rds#Place",
                    "limit": 20,
                    "lookupServiceName": "federated-lookup"
                    }'
                template='{{> autocompletionTemplate}}'>
                [[> autocompletionTemplate]]
            </semantic-form-autocomplete-input>    
            <semantic-form-datetime-input for="Death_Date_Earliest"></semantic-form-datetime-input>
            <semantic-form-datetime-input for="Death_Date_Latest"></semantic-form-datetime-input>
        </semantic-form-composite-input>
    
        <semantic-form-autocomplete-input
            for="Person_Father"
            value-binding-name="subject"
            lookup-query='{
            "type": "lookup",
            "entityType": "[[resolvePrefix "search:Person"]]",
            "limit": 20,
            "lookupServiceName": "default-lookup"
            }'
            template='{{> autocompletionTemplate}}'>
            [[> autocompletionTemplate]]
            
        </semantic-form-autocomplete-input>
        
        <semantic-form-autocomplete-input
            for="Person_Mother"
            value-binding-name="subject"
            lookup-query='{
            "type": "lookup",
            "entityType": "[[resolvePrefix "search:Person"]]",
            "limit": 20,
            "lookupServiceName": "default-lookup"
            }'
            template='{{> autocompletionTemplate}}'>
            [[> autocompletionTemplate]]
            
        </semantic-form-autocomplete-input>
        [[> addNewPersonButton]]

        <semantic-form-text-input for="National_Affiliation"></semantic-form-text-input>
  
        <semantic-form-composite-input 
            for="Person_Social_Relations"
            new-subject-template="/relation/{{Person_Social_Relations_-_Relation}}"
            fields='[
            [[> Person_Social_Relations_-_Relation ]],
            [[> Person_Social_Relations_-_Relation_Type ]]
        ]'>
              <semantic-form-autocomplete-input
                for="Person_Social_Relations_-_Relation"
                value-binding-name="subject"
                lookup-query='{
                  "type": "lookup",
                  "entityType": "[[resolvePrefix "search:Person"]]",
                  "limit": 20,
                  "lookupServiceName": "default-lookup"
                }'
                template='{{> autocompletionTemplate}}'>
                [[> autocompletionTemplate]]
                
              </semantic-form-autocomplete-input>
          <semantic-form-text-input for="Person_Social_Relations_-_Relation_Type"></semantic-form-text-input>
        </semantic-form-composite-input>
  
        <semantic-form-composite-input
            for="Institutional_Affiliation"
            new-subject-template="/joining/{{Person_Institutional_Affiliation_Value}}"
            fields='[
            [[> Person_Institutional_Affiliation_Value ]],
            [[> Person_Institutional_Affiliation_Role ]],
            [[> Person_Institutional_Affiliation_Start_Date_Earliest ]],
            [[> Person_Institutional_Affiliation_Start_Date_Latest ]]
        ]'>
          <semantic-form-text-input for="Person_Institutional_Affiliation_Value"></semantic-form-text-input>
          <semantic-form-text-input for="Person_Institutional_Affiliation_Role"></semantic-form-text-input>
          <semantic-form-datetime-input for="Person_Institutional_Affiliation_Start_Date_Earliest"></semantic-form-datetime-input>
          <semantic-form-datetime-input for="Person_Institutional_Affiliation_Start_Date_Latest"></semantic-form-datetime-input>
        </semantic-form-composite-input>

        <semantic-form-composite-input 
          for="Citation"
          new-subject-template="/citation/{{Citation_Value}}"
          fields='[
            [[> Citation_Value ]],
            [[> Citation_Source ]]
        ]'>
            <semantic-form-text-input for="Citation_Value"></semantic-form-text-input>
            <semantic-form-text-input for="Citation_Source"></semantic-form-text-input>
        </semantic-form-composite-input>

        <semantic-form-text-input for="Short_Biography"
                                    languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'
                                    multiline=true>
        </semantic-form-text-input>

        <semantic-form-errors></semantic-form-errors>
        <div class="bso-component button-set">
            [[#if edit]]
                <semantic-link
                    iri="[[edit]]"
                >
                    <button class="btn btn-secondary">[[i18n "cancel" bundle="bso"]]</button>
                </semantic-link>
            [[else]]
                <button name='reset' class='btn btn-secondary'>[[i18n "reset" bundle="bso"]]</button>
            [[/if]]
            <button name='submit' class='btn btn-primary'>[[i18n "save" bundle="bso"]]</button>
        </div>
    </semantic-form>
[[/inline]]


[[#*inline "autocompletionTemplate"]]
<template id='autocompletionTemplate'>
    [[> partial:lookupCandidateTemplate]]
</template>
[[/inline]]

[[#*inline "addNewPersonButton"]]
<semantic-link
iri="page:editPerson"
target="_blank">
    <button class="btn btn-secondary btn-xs">[[i18n "createNewPerson" bundle="bso"]]</button>
</semantic-link>
[[/inline]]

[[> partial:pageFooter]]