[[> partial:pageHeader]]

<div class="bso-component object header">
    <bs-row>
        <bs-col class="image" md="3" sm="6">
            <mp-resource-thumbnail iri="[[urlParam "objectiri"]]">
                <mp-resource-thumbnail-fallback>
                    <span>Image not found!</span>
                </mp-resource-thumbnail-fallback>
            </mp-resource-thumbnail>
        </bs-col>
        <bs-col md="7" sm="6">
            <div class="title">
                <mp-label iri="[[urlParam "objectiri"]]"></mp-label>
            </div>
            <div class="description">
                <mp-description iri="[[urlParam "objectiri"]]"></mp-description>
            </div>
        </bs-col>
    </bs-row>
</div>

[[> partial:contentHeader]]

<semantic-form
    subject='[[urlParam "objectiri"]]'
    fields='[[fieldDefinitions
        visual_item="http://rs.swissartresearch.net/instances/fields/object_carries_visual_item"
    ]]'
>
    <semantic-form-composite-input 
        for='visual_item'
        fields='[[fieldDefinitions
            vantage_point="http://rs.swissartresearch.net/instances/fields/vantage_point"
        ]]'
    >
        <semantic-form-composite-input
            for='vantage_point'
            fields='[[fieldDefinitions
                url="http://rs.swissartresearch.net/instances/fields/swisstopo_url"    
            ]]'>
            <semantic-form-text-input for='url'></semantic-form-text-input>
        </semantic-form-composite-input>
    </semantic-form-composite-input>

    <button name="submit" class="btn btn-default">Save</button>
    <button name="reset" class="btn btn-default">Reset</button>

</semantic-form>

[[> partial:contentFooter]]
[[> partial:pageFooter]]