[[> partial:pageHeader]]

<div class="bso-component home-search">
    <bs-col md="10" md-offset="1">
        <div class="bso-component simple-search">            
            [[> partial:simpleSearchInclude hideTabs="true" searchLimit="100" searchPlaceholder=(i18n "globalSearchInputPrompt" bundle="bso")]]
        </div>
    </bs-col>
</div>

<div class="bso-component separator panel">
    <bs-row>
        <bs-col md="2">
            <h3>[[i18n "images" bundle="bso"]]</h3>
            [[> resourceSummary type='search:Object' label='images' link='page:browseImages']]
        </bs-col>
        <bs-col md="10" class="bso-component card-container horizontal-scroll">
            [[#> cards type='search:Object' ]]
            [[/ cards]]
        </bs-col>
    </bs-row>
</div>

<div class="bso-component separator panel">
    <bs-row>
        <bs-col md="2">
            <h3>[[i18n "places" bundle="bso"]]</h3>
            [[> resourceSummary type='search:Place' label='places']]
        </bs-col>
        <bs-col md="10" class="bso-component card-container horizontal-scroll">
            [[#> cards type='search:Place' ]]
                ?subject crmdig:L54_is_same-as/wdt:P18 ?image .
            [[/ cards]]
        </bs-col>
    </bs-row>
</div>

<div class="bso-component separator panel">
    <bs-row>
        <bs-col md="2">
            <h3>[[i18n "persons" bundle="bso"]]</h3>
            [[> resourceSummary type='search:Person' label='persons' link='page:browsePersons']]
        </bs-col>
        <bs-col md="10" class="bso-component card-container horizontal-scroll">
            <div class="bso-component card-image-align-top" style="display: inherit;">
                [[#> cards type='search:Person' ]]
                    ?subject crmdig:L54_is_same-as/wdt:P18 ?image .
                [[/ cards]]
            </div>
        </bs-col>
    </bs-row>
</div>

<div class="bso-component separator panel">
    <bs-row>
        <bs-col md="2">
            <h3>[[i18n "dossiers" bundle="bso"]]</h3>
            [[> resourceSummary type='search:Object' condition='crm:P2_has_type <https://resource.swissartresearch.net/type/level/dossier>' label='dossiers' link='page:browseDossiers']]
        </bs-col>
        <bs-col md="10" class="bso-component card-container horizontal-scroll">
            [[#> cards type='search:Object' ]]
                ?subject crm:P2_has_type <https://resource.swissartresearch.net/type/level/dossier> .
            [[/ cards]]
        </bs-col>
    </bs-row>
</div>

<div class="bso-component separator panel">
    <bs-row>
        <bs-col md="2">
            <h3>[[i18n "concepts" bundle="bso"]]</h3>
            [[> resourceSummary type='search:Type' label='concepts']]
        </bs-col>
        <bs-col md="10" class="bso-component card-container horizontal-scroll">
            [[#> cards type='search:Type' ]]
                ?subject crmdig:L54_is_same-as/wdt:P18 ?image .
            [[/ cards]]
        </bs-col>
    </bs-row>
</div>

<div class="bso-component separator panel">
    <bs-row>
        <bs-col md="2">
            <h3>[[i18n "geolocatedImages" bundle="bso"]]</h3>
            [[> resourceSummary type='search:Object' label='geolocatedImages' link='page:browseGeoImages' condition='crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point ?image . ?simulation crm:P32_used_general_technique <https://smapshot.heig-vd.ch/> ; crm:P16_used_specific_object ?image']]
        </bs-col>
        <bs-col md="10" class="bso-component card-container horizontal-scroll">
            [[#> cards type='search:Object' ]]
                ?subject crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point ?image .
                ?simulation crm:P32_used_general_technique <https://smapshot.heig-vd.ch/> ;
                    crm:P16_used_specific_object ?image .
            [[/ cards]]
        </bs-col>
    </bs-row>
</div>

[[#*inline "cards"]]
    <semantic-query
        query="SELECT DISTINCT ?subject WHERE {
            ?subject a [[type]] .
            BIND(DAY(NOW()) as ?day)
            BIND(SHA512(CONCAT(STR(?day), STR(?subject))) AS ?random)
            [[> @partial-block ]]
        } ORDER BY ?random LIMIT 10"
        template="{{> template-image-summary}}"
        >
        <template id="template-image-summary">
            {{#each bindings}}
                {{> partial:cardObject}}
            {{/each}}
        </template>
    </semantic-query>
[[/inline]]


[[#*inline "resourceSummary"]]
    <semantic-query
        query="SELECT (COUNT(?subject) as ?num) WHERE {
            ?subject a [[type]] .
            [[#if condition]]
                ?subject [[condition]] .
            [[/if]]
        }"
        template="{{#each bindings}}[[i18n "entitiesSummaryPre" bundle="bso"]] {{num.value}} [[i18n "entitiesSummaryPost" (i18n label bundle="bso") bundle="bso"]]{{/each}}"
    ></semantic-query>
    [[#if link]]
        <div class="bottom">
            <semantic-link iri="[[link]]">
                [[i18n "seeAll" bundle="bso"]]</semantic-link>
        </div>
    [[/if]]
[[/inline]]

[[> partial:pageFooter]]