[[> partial:pageHeader]]

[[#*inline "thisIri"]][[#if entityiri]][[entityiri]][[else]][[urlParam "entityiri"]][[/if]][[/inline]]

[[#*inline "thisForQuery"]]
    <[[> thisIri]]>
[[/inline]]

<mp-event-proxy on-event-type="Dialog.HideAll" proxy-event-type="Component.Refresh" proxy-targets='["regions-table", "set-image-button"]'></mp-event-proxy>

<div class="d-flex flex-md-row flex-column">
    <div class="bso-component separator sidebar image-display">

        <!-- map -->
        <semantic-if
            query='ASK { [[> thisForQuery ]] crmdig:L54_is_same-as/wdt:P625 ?coordinates }'
            then='{{> mapTemplate}}'
        >
            <template id="mapTemplate">
                <div style="height:300px;">
                    <semantic-map
                        query='
                            SELECT ?wkt WHERE {
                                [[> thisForQuery ]] crmdig:L54_is_same-as/wdt:P625 ?wkt
                        }'
                        tuple-template='{{> tupleTemplate}}'
                        >
                            <template id="tupleTemplate">
                                <mp-label iri="[[> thisIri]]"></mp-label>
                            </template>
                        </semantic-map>
                </div>
            </template>
        </semantic-if>

        <!-- image  -->
        <semantic-if 
            query='ASK { [[> thisForQuery ]] a search:Object}'
            then='{{> objectTemplate }}'
            else='{{> template}}'
        >
            <template id="objectTemplate">
                [[#if entityiri]]
                    [[> partial:objectViewImageDisplay objectiri=entityiri]]
                [[else]]
                    [[> partial:objectViewImageDisplay urlparam="entityiri"]]
                [[/if]]
            </template>
            <template id="template">
                <bs-panel>
                    <mp-resource-thumbnail iri="[[> thisIri]]">
                        <mp-resource-thumbnail-fallback>
                            <span></span>
                        </mp-resource-thumbnail-fallback>
                    </mp-resource-thumbnail>
                </bs-panel>
            </template>
        </semantic-if>

        <!-- smapshot -->
        <semantic-if
            query='ASK { 
                ?classification crm:P140_assigned_attribute_to [[> thisForQuery ]] ;
                    crm:P141_assigned <https://resource.swissartresearch.net/type/classification/landscape> .
            }'
            then='{{> smapshotTemplate}}'
        >
            <template id="smapshotTemplate">
                <bs-panel>
                    <smapshot-embed 
                        iri="[[> thisIri]]"
                        width="300"
                        height="200"
                    ></smapshot-embed>
                    <div class="caption">
                        <mp-overlay-dialog title="Smapshot View" type="modal" bs-size="xl">
                            <mp-overlay-dialog-trigger><a>[[i18n "openInViewer" bundle="bso"]]</a></mp-overlay-dialog-trigger>
                            <mp-overlay-dialog-content id="smapshot-modal">
                                <mp-page-loader 
                                    iri="[[ resolvePrefix 'page:viewSmapshot']]"
                                    urlqueryparam-iri="[[> thisIri]]"
                                    urlqueryparam-overlay="true"
                                ></mp-page-loader>
                        </mp-overlay-dialog-content>
                        </mp-overlay-dialog>
                    </div>
                </bs-panel>
            </template>
        </semantic-if>

    </div>
    <div class="bso-component main">
        <div class="bso-component panel">
            <h2><mp-label iri="[[> thisIri]]"></mp-label></h2>

            <!-- Description -->
            <semantic-query
                query="SELECT ?label ?source ?sourceLabel WHERE {
                    {
                        [[> thisForQuery]] crm:P129i_is_subject_of ?value .
                        ?value crm:P2_has_type aat:300435416 ;
                            rdfs:label ?label .
                    } UNION {
                        [[> thisForQuery]] a search:Person ;
                            crmdig:L54_is_same-as ?source .
                        ?source gndo:biographicalOrHistoricalInformation ?label .
                        BIND('GND' as ?sourceLabel)
                    } UNION {
                        [[> thisForQuery]] a search:Object ;
                            crm:P108i_was_produced_by/crm:P9_consists_of ?publication_event .
                            ?publication_event a frbroo:F30_Publication_Event ;
                            crm:P3_has_note ?label .
                    }
                }"
                template="{{>template}}">
                <template id="template">
                    {{#each bindings}}
                        <p class="bso-component description">
                            {{label.value}}
                            {{#if source.value}}
                                <small>([[i18n "source" bundle="bso"]]: <a href="{{source.value}}">{{sourceLabel.value}})</a></small>
                            {{/if}}
                        </p>
                    {{/each}}
                </template>
            </semantic-query>

            <!-- Depicts -->
            <semantic-query
                query="SELECT DISTINCT ?subject ?type ?typeClass WHERE {
                    [[> thisForQuery]] crm:P128_carries?/crm:P138_represents ?subject .
                    OPTIONAL {
                        ?subject a ?type .
                        BIND(STRAFTER(STR(?type), 'search/') as ?typeClass)
                        VALUES(?type) {
                            (search:Person)
                            (search:Place)
                            (search:Type)
                        }
                    }
                    FILTER NOT EXISTS {
                        GRAPH <https://resource.swissartresearch.net/graph/smapshot> {
                            ?subject a crm:E53_Place .
                        }
                    }
                } ORDER BY ?type ?subject"
                template="{{> template}}">
                <template id="template">
                    <div class="bso-component field-visualisation">
                        <span class="bso-component label">[[i18n "depicts" bundle="bso"]]</span>
                        <ul class="bso-component tags">
                            {{#each bindings}}
                                <li class="bso-tag {{typeClass.value}}"><semantic-link uri="{{subject.value}}"></semantic-link></li>
                            {{/each}}
                        </ul>
                    </div>
                </template>
            </semantic-query>

            <!-- Same as / External Links -->
            <semantic-query
                query="SELECT DISTINCT ?subject ?label WHERE {

                    BIND(<https://d-nb.info/gnd/10171799-4> as ?nb)
                    BIND(<https://d-nb.info/gnd/1012546-2> as ?zbz)
                    {
                        [[> thisForQuery]] crmdig:L54_is_same-as ?subject .
                    } UNION {
                        [[> thisForQuery]] crm:P70i_is_documented_in ?subject .
                        ?attribute_assignment a crm:E13_Attribute_Assignment ; crm:P141_assigned ?subject .
                    } UNION {
                        [[> thisForQuery]] a search:Object ;
                        crm:P109_has_current_or_former_curator ?zbz ;
                        crmdig:L1i_was_digitized_by/crmdig:L11_had_output/crm:P1_is_identified_by ?subject .
                    } UNION {
                        [[> thisForQuery]] a search:Object ;
                            crm:P109_has_current_or_former_curator ?nb .
                        BIND(STRAFTER('[[> thisIri]]', 'nb-') as ?nbId)
                        BIND(URI(CONCAT('https://www.helveticarchives.ch/detail.aspx?ID=', ?nbId)) as ?subject)
                        BIND('HelveticArchives' as ?label)
                    } UNION {
                        [[> thisForQuery]] a search:Object .                            
                        BIND(URI(REPLACE('[[>thisIri]]','artwork','manifest')) as ?subject) .
                        BIND('IIIF Manifest' as ?label)
                        # Temporary filter as IIIF Manifests for SFF data are not yet available
                        FILTER(! REGEX('[[> thisIri ]]', 'SFF', 'i'))
                    } UNION {
                        ?attribute_assignment crm:P32_used_general_technique <https://smapshot.heig-vd.ch/> ;
                            crm:P1_is_identified_by ?smapshot_id ;
                            crm:P16_used_specific_object/^la:access_point/^la:digitally_available_via/^la:digitally_shown_by/^crm:P128_carries [[> thisForQuery]] .
                        BIND(URI(CONCAT('https://smapshot.heig-vd.ch/visit/', ?smapshot_id)) as ?subject) .
                        BIND('sMapshot' as ?label)
                    }
                }"
                template="{{> template}}">
                <template id="template">
                    <div class="bso-component field-visualisation">
                        <span class="bso-component label">[[i18n "externalLinks" bundle="bso"]]</span>
                        <ul class="bso-component tags">
                            {{#each bindings}}
                                <li class="bso-tag"><a href="{{subject.value}}" target="_blank">{{#if label.value}}{{label.value}}{{else}}<mp-label iri="{{subject.value}}"></mp-label>{{/if}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </template>
            </semantic-query>

            <!-- Dates -->
            <semantic-query
                query="SELECT DISTINCT ?subject ?event ?eventType WHERE {
                    [[> thisForQuery]] crm:P108i_was_produced_by|(crm:P128_carries/crm:P94i_was_created_by) ?event .
                    ?event crm:P4_has_time-span ?subject .
                    ?event a ?eventType .
                }"
                template="{{> template}}">>
                <template id="template">
                    <div class="bso-component field-visualisation">
                        <span class="bso-component label">[[i18n "dates" bundle="bso"]]</span>
                        <table>
                            {{#each bindings}}
                            <tr>
                                <td><semantic-link iri="{{subject.value}}"></semantic-link></td>
                                <td><mp-label iri="{{eventType.value}}"></mp-label></td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </template>
            </semantic-query>

            <!-- Contained in -->
            <semantic-query
                query="SELECT DISTINCT ?parent ?type ?typeClass WHERE {
                    BIND([[> thisForQuery]] as ?leaf)
                    ?leaf crm:P46i_forms_part_of+ ?parent .
                    OPTIONAL {
                        ?node ^crm:P46i_forms_part_of ?parent .
                    }
                    ?parent a ?type .
                    BIND(STRAFTER(STR(?type), 'search/') as ?typeClass)
                    VALUES(?type) {
                        (search:Object)
                    }
                }"
                template="{{> template}}">
                <template id="template">
                    <div class="bso-component field-visualisation">
                        <span class="bso-component label">[[i18n "containedIn" bundle="bso"]]</span>
                        <ul class="bso-component tags">
                            {{#each bindings}}
                                <li class="bso-tag {{typeClass.value}}"><semantic-link uri="{{parent.value}}" urlqueryparam-view="page"></semantic-link></li>
                            {{/each}}
                        </ul>
                    </div>
                </template>
            </semantic-query>

            <!-- Persons involved in creation-->
            <semantic-query
                query="SELECT DISTINCT ?subject (GROUP_CONCAT(DISTINCT ?role; SEPARATOR=' ') as ?roles) (GROUP_CONCAT(DISTINCT ?global_role; SEPARATOR=' ') as ?global_roles) WHERE {
                    BIND(<[[>thisIri]]/meta> as ?meta)
                    {
                        [[> thisForQuery]] crm:P108i_was_produced_by ?event .
                        BIND(crm:E12_Production as ?global_role)
                    } UNION 
                    {
                        [[> thisForQuery]] (crm:P128_carries/crm:P94i_was_created_by) ?event .
                        BIND(crm:E65_Creation as ?global_role)
                    }
                    {
                        ?event crm:P14_carried_out_by ?subject .
                        OPTIONAL {
                            ?event crm:P9_consists_of ?subevent .
                            ?subevent crm:P14_carried_out_by ?subject .
                            OPTIONAL {
                                ?subevent crm:P2_has_type ?role .
                            }
                        }
                        OPTIONAL {
                            ?subject crm:P1_is_identified_by ?appellation .
                            ?appellation crm:P70i_is_documented_in ?meta .
                            ?appellation rdfs:label ?appellation_label .
                        }
                    } UNION {
                        ?event crm:P9_consists_of ?subevent .
                        ?subevent crm:P14_carried_out_by ?subject .
                        OPTIONAL {
                            ?subevent crm:P2_has_type ?role .
                        }
                        OPTIONAL {
                            ?subject crm:P1_is_identified_by ?appellation .
                            ?appellation crm:P70i_is_documented_in ?meta .
                            ?appellation rdfs:label ?appellation_label .
                        }
                    }
                } GROUP BY ?subject"
                template="{{> template}}">>
                <template id="template">
                    <div class="bso-component field-visualisation">
                        <span class="bso-component label">[[i18n "persons" bundle="bso"]]</span>
                        <table>
                            {{#each bindings}}
                            <tr>
                                <td>
                                    <ul class="bso-component tags">
                                            <li class="bso-tag Person"><semantic-link uri="{{subject.value}}"></semantic-link></li>
                                    </ul>
                                </td>
                                <td>{{#if roles.value}}{{#each (split roles.value ' ')}}[[> addComma]]<mp-label iri="{{this}}"></mp-label>{{/each}}{{/if}} ({{#each (split global_roles.value ' ')}}[[> addComma]]<mp-label iri="{{this}}"></mp-label>{{/each}})</td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </template>
            </semantic-query>

            <!-- Dimensions -->
            <!-- Dimensions of whole -->
            <semantic-query
                query="SELECT ?dimension_label ?dimension_type_label ?dimension_unit ?dimension_value WHERE {
                    [[>thisForQuery]] crm:P43_has_dimension ?dimension .     
                    {
                        ?dimension crm:P2_has_type/rdfs:label ?dimension_type_label ;
                            crm:P90_has_value ?dimension_value ;
                            crm:P91_has_unit/rdfs:label ?dimension_unit .
                            FILTER(LANG(?dimension_type_label) = 'en')
                    } UNION {
                        ?dimension rdfs:label ?dimension_label .
                        FILTER NOT EXISTS {?dimension crm:P90_has_value ?dimension_value }
                    }

                } ORDER BY DESC(?dimension_unit)"
                template="{{> dimensionTemplate}}"
            >
                <template id="dimensionTemplate">
                    <div class="bso-component field-visualisation">
                        <span class="bso-component label">[[i18n "dimensions" bundle="bso"]]</span>

                        <table>
                            {{#each bindings}}
                                <tr>
                                    {{#if dimension_type_label.value}}
                                        <td>{{dimension_type_label.value}}: {{dimension_value.value}} {{dimension_unit.value}}</td>
                                    {{/if}}
                                    {{#if dimension_label}}
                                        <td>{{dimension_label.value}}</td>
                                    {{/if}}
                                </tr>
                            {{/each}}
                        </table>
                </template>
            </semantic-query>
    
            <!-- Dimensions of parts -->
            <semantic-query
                query="SELECT ?part ?part_note (SAMPLE(?part_type_labels) as ?part_type_label) WHERE {
                    GRAPH ?g {
                        [[> thisForQuery ]] crm:P46_is_composed_of ?part .
                        ?part crm:P2_has_type/rdfs:label ?part_type_labels .
                        OPTIONAL {
                            ?part crm:P3_has_note ?part_note .
                        }
                    }
                } 
                GROUP BY ?part ?part_note
                ORDER BY ?part_type_label"
                template="{{> partTemplate}}"
            >
                <template id="partTemplate">
                    <div class="bso-component field-visualisation">
                        <span class="bso-component label">[[i18n "dimensions" bundle="bso"]]</span>
                        <table>
                            {{#each bindings}}
                            <tr>
                                <td><em>{{part_type_label.value}}</em></span>{{#if part_note.value}} ({{part_note.value}}){{/if}}</td>
                                <td>
                                    <semantic-query
                                        query="SELECT ?dimension_label ?dimension_type_label ?dimension_unit ?dimension_value WHERE {
                                            <{{part.value}}> crm:P43_has_dimension ?dimension .     
                                            {
                                                GRAPH ?g {
                                                    ?dimension crm:P2_has_type/rdfs:label ?dimension_type_label ;
                                                        crm:P90_has_value ?dimension_value ;
                                                        crm:P91_has_unit/rdfs:label ?dimension_unit .
                                                }
                                            } UNION {
                                                GRAPH ?g {
                                                    ?dimension rdfs:label ?dimension_label .
                                                    FILTER NOT EXISTS {?dimension crm:P90_has_value ?dimension_value }
                                                }
                                            }
              
                                        } ORDER BY DESC(?dimension_unit)"
                                        template="{{> dimensionTemplate}}"
                                    >
                                        <template id="dimensionTemplate">
                                            <div>
                                                {{#each bindings}}
                                                    {{#if dimension_type_label.value}}
                                                        {{dimension_type_label.value}}: {{dimension_value.value}} {{dimension_unit.value}}
                                                    {{/if}}
                                                    {{#if dimension_label}}
                                                        {{dimension_label.value}}
                                                    {{/if}}
                                                {{/each}}
                                            </div>
                                        </template>
                                    </semantic-query>
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>

                </template>
            </semantic-query>
            
            <!-- Technique -->
            <semantic-query 
            query="SELECT ?technique WHERE {
                [[> thisForQuery]] crm:P108i_was_produced_by/crm:P32_used_general_technique ?technique .
            }"
            template="{{> template}}"
        >
            <template id="template">
                <div class="bso-component field-visualisation">
                    <span class="bso-component label">[[i18n "technique" bundle="bso"]]</span>
                    <ul class="bso-component tags">
                        {{#each bindings}}
                            <li class="bso-tag type"><semantic-link uri="{{technique.value}}" urlqueryparam-view="page"></semantic-link></li>   
                        {{/each}}     
                    </ul>
                </div>
            </template>
        </semantic-query>

            <!-- Provenience -->
            <semantic-query 
                query="SELECT ?acquisition ?acquisition_note ?previous_owner WHERE {
                    [[> thisForQuery]] crm:P24i_changed_ownership_through ?acquisition .
                    OPTIONAL {
                        ?acquisition crm:P23_transferred_title_from ?previous_owner .
                    }
                    OPTIONAL {
                        ?acquisition crm:P3_has_note ?acquisition_note .
                    }
                }"
                template="{{> template}}"
            >
                <template id="template">
                    <div class="bso-component field-visualisation">
                        <span class="bso-component label">[[i18n "provenience" bundle="bso"]]</span>
                        {{#each bindings}}
                            {{#if previous_owner.value}}
                                <ul class="bso-component tags">
                                    <li class="bso-tag person actor"><semantic-link uri="{{previous_owner.value}}" urlqueryparam-view="page"></semantic-link></li>        
                                </ul>
                            {{/if}}
                            {{#if acquisition_note.value}}
                                <div class="bso-component values">{{acquisition_note.value}}</div>
                            {{/if}}
                        {{/each}}
                    </div>
                </template>
            </semantic-query>

            <!-- Inscription -->
            <semantic-query 
                query="SELECT ?value_formatted WHERE {
                    [[> thisForQuery]] crm:P128_carries ?inscription .
                    ?inscription a crm:E34_Inscription ;
                      rdfs:label ?value .
                      BIND(REPLACE(?value, '\n','<br>') AS ?value_formatted)
                }"
                template="{{> template}}"
            >
                <template id="template">
                    <div class="bso-component field-visualisation">
                        <span class="bso-component label">[[i18n "inscription" bundle="bso"]]</span>
                        <div class="bso-component values">
                            {{#each bindings}}
                                <mp-text-truncate lines="3" expand="{{> expand}}" collapse="{{> collapse}}">
                                    <template id="expand"> <a>&hellip;[[i18n "readMore" bundle="bso"]]</a></template>
                                    <template id="collapse"><span><br/><a>[[i18n "showLess" bundle="bso"]]</a></span></template>
                                    {{{value_formatted.value}}}
                                </mp-text-truncate>    
                            
                            {{/each}}
                        </div>
                    </div>
                </template>
            </semantic-query>

            <!-- Objects created -->
            [[#> objectsTable condition='?object a search:Object; (crm:P108i_was_produced_by|(crm:P128_carries/crm:P94i_was_created_by))/crm:P9_consists_of?/crm:P14_carried_out_by $subject' label='works']]

                {
                    ?subject crm:P108i_was_produced_by/crm:P9_consists_of?/crm:P14_carried_out_by [[> thisForQuery]] .
                } UNION {
                    ?subject crm:P128_carries/crm:P94i_was_created_by/crm:P9_consists_of?/crm:P14_carried_out_by [[> thisForQuery]] .
                }
                
            [[/ objectsTable]]


            <!-- Objects created/produced at time-->
            [[#> objectsTable condition='?object a search:Object; (crm:P108i_was_produced_by|(crm:P128_carries/crm:P94i_was_created_by))/crm:P4_has_time-span $subject' label='works']]

                {
                    ?subject crm:P108i_was_produced_by/crm:P4_has_time-span [[> thisForQuery]] .
                } UNION {
                    ?subject crm:P128_carries/crm:P94i_was_created_by/crm:P4_has_time-span [[> thisForQuery]] .
                }
                
            [[/ objectsTable]]

            <!-- Objects acquired from -->
            [[#> objectsTable condition='?object a search:Object; crm:P24i_changed_ownership_through/crm:P23_transferred_title_from $subject' label='worksAcquiredFrom']]

                ?subject crm:P24i_changed_ownership_through/crm:P23_transferred_title_from [[> thisForQuery]]
                
            [[/ objectsTable]]

            <!-- Objects forming part of -->
            [[#> objectsTable condition='?object a search:Object; crm:P46i_forms_part_of $subject' label='contains']]

                ?subject crm:P46i_forms_part_of [[> thisForQuery]]
                
            [[/ objectsTable]]

            <!-- Regions -->
            <mp-event-target-refresh id="regions-table">
                [[#> objectsTable condition='$subject crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point/^crmdig:L49_is_primary_area_of ?region . FILTER NOT EXISTS {?region crm:P2_has_type type:imageRegion}' label='regions' ]]

                    [[> thisForQuery]] crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point/^crmdig:L49_is_primary_area_of  $subject.
                    FILTER NOT EXISTS {?subject crm:P2_has_type type:imageRegion}

                [[/ objectsTable]]
            </mp-event-target-refresh>

            <!-- Things Depicted -->
            [[#> objectsTable condition='?thing crm:P138_represents $subject' label='depictedBy' ]]

                ?subject a ?type ; 
                    crm:P128_carries?/crm:P138_represents [[> thisForQuery]] .
                VALUES ( ?type ) {
                    (search:Object)
                    (crmdig:D35_Area)
                }
            
            [[/ objectsTable]]

            <!-- Places depicted -->
            [[#> objectsTable condition='$subject crm:P128_carries/crm:P138_represents ?place . ?place a search:Place' label='depictedPlaces']]
                
                [[> thisForQuery]] crm:P128_carries/crm:P138_represents $subject .
                $subject a search:Place .

                FILTER NOT EXISTS {
                    GRAPH <https://resource.swissartresearch.net/graph/smapshot> {
                        ?subject a crm:E53_Place .
                    }
                }
                
            [[/ objectsTable]]

            <!-- Objects owned -->
            [[#> objectsTable condition='?object a search:Object; crm:P109_has_current_or_former_curator $subject' label='worksHeld']]
                
                ?subject crm:P109_has_current_or_former_curator [[> thisForQuery]] .
                
            [[/ objectsTable]]

            <!-- Objects of type -->
            [[#> objectsTable condition='?thing crm:P2_has_type $subject' label='hasType' ]]

                ?subject a search:Object ;
                    crm:P2_has_type [[> thisForQuery]] .
            
            [[/ objectsTable]]

            <!-- Objects created using this technique -->
            [[#> objectsTable condition='?object a search:Object; crm:P108i_was_produced_by/crm:P32_used_general_technique $subject' label='producedUsingTechnique']]

                ?subject crm:P108i_was_produced_by/crm:P32_used_general_technique [[> thisForQuery]]
                
            [[/ objectsTable]]

            <!-- Found on -->
            [[#> objectsTable condition='?region crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point/^crmdig:L49_is_primary_area_of $subject .' label='foundOn' ]]

                $subject crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point/^crmdig:L49_is_primary_area_of  [[> thisForQuery]] .
            
            [[/ objectsTable]]

            <!-- Is About -->
            [[#> objectsTable condition='$subject crm:P129_is_about ?target  .' label='isAbout' ]]

                [[> thisForQuery]] crm:P129_is_about $subject .
            
            [[/ objectsTable]]
        </div>

        [[#if (hasPermission "api:ldp:*")]]
        <semantic-if query="ASK { [[> thisForQuery]] a ?type . VALUES (?type) {(search:Object) (crmdig:D35_Area)} .}" then="{{> template}}">
            <template id="template">
                <div class="bso-component separator panel">
                    <h3>[[i18n "customData" bundle="bso"]]</h3>
                    <semantic-table
                        query="SELECT ?proposition ?subject ?type ?container ?dateCreated ?parentContainer ?page ?form (GROUP_CONCAT(?entity;SEPARATOR=',') as ?entities) WHERE {
                            ?proposition a crminf:I4_Proposition_Set ;
                                crm:P67_refers_to [[> thisForQuery]] ;
                                crm:P129_is_about ?subject .
                            ?subject a ?type .
                            BIND(URI(STRBEFORE(STR(?proposition), '/context')) as ?container)
                            ?parentContainer ldp:contains ?container .
                            ?container prov:used ?page_and_form ;
                                prov:generatedAtTime ?dateCreated .
                            BIND(STRBEFORE(STR(?page_and_form), '#') as ?page)
                            BIND(STRAFTER(STR(?page_and_form), '#') as ?form)
                            OPTIONAL {
                                ?subject crm:P14_carried_out_by ?entity .
                            } 
                            OPTIONAL {
                                ?subject crm:P141_assigned ?entity .
                            } 
                        } GROUP BY ?proposition ?subject ?type ?container ?dateCreated ?parentContainer ?page ?form
                        ORDER BY ?dateCreated"
                        column-configuration='[{
                            "displayName": "[[i18n "type" bundle="bso"]]",
                            "cellTemplate": "<mp-label iri=\"{{type.value}}\"></mp-label>"
                        },
                        {
                            "displayName": "[[i18n "entities" bundle="bso"]]",
                            "cellTemplate": "{{> entityTemplate}}"
                        },
                        {
                            "displayName": "[[i18n "created" bundle="bso"]]",
                            "cellTemplate": "{{dateTimeFormat dateCreated.value \"DD.MM.YYYY H:mm\"}}"
                        },
                        {
                            "displayName": "[[i18n "actions" bundle="bso"]]",
                            "cellTemplate": "{{> actionTemplate }}"
                        }]'
                    >
                        <template id="actionTemplate">
                            <div class="bso-component button-set">
                                <button class="btn btn-secondary btn-xs">
                                    <semantic-link iri="http://www.metaphacts.com/resource/assets/NamedGraph" 
                                        urlqueryparam-view="graph" 
                                        urlqueryparam-graph="{{proposition.value}}">
                                        [[i18n "view" bundle="bso"]]
                                    </semantic-link>
                                </button>
                                <button class="btn btn-secondary btn-xs">
                                    <semantic-link iri="{{ page.value }}"
                                        urlqueryparam-subjectiri="{{subject.value}}"
                                        urlqueryparam-objectiri="[[>thisIri]]"
                                        urlqueryparam-form="{{ form.value }}"
                                    >[[i18n "edit" bundle="bso"]]</semantic-link>
                                </button>
                                <button class="btn btn-secondary btn-xs">
                                    <semantic-link iri="page:deleteContainerFromParent" 
                                        urlqueryparam-container="{{container.value}}" 
                                        urlqueryparam-parent="{{parentContainer.value}}" 
                                        urlqueryparam-back="[[>thisIri]]">[[i18n "delete" bundle="bso"]]
                                    </semantic-link>
                                </button>
                            </div>
                        </template>
                        <template id="entityTemplate">
                            {{#if entities.value}}
                                {{#each (split entities.value ",")}}<semantic-link iri="{{this}}"></semantic-link>{{#unless @last}}, {{/unless}}{{/each}}
                            {{/if}}
                        </template>
                    </semantic-table>
                    <semantic-link
                        iri="page:addEditDataForObject"
                        urlqueryparam-objectiri="[[> thisIri]]"
                    ><button type="button" class="btn btn-primary btn-s">[[i18n "addData" bundle="bso"]]</button></semantic-link>


                    <mp-event-target-refresh id="set-image-button">
                        <semantic-if
                            query="ASK {
                                [[> thisForQuery]] crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point/^crmdig:L49_is_primary_area_of $subject .
                                $subject rso:displayLabel ?label .
                                FILTER(REGEX(?label, 'image','i'))
                                GRAPH <https://platform.swissartresearch.net/imageRegions> {
                                    FILTER NOT EXISTS {$subject crm:P2_has_type type:imageRegion}
                                }
                            }"
                            then="{{> notthere}}"
                        >
                            <template id="notthere">
                                <div>
                                    <semantic-update
                                        variable-params='["region"]'
                                        post-action='reload'
                                        query="INSERT {
                                            GRAPH <https://platform.swissartresearch.net/imageRegions> {
                                                ?region crm:P2_has_type type:imageRegion .
                                            }
                                        } WHERE {
                                            [[> thisForQuery]] crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point/^crmdig:L49_is_primary_area_of ?region .
                                            ?region rso:displayLabel 'image' .
                                        }"
                                    >
                                        <a class="btn btn-primary">Set image region</a>
                                    </semantic-update>
                                </div>
                            </template>
                            
                        </semantic-if>
                    </mp-event-target-refresh>
                </div>
            </template>
        </semantic-if>
        [[/if]]

        <semantic-if query="ASK { ?classification (crm:P140_assigned_attribute_to/^crm:P1_is_identified_by/^crm:P128_carries)|(crm:P140_assigned_attribute_to/^la:access_point/^la:digitally_available_via/^la:digitally_shown_by/^crm:P128_carries) [[> thisForQuery]] ; crm:P33_used_specific_technique ?technique . VALUES (?technique) {(<https://github.com/swiss-art-research-net/bso-data-pipeline/blob/main/experiments/title-similarities.ipynb>) (<https://github.com/swiss-art-research-net/bso-image-similarity>)}. }" then="{{> template}}">
            <template id="template">
                <div class="bso-component separator panel">

                    <details>
                        <summary>
                            <h3>[[i18n "similarEntities" bundle="bso"]]</h3>
                        </summary>

                        [[#> objectsTable condition='?classification crm:P140_assigned_attribute_to/^crm:P1_is_identified_by/^crm:P128_carries $subject ; crm:P33_used_specific_technique <https://github.com/swiss-art-research-net/bso-data-pipeline/blob/main/experiments/title-similarities.ipynb> .' label='byTitle' ]]

                            ?classification crm:P140_assigned_attribute_to/^crm:P1_is_identified_by/^crm:P128_carries [[> thisForQuery]] ;
                                crm:P33_used_specific_technique <https://github.com/swiss-art-research-net/bso-data-pipeline/blob/main/experiments/title-similarities.ipynb> ;
                                crm:P141_assigned/^crm:P1_is_identified_by/^crm:P128_carries $subject ;
                                rdf:value ?score .
                        
                        [[/ objectsTable]]

                        [[#> objectsTable condition='?classification crm:P140_assigned_attribute_to/^la:access_point/^la:digitally_available_via/^la:digitally_shown_by/^crm:P128_carries $subject ; crm:P33_used_specific_technique <https://github.com/swiss-art-research-net/bso-image-similarity> .' label='visually' ]]

                            ?classification crm:P140_assigned_attribute_to/^la:access_point/^la:digitally_available_via/^la:digitally_shown_by/^crm:P128_carries [[> thisForQuery]] ;
                                crm:P33_used_specific_technique <https://github.com/swiss-art-research-net/bso-image-similarity> ;
                                crm:P141_assigned/^la:access_point/^la:digitally_available_via/^la:digitally_shown_by/^crm:P128_carries $subject .
                        
                        [[/ objectsTable]]
                    </details>
                </div>
            </template>
        </semantic-if>

        <div class="bso-component separator panel">

            <h3>[[i18n "fields" bundle="bso"]]</h3>
            [[> partial:fieldsTable iri=entityiri param="entityiri" ]]

        </div>
    </div>
</div>

[[#*inline "objectsTable"]]

    <semantic-if 
        query='ASK { BIND([[> thisForQuery]] as $subject) . [[condition]] }'
        then='{{> template}}'
    >
        <template id="template">
            <div class="bso-component field-visualisation">
                <span class="bso-component label">[[i18n label bundle="bso"]]</span>

                <mp-event-trigger type="Component.Refresh" targets='["object-map"]'>
                    <bs-tabs default-active-key="grid">
                        <bs-tab event-key="view" title="[[i18n "view" bundle="bso"]]:"></bs-tab>
                        <bs-tab event-key="grid" title="[[i18n "grid" bundle="bso"]]">
                            <div class="bso-component card-container">
                                <semantic-table
                                query="SELECT DISTINCT ?subject WHERE {
                                    [[> @partial-block]]
                                }"
                                tuple-template="{{> partial:cardObject}}"
                                options='{
                                  "showFilter": true,
                                  "pageSizeSelection": "[5,10,20,50]"
                                }'
                >
                                </semantic-table>
                            </div>
                        </bs-tab>
                        <bs-tab event-key="map" title="[[i18n "map" bundle="bso"]]">
                            <div style="height:40rem;width:100%">
                                <mp-event-target-refresh id="object-map">
                                    <semantic-map
                                        id="object-map-[[label]]"
                                        query="SELECT DISTINCT ?subject ?wkt WHERE {
                                            [[> @partial-block]] 
                                            {
                                                ?subject a search:Place ;
                                                    crmdig:L54_is_same-as/wdt:P625 ?wkt .
                                            } UNION {
                                                ?subject crm:P128_carries?/crm:P138_represents/crmdig:L54_is_same-as/wdt:P625 ?wkt .
                                            } UNION {
                                                ?subject a search:Type ;
                                                    ^crm:P138_represents/crm:P138_represents/crmdig:L54_is_same-as/wdt:P625 ?wkt .
                                            } 
                                        }"
                                        
                                        tuple-template='{{> template }}'
                                        no-result-template='<bs-alert variant="info">[[i18n "noResultsWithCoordinates" bundle="bso"]]</bs-alert>'
                                    >
                                        <template id='template'>{{> partial:cardObject noFallback="true"}}</template>
                                    </semantic-map>
                                </mp-event-target-refresh>
                            </div>
                        </bs-tab>
                </bs-tabs>
                </mp-event-trigger>
        </template>
    </semantic-if>

[[/inline]]

[[#*inline "addComma"]]
{{#if @first}}{{else}}, {{/if}}
[[/inline]]

[[> partial:pageFooter]]