
<semantic-table
    query="SELECT DISTINCT ?image ?IIIFimage WHERE {
        <[[#if objectiri]][[objectiri]][[else]][[urlParam urlparam]][[/if]]> crm:P128_carries ?work .
        ?work la:digitally_shown_by ?image .
        ?image la:digitally_available_via/la:access_point ?IIIFimage
    }"
    number-of-displayed-rows="100"
    tuple-template="{{> template }}"
    options='{
        "showFilter" : false
    }'
    >
    <template id="template">
        <bs-panel>
            {{> thumbnail}}
            {{#if IIIFimage.value }}
                <div class="caption">
                    <mp-event-trigger type="Component.Refresh" targets='["some-element"]'> 
                        <mp-overlay-dialog title="Image Viewer" type="modal" bs-size="xl">
                            <mp-overlay-dialog-trigger><a>[[i18n "openInViewer" bundle="bso"]]</a></mp-overlay-dialog-trigger>
                            <mp-overlay-dialog-content
                                id="image-modal">
                                    <mp-page-loader 
                                        iri="[[ resolvePrefix 'page:viewImage']]"
                                        urlqueryparam-imageiri="{{IIIFimage.value}}"
                                        urlqueryparam-overlay="true"
                                    ></mp-page-loader>
                            </mp-overlay-dialog-content>
                        </mp-overlay-dialog>
                    </mp-event-trigger>

                </div>
            {{/if}}
        </bs-panel>
    </template>
    <template id="thumbnail">
        {{#if IIIFimage.value}}
            <img src="{{IIIFimage.value}}/full/300,/0/default.jpg" />
        {{else}}
            <mp-resource-thumbnail iri="{{ image.value }}">
                <mp-resource-thumbnail-fallback>
                    <span>[[i18n "imageNotFound" bundle="bso"]]</span>
                </mp-resource-thumbnail-fallback>
            </mp-resource-thumbnail>
        {{/if}}
    </template>
</semantic-table>