[[#*inline "cardView"]]

  <div class="bso-component card-container">
    <semantic-table
      id="grid-result"
      prefetch-labels="false"
      query="SELECT DISTINCT ?subject ?date ?type WHERE {
        OPTIONAL {
          ?subject skos:prefLabel ?label .
        }
        OPTIONAL {
          ?subject dcterms:date ?date .
        }
      } ORDER BY DESC (?score) (?date) ?label ?subject
      [[#if searchLimit]]LIMIT [[searchLimit]][[/if]]"
      tuple-template="{{> partial:cardObject [[#if resultsMode]]mode='[[resultsMode]]'[[/if]]}}"
      number-of-displayed-rows="12"
      no-result-template='<bs-panel class="info">[[i18n "noMatchesFound" bundle="bso"]]</bs-panel>'
      options='{
        "showFilter": false,
        "pageSizeSelection": "[5,10,20,50]"
      }'>
    </semantic-table>
  </div>

[[/inline]]
<div class="bso-component">
  <mp-event-trigger type="Component.Refresh" targets='["object-map"]'>
    [[#if hideTabs]]
      [[> cardView]]
    [[else]]
      <bs-tabs default-active-key='[[#if view]][[view]][[else]]grid[[/if]]'>
        
      <bs-tab event-key="grid" title="[[i18n "grid" bundle="bso"]]" >
        [[> cardView]]
      </bs-tab>

        <bs-tab event-key="list" title="[[i18n "list" bundle="bso"]]">
          <div class="panelView">
            <semantic-table 
              id="panel-result"
              prefetch-labels="false"
              query="SELECT DISTINCT ?subject ?date WHERE {
                OPTIONAL {
                  ?subject dcterms:date ?date .
                }
              } ORDER BY DESC(?score) (?date) ?subject
              [[#if searchLimit]]LIMIT [[searchLimit]][[/if]]" 
              tuple-template='{{> gridTemplate}}'
              no-result-template='<bs-panel class="info">[[i18n "noMatchesFound" bundle="bso"]]</bs-panel>'
              options='{
                "showFilter": false,
                "pageSizeSelection": "[5,10,20,50]"
              }'
            >
              <template id="gridTemplate">
                {{> partial:panelObject iri=subject.value displayMenu="true"}}
              </template>
            </semantic-table>
          </div>
        </bs-tab>
        
        <bs-tab event-key="map" title="[[i18n "map" bundle="bso"]]">
          <div style="height:40rem;width:100%">
              <mp-event-target-refresh id="object-map">
                  <semantic-map
                      id="map-result"
                      query="SELECT DISTINCT ?subject ?wkt WHERE {
                          {
                            ?subject crm:P128_carries?/crm:P138_represents ?place .
                            GRAPH <https://resource.swissartresearch.net/graph/smapshot> {
                              ?place crm:P168_place_is_defined_by ?lat, ?long .
                            }
                            FILTER(DATATYPE(?lat) = wgs:lat && DATATYPE(?long) = wgs:long) .
                            BIND(CONCAT('POINT(', ?long, ' ', ?lat, ')') AS ?wkt0) .
                          } UNION {
                              ?subject a search:Place ;
                                  crmdig:L54_is_same-as/wdt:P625 ?wkt1 .
                          } UNION {
                              ?subject crm:P128_carries?/crm:P138_represents/crmdig:L54_is_same-as/wdt:P625 ?wkt2 .
                          }
                          BIND(IF(BOUND(?wkt0), ?wkt0, IF(BOUND(?wkt1), ?wkt1, ?wkt2)) AS ?wkt) .
                      }
                      [[#if searchLimit]]LIMIT [[searchLimit]][[/if]]"
                      
                      tuple-template='{{> template }}'
                      no-result-template='<bs-alert variant="info">[[i18n "noResultsWithCoordinates" bundle="bso"]]</bs-alert>'
                  >
                      <template id='template'>{{> partial:cardObject [[#if resultsMode]]mode="[[resultsMode]]"[[/if]] noFallback="true"}}</template>
                  </semantic-map>
              </mp-event-target-refresh>
          </div>
        </bs-tab>
      </bs-tabs>
      [[/if]]
    </mp-event-trigger>
    <div class="bso-component button-set">
      <sari-copy-query-to-clipboard id="query-copy" query="SELECT * WHERE { }">            
        <button class="btn btn-secondary">
          <i class="fa fa-copy"></i> [[i18n "copyQuery" bundle="bso"]]
        </button>
      </sari-copy-query-to-clipboard>
      <mp-sparql-download 
        id="query-csv-download"
        query="SELECT * WHERE {
          ?subject rdfs:label ?label .
          OPTIONAL {
            ?subject a search:Object ;
              crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point ?iiif .
          }
        }" 
        header="text/csv" 
        filename="bso-data-[[currentDateTime format="yyyy-MM-dd HH:mm"]].csv">
        <button class="btn btn-secondary">
          [[i18n "downloadCSV" bundle="bso"]]
        </button>
      </mp-sparql-download>
    </div>
  </div>