[[> partial:pageHeader]]
[[> partial:contentHeader]]

<bs-row>
    <bs-col md="12" class="bso-component panel">

       <h2>Visual Similarity Examples</h2>


       <semantic-table
            query="SELECT ?subject ?num_classification WHERE {
                {
                    SELECT DISTINCT ?subject (COUNT(?classification) as ?num_classification) WHERE {
                        ?subject crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point ?image .
                        ?classification crm:P140_assigned_attribute_to ?image ;
                            crm:P33_used_specific_technique <https://github.com/swiss-art-research-net/bso-image-similarity> .
                    } 
                    GROUP BY ?subject
                }
                FILTER(?num_classification > 4)
            } LIMIT 5"
            options='{
                "showFilter": false
            }'
            tuple-template="{{> template}}"
        >
            <template id="template">
                <div>
                    <h3><semantic-link iri="{{subject.value}}"></semantic-link></h3>
                    {{> partial:cardObject}}
                    <semantic-table
                        query="SELECT ?subject WHERE {
                            <{{subject.value}}> crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point ?image .
                                ?classification crm:P140_assigned_attribute_to ?image ;
                                crm:P141_assigned/^la:access_point/^la:digitally_available_via/^la:digitally_shown_by/^crm:P128_carries ?subject ;
                                crm:P33_used_specific_technique <https://github.com/swiss-art-research-net/bso-image-similarity> .
                        }"
                        options='{
                            "showFilter": false
                        }'
                        tuple-template="{{> partial:cardObject}}"
                </div>
            </template>
       </semantic-table>

       <!-- <div class="bso-component card-container">
        <semantic-table
        query="SELECT DISTINCT ?subject WHERE {
            ?subject crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point ?image .
            ?classification crm:P140_assigned_attribute_to ?image ;
                crm:P33_used_specific_technique <https://github.com/swiss-art-research-net/bso-image-similarity> .
        } LIMIT 10"
        tuple-template="{{> partial:cardObject}}"
        options='{
            "showFilter": true,
            "pageSizeSelection": "[5,10,20,50]"
        }'
>
        </semantic-table>
    </div>
                            -->
    </bs-col>
</bs-row>




[[> partial:contentFooter]]
[[> partial:pageFooter]]