<semantic-search
limit='100000'
categories='{
  "<http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span>": [{
    "kind": "date-range",
    "queryPattern": "{
      $subject ?__relation__ ?date .
      FILTER(?date >= ?__dateBeginValue__ && ?date <= ?__dateEndValue__)
    }"
  }]
}'
search-profile='{
    "categories": [
        {"iri": "<http://rs.swissartresearch.net/search/Object>", "label": "Object", "thumbnail": "../images/fcs/things.svg"},
        {"iri": "<http://rs.swissartresearch.net/search/Person>", "label": "Person", "thumbnail": "../images/fcs/actors.svg"},
        {"iri": "<http://rs.swissartresearch.net/search/Place>", "label": "Place", "thumbnail": "../images/fcs/places.svg"},
        {"iri": "<http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span>", "label": "Time", "thumbnail": "../images/fcs/dates.svg"},
        {"iri": "<http://rs.swissartresearch.net/search/Type>", "label": "Type", "thumbnail": "../images/fcs/concepts.svg"},
        {"iri": "<http://rs.swissartresearch.net/search/Concept>", "label": "Concept", "thumbnail": "../images/fcs/concepts.svg"}
      ],
    "relations": [
      {
        "iri": "<http://rs.swissartresearch.net/Thing_by_Actor>",
        "hasDomain": "<http://rs.swissartresearch.net/search/Object>",
        "hasRange": "<http://rs.swissartresearch.net/search/Person>",
        "label": "by"
      },
      {
        "iri": "<http://rs.swissartresearch.net/Thing_held_by_Actor>",
        "hasDomain": "<http://rs.swissartresearch.net/search/Object>",
        "hasRange": "<http://rs.swissartresearch.net/search/Person>",
        "label": "held by"
      },
      {
        "iri": "<http://rs.swissartresearch.net/Thing_from_Time>",
        "hasDomain": "<http://rs.swissartresearch.net/search/Object>",
        "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span>",
        "label": "from"
      },
      {
        "iri": "<http://rs.swissartresearch.net/Thing_depicts_Place>",
        "hasDomain": "<http://rs.swissartresearch.net/search/Object>",
        "hasRange": "<http://rs.swissartresearch.net/search/Place>",
        "label": "depicts"
      },
      {
        "iri": "<http://rs.swissartresearch.net/Thing_depicts_Type>",
        "hasDomain": "<http://rs.swissartresearch.net/search/Object>",
        "hasRange": "<http://rs.swissartresearch.net/search/Type>",
        "label": "depicts"
      },
      {
        "iri": "<http://rs.swissartresearch.net/Actor_carried_out_creations_of_Type>",
        "hasDomain": "<http://rs.swissartresearch.net/search/Person>",
        "hasRange": "<http://rs.swissartresearch.net/search/Type>",
        "label": "acted as"
      }
    ]
  }'
relations='{
  "<http://rs.swissartresearch.net/Thing_by_Actor>": [{
    "kind": "resource",
    "queryPattern": "
      {
        ?subject crm:P128_carries/crm:P94i_was_created_by/crm:P14_carried_out_by ?__value__ .
      }
    "
  }],
  "<http://rs.swissartresearch.net/Thing_held_by_Actor>": [{
    "kind": "resource",
    "queryPattern": "
      {
        ?subject crm:P109_has_former_or_current_curator ?__value__ .
      }
    "
  }],
  "<http://rs.swissartresearch.net/Thing_depicts_Place>": [{
    "kind": "resource",
    "queryPattern": "
      {
        ?subject crm:P128_carries/crm:P138_represents ?__value__ .
        ?__value__ a search:Place .
      }
    "
  }],
  "<http://rs.swissartresearch.net/Thing_depicts_Type>": [{
    "kind": "resource",
    "queryPattern": "
      {
        ?subject crm:P128_carries/crm:P138_represents ?__value__ .
        ?__value__ a search:Type .
      }
    "
  }],
  "<http://rs.swissartresearch.net/Thing_from_Time>": [{
    "kind": "date-range",
    "queryPattern": "
      {
        ?subject (crm:P108i_was_produced_by|(crm:P128_carries/crm:P94i_was_created_by))/crm:P4_has_time-span ?date .
        ?date crm:P82a_begin_of_the_begin ?begin ;
          crm:P82b_end_of_the_end ?end .
        FILTER(STRDT(STR(?begin), xsd:date) <= ?__dateEndValue__) .
        FILTER(STRDT(STR(?end), xsd:date) >= ?__dateBeginValue__) .
      }
    "
  }],
  "<http://rs.swissartresearch.net/Actor_carried_out_creations_of_Type>": [{
    "kind": "resource",
    "queryPattern": "
      {
        ?creation crm:P14_carried_out_by ?subject ;
          crm:P2_has_type ?__value__ .
    }"
  }]
}'
>

  [[> @partial-block ]]

  <semantic-search-facet-breadcrumbs>
  </semantic-search-facet-breadcrumbs>

  <semantic-search-query-keyword-type id='keywordTypeQuery1'>
  </semantic-search-query-keyword-type>
  
  <semantic-search-facet
    open-by-default="true"
    value-relations='{
      "<http://rs.swissartresearch.net/Thing_from_Time>": {
        "kind": "date-range",
        "valuesQuery":"
          SELECT ?dateBeginValue ?dateEndValue WHERE {
            ?subject (crm:P108i_was_produced_by|(crm:P128_carries/crm:P94i_was_created_by))/crm:P4_has_time-span ?date .
            ?date crm:P82a_begin_of_the_begin ?dateBeginValue ;
              crm:P82b_end_of_the_end ?dateEndValue .
          } ORDER BY ?dateBeginValue"
      }
    }'
  >

  </semantic-search-facet>

  <semantic-search-result-holder>

    <semantic-search-result>
      <div class="panelView">
        <semantic-table 
          id="panel-result"
          prefetch-labels="false"
          query="SELECT DISTINCT ?subject WHERE {} ORDER BY ?subject" 
          tuple-template='{{> gridTemplate}}'
          options='{"showFilter": false}'
        >
          <template id="gridTemplate">
            {{> partial:panelObject iri=subject.value displayMenu="true"}}
          </template>
        </semantic-table>
      </div>
    </semantic-search-result>

  </semantic-search-result-holder>

</semantic-search>