[[> partial:pageHeader]]
[[> partial:contentHeader]]

<div class="bso-component simple-search">
    <semantic-simple-search
        query="
        SELECT ?resource ?label ?typeLabel WHERE {
        ?resource a ?type ;
            rdfs:label ?label .
        ?type rdfs:label ?typeLabel .
        VALUES(?type){
            (search:Person)
            (search:Object)
            (search:Place)
            (search:Type)
        }
        ?label bds:search ?__token__ .
        } LIMIT 10"
    template='{{>template}}'
    input-placeholder='Search for something'
    >
        <template id="template">
            <span title="{{resource.value}}">{{label.value}} ({{typeLabel.value}})</span>
        </template>
    </semantic-simple-search>
</div>

<div class="gap">
    <bs-row>
        <bs-col md="6">
            <bs-panel>
                <h3>Images</h3>
                [[> resourceSummary type='search:Object' label='images']]
                [[#> imageSummary type='search:Object' ]]
                [[/ imageSummary]]
            </bs-panel>
        </bs-col>
        <bs-col md="6">
            <bs-panel>
                <h3>Persons</h3>
                [[> resourceSummary type='search:Person' label='persons']]
                [[#> imageSummary type='search:Person' ]]
                    ?subject crmdig:L54_is_same-as/wdt:P18 ?image .
                [[/ imageSummary]]
                </semantic-query>
            </bs-panel>
        </bs-col>
    </bs-row> 
</div>

<div class="gap">
    <bs-row>
        <bs-col md="6">
            <bs-panel>
                <h3>Places</h3>
                [[> resourceSummary type='search:Place' label='places']]
                [[#> imageSummary type='search:Place' ]]
                    ?subject crmdig:L54_is_same-as/wdt:P18 ?image .
                [[/ imageSummary]]
            </bs-panel>
        </bs-col>
        <bs-col md="6">
            <bs-panel>
                <h3>Concepts</h3>
                [[> resourceSummary type='search:Type' label='concepts']]
                [[#> imageSummary type='search:Type' ]]
                    ?subject crmdig:L54_is_same-as/wdt:P18 ?image .
                [[/ imageSummary]]
            </bs-panel>
        </bs-col>
    </bs-row> 
</div>

[[#*inline "imageSummary"]]
    <semantic-query
    query="SELECT ?subject WHERE {
        ?subject a [[type]] .
        [[> @partial-block ]]
    } LIMIT 50"
    template="{{> template-image-summary}}"
    >
    <template id="template-image-summary">
        <div>
            {{#each bindings}}
                <div class="bso-component mini-thumbnail">
                    <mp-resource-thumbnail iri={{subject.value}}></mp-resource-thumbnail>
                </div>
            {{/each}}
        </div>
    </template>
    </semantic-query>
[[/inline]]

[[#*inline "resourceSummary"]]
    <semantic-query
        query="SELECT (COUNT(?subject) as ?num) WHERE {
            ?subject a [[type]] .
        }"
        template="{{#each bindings}}There are currently {{num.value}} [[label]] in the database.{{/each}}"
    ></semantic-query>
[[/inline]]

[[> partial:pageFooter]]
[[> partial:contentFooter]]
