<mp-field-visualization subject="[[urlParam param]]" fields='[[> partial:fieldDefinitions]]' template="{{> template}}">
<template id="template">
  <dl>
    {{#each fields as |field|}}
      {{#ifCond field.display "==" "hidden"}}
      {{else}}
        {{#if field.values}}
          <dt>{{field.label.0.value}}</dt>
          {{#each field.values as |value|}}
            <dd>
            {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#anyURI"}}
              <semantic-link iri="{{value.value.value}}"></semantic-link>
            {{else}}
              {{#if value.label}}
                {{ value.label }}
              {{else}}
                {{ value.value.value }}
              {{/if}}
            {{/ifCond}}
            </dd>
          {{/each}}
        {{/if}}
      {{/ifCond}}
    {{/each}}
  </dl>
</template>
</mp-field-visualization>