[[> partial:pageHeader]]

  
<semantic-search
limit="100"
>
  <div class="bso-component main">
    <div class="bso-component panel">
      <bs-row>
        <bs-col sm="12">
          <h3>[[i18n "searchAI" bundle="bso"]]</h3>
          <p class="bso-component article-text">
            Enter a description for an image and the system will try to find an image in the BSO collection that matches the description.<br>
          </p>
          <mp-text-truncate lines="1" expand="{{> expand}}" collapse="{{> collapse}}">
            <template id="expand"><p style="color: gray;"><a>[[i18n "readMore" bundle="bso"]]</a></p></template>
            <template id="collapse"><span style="color: gray;"><a>[[i18n "showLess" bundle="bso"]]</a></span></template>
            <p class="bso-component article-text">
              <br>
              This search uses <a href="https://github.com/openai/CLIP">CLIP</a>, an artificial neural network trained on a very large collection of images and their captions. 
              Using CLIP, it is possible to calculate the similarity between a text and images. The search returns the images from the collection that match the entered text most closely.
            </p>
            <p class="bso-component article-text">
              The search always returns results, even when the collection does not contain any image that closely matches the search text.
              Therefore the search will work better for things that actually appear in the collection (e.g. 'a mountain', 'a group of people', 'sailboats on a lake')
              than for things that are unlikely to be present (e.g. 'a spaceship', 'brutalist architecture').
            </p>
            <p class="bso-component article-text">
              As CLIP has been trained on english captions, the search will work better for english text than for other languages.
            </p>
          </mp-text-truncate>
          <bs-row>
            <bs-col sm="12" md="1">
              <span class="bso-component label">[[i18n "search" bundle="bso"]]</span>
            </bs-col>
            <bs-col sm="12" md="11">
              <semantic-search-keyword-prefetch
                query='
                  PREFIX  clip: <https://service.swissartresearch.net/clip/>
                  SELECT * WHERE {
                      SERVICE <http://clip-service:5000/sparql> {
                        ?request a clip:Request ;
                          clip:queryString ?__token__ ;
                          clip:minScore "0.2" ;
                          clip:score ?score ;
                          clip:iiifUrl ?subject .
                      } 
                  }'
              ></semantic-search-keyword-prefetch>
            </bs-col>
          </bs-row>
        </bs-col>
      </bs-row>
    </div>

    <div class="bso-component panel dark separator">

      <semantic-search-result-holder>
        <semantic-search-result>
          <mp-sparql-result-counts 
            id="search_results_count"
            query="SELECT DISTINCT ?subject {}"
            template='<div>{{#if hasLimit}} <bs-alert variant="warning"> Showing {{numberOfResults}} of {{totalNumberOfResults}} matches. <strong>Please, refine your search.</strong> </bs-alert> {{else}} <p>Found <em>{{numberOfResults}}</em> results</p>{{/if}}</div>'>
          </mp-sparql-result-counts>
          
          <div class="bso-component card-container">
              
          <semantic-table id='table' 
            query='SELECT * WHERE { } ORDER BY DESC(?score)'
            current-page="1"
            prefetch-labels="false"
            tuple-template='{{> template }}'
            options='{
              "showFilter": false,
              "pageSizeSelection": true
            }'
            >
              <template id="template">
                <semantic-query
                  query="SELECT ?subject WHERE {
                    BIND(<{{subject.value}}> as ?iiif)
                    ?subject crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point ?iiif .
                  } LIMIT 1"
                  template="{{> partial:cardObject mode='fullImage' subject=bindings.0.subject}}"></semantic-query>
              </template>
            </semantic-table>
            </div>
        </semantic-search-result>
      </semantic-search-result-holder>
    </div>
  </div>
</semantic-search>

[[> partial:pageFooter]]