[[> partial:RDSFieldDefinitions]]

[[> partial:pageHeader]]

[[#*inline "thisIri"]][[urlParam "entityiri"]][[/inline]]

[[#*inline "thisForQuery"]]
    <[[> thisIri]]>
[[/inline]]

<div class="d-flex flex-md-row flex-column">
    <div class="bso-component separator sidebar image-display">

        <img src="/images/fcs/actors.svg" width="200">
    </div>
    <div class="bso-component main">
        <div class="bso-component panel">
            [[> edit-person-form edit=(urlParam "entityiri")]]
        </div>
    </div>
</div>

[[#*inline "edit-person-form"]]
    [[#if edit]]
        <h2>[[i18n "edit" bundle="bso"]] <mp-label iri="[[> thisIri]]"></mp-label></h2>
    [[else]]
        <h2>[[i18n "addNewPerson" bundle="bso"]]</h2>
    [[/if]]

    <semantic-form
        id="newPerson"
        [[#if edit]]
            subject="[[> thisIri]]"
        [[else]]
            new-subject-template="https://resource.swissartresearch.net/actor/{{UUID}}"
        [[/if]]
        persistence="ldp"
        form-id="persons"
        post-action="redirect"
        fields='[
            [[> SameAs]],
            [[> Type-hidden ]],
            [[> Person_Name ]],
            [[> Person_Gender ]]
        ]'
    >
        <semantic-form-hidden-input for="Type-hidden" replace-values='["http://www.cidoc-crm.org/cidoc-crm/E39_Actor", "http://www.cidoc-crm.org/cidoc-crm/E21_Person", "[[resolvePrefix 'search:Person']]"]'></semantic-form-hidden-input>
        
        <semantic-form-composite-input 
            for="Person_Name"
            new-subject-template="/appellation/{{Person_Name-Value}}"
            fields='[
                [[> Person_Name-Value ]],
                [[> Person_Name_Part ]]
            ]'>
            <semantic-form-text-input 
                for="Person_Name-Value"
                languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
            </semantic-form-text-input>
            <semantic-form-text-input for="Person_Name_Part"></semantic-form-text-input>
        </semantic-form-composite-input>

        <semantic-form-autocomplete-input
            for="SameAs"
            value-binding-name="subject"
            lookup-query='{
                "type": "lookup",
                "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
                "limit": 20,
                "lookupServiceName": "federated-lookup"
                }'
            template='{{> autocompletionTemplate}}'>
            [[> autocompletionTemplate]]
        </semantic-form-autocomplete-input>

        <semantic-form-select-input for="Person_Gender"></semantic-form-select-input>

        <semantic-form-errors></semantic-form-errors>
        <div class="bso-component button-set">
            [[#if edit]]
                <semantic-link
                    iri="[[edit]]"
                >
                    <button class="btn btn-secondary">[[i18n "cancel" bundle="bso"]]</button>
                </semantic-link>
            [[else]]
                <button name='reset' class='btn btn-secondary'>[[i18n "reset" bundle="bso"]]</button>
            [[/if]]
            <button name='submit' class='btn btn-primary'>[[i18n "save" bundle="bso"]]</button>
        </div>
    </semantic-form>
[[/inline]]


[[#*inline "autocompletionTemplate"]]
<template id='autocompletionTemplate'>
    [[> partial:lookupCandidateTemplate]]
</template>
[[/inline]]

[[> partial:pageFooter]]