[[> partial:pageHeader]]

<div class="bso-component object header">
    <bs-row>
        <bs-col class="image" sm="2">
            <mp-resource-thumbnail iri="[[urlParam "objectiri"]]">
                <mp-resource-thumbnail-fallback>
                    <span>Image not found!</span>
                </mp-resource-thumbnail-fallback>
            </mp-resource-thumbnail>
        </bs-col>
        <bs-col sm="10">
            <div class="title">
                <mp-label iri="[[urlParam "objectiri"]]"></mp-label>
            </div>
            <div class="description">
                <mp-description iri="[[urlParam "objectiri"]]"></mp-description>
            </div>
        </bs-col>
    </bs-row>
</div>

[[> partial:contentHeader padding=true]]

<semantic-form
    subject='[[urlParam "objectiri"]]'
    persistence='ldp'
    fields='[[> partial:fieldDefinitions]]'
    post-action='page:viewObject'
    urlqueryparam-objectiri='[[urlParam "objectiri"]]'
>

    <semantic-form-text-input for="label"></semantic-form-text-input>
    <semantic-form-autocomplete-input for="object_depicts" template="{{> template}}">
        <template id="template">
            {{label.value}} ({{typeLabel.value}})
        </template>
    </semantic-form-autocomplete-input>
    <semantic-form-composite-input
        for="object_subcreations"
        fields='[[> partial:fieldDefinitions]]'
        new-subject-template="/subcreation/{{UUID}}"
       
    >
        <semantic-form-select-input for="P14_carried_out_by"></semantic-form-select-input>
        <semantic-form-select-input for="P2_has_type"></semantic-form-select-input>
    </semantic-form-composite-input>

    <button name="submit" class="btn btn-primary">Save</button>
    <button name="reset" class="btn btn-secondary">Reset</button>

</semantic-form>

[[> partial:contentFooter padding=true]]
[[> partial:pageFooter]]