[[> partial:fieldDefinitionsInline]]

[[> partial:pageHeader]]
[[> partial:contentHeader]]

[[#*inline "thisIri"]][[#if objectiri]][[objectiri]][[else]][[urlParam "objectiri"]][[/if]][[/inline]]

[[#*inline "thisForQuery"]]
    <[[> thisIri]]>
[[/inline]]

[[#if (urlParam "subjectiri")]]
<style>
    nav.bso-component.view-selector.nav.nav-tabs {
        display:none;
    }
</style>
[[/if]]

<bs-row>
    <bs-col md="4" class="bso-component separator image-display">

        <semantic-query
            query="SELECT ?subject WHERE {
                BIND([[> thisForQuery]] as ?subject)   
            }"
            template="{{> template}}"
        >
        <template id="template">
            {{#each bindings}}
                {{> partial:cardObject}}
            {{/each}}
        </template>
    </bs-col>

    <bs-col md="8" class="bso-component panel">

       <h2>[[#if (urlParam "subjectiri")]][[i18n "editData" bundle="bso"]][[else]][[i18n "addNewData" bundle="bso"]][[/if]]</h2>

        [[#if (hasPermission "api:ldp:*")]]
            [[#if (urlParam "subjectiri")]]
            [[else]]
                <p>[[i18n "addDataAbout" bundle="bso"]]</p>
            [[/if]]

            <semantic-if
                query="ASK { [[>thisForQuery]] a ?type .
                    VALUES (?type) {
                        (search:Person)
                        (search:Place)
                        (search:Type)
                        (search:Event)
                        (search:BibliographicItem)
                    }
                }"
                then="{{> entity-data-form-template}}"
            >
                <template id="entity-data-form-template">
                    <bs-tabs class="bso-component view-selector" default-active-key="[[urlParam "form"]]">
                        <bs-tab event-key="entity_labels" title="[[i18n "labels" bundle="bso"]]">
                            [[> entity_labels]]
                        </bs-tab>
                        <bs-tab event-key="entity_sameas" title="[[i18n "externalLinks" bundle="bso"]]">
                            [[> entity_sameas]]
                        </bs-tab>
                        <bs-tab event-key="entity_references" title="[[i18n "references" bundle="bso"]]">
                            [[> entity_references]]
                        </bs-tab>
                    </bs-tabs>
                </template>
            </semantic-if>
            <semantic-if
                query="ASK { [[>thisForQuery]] a search:Object}"
                then="{{> object-data-form-template}}"
            >
                <template id="object-data-form-template">
                    <bs-tabs class="bso-component view-selector" default-active-key="[[urlParam "form"]]">
                        <bs-tab event-key="object_persons" title="[[i18n "contributors" bundle="bso"]]">
                            [[> object_contributors]]
                        </bs-tab>
                        <bs-tab event-key="object_dates" title="[[i18n "dates" bundle="bso"]]">
                            [[> object_dates]]
                        </bs-tab>
                        [[#if (urlParam "form")]]
                            <bs-tab event-key="object_subproduction" title="[[i18n "production" bundle="bso"]]">
                                [[> object_subproduction]]
                            </bs-tab>
                            <bs-tab event-key="object_subcreation" title="[[i18n "creation" bundle="bso"]]">
                                [[> object_subcreation]]
                            </bs-tab>
                        [[/if]]
                        <bs-tab event-key="object_work_depicts" title="[[i18n "depicts" bundle="bso"]]" >
                            [[> object_work_depicts]]
                        </bs-tab>
                        <bs-tab event-key="entity_labels" title="[[i18n "labels" bundle="bso"]]">
                            [[> entity_labels]]
                        </bs-tab>
                        <bs-tab event-key="entity_references" title="[[i18n "references" bundle="bso"]]">
                            [[> entity_references]]
                        </bs-tab>
                        <bs-tab event-key="entity_sameas" title="[[i18n "externalLinks" bundle="bso"]]">
                            [[> entity_sameas]]
                        </bs-tab>
                    </bs-tabs>
                </template>
            </semantic-if>
            <semantic-if
                    query="ASK { [[>thisForQuery]] a crmdig:D35_Area}"
                    then="{{> template}}"
            >
                <template id="template">
                    <bs-tabs class="bso-component view-selector" default-active-key="[[urlParam "form"]]">
                        <bs-tab event-key="region_depicts" title="[[i18n "depicts" bundle="bso"]]" >
                            [[> region_depicts]]
                        </bs-tab>
                    </bs-tabs>
                </template>
            </semantic-if>
        [[else]]
            <bs-alert variant="warning">
                [[i18n "noPermissionToAccessPage" bundle="bso"]]
            </bs-alert>
        [[/if]]
    </bs-col>
</bs-row>

[[> partial:contentFooter]]
[[> partial:pageFooter]]

<mp-event-proxy on-event-type="Form.ResourceCreated" proxy-event-type="Dialog.HideAll"></mp-event-proxy>

[[#* inline "add-new-person"]]
    <mp-overlay-dialog title="[[i18n "addNewPerson" bundle="bso"]]" type="lightbox">
        <mp-overlay-dialog-trigger>
            <div class="bso-component gap-small">
                <button class="btn btn-secondary btn-xs">[[i18n "createNewPerson" bundle="bso"]]</button>
            </div>
        </mp-overlay-dialog-trigger>
        <mp-overlay-dialog-content>
            <mp-page-loader iri="page:editPerson" 
                urlqueryparam-overlay="true" 
                urlqueryparam-redirect="event">
            </mp-page-loader>
        </mp-overlay-dialog-content>
    </mp-overlay-dialog>
[[/inline]]

[[#* inline "entity_labels"]]
<div class="bso-component separator next-step">
    <div class="bso-component form-content">
        [[i18n "labels" bundle="bso"]]
        <semantic-form
            subject="[[urlParam "subjectiri"]]"
            new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
            fields='[[> partial:fieldDefinitions ]]'
            post-action='[[> thisIri]]'
            urlqueryparam-view='page'
        >
            <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForEntity"]]#entity_labels"></semantic-form-hidden-input>

            <semantic-form-hidden-input for="type" replace-value="[[resolvePrefix "crm:E13_Attribute_Assignment"]]"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="P140_assigned_attribute_to" replace-value="[[>thisIri]]"></semantic-form-hidden-input>
            
            <semantic-form-text-input for="rdfs_label_as_P141_to_proposition_subject" languages='["de", "fr", "it", "en"]'></semantic-form-text-input>
            
            <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
        </semantic-form>
    </div>
</div>
[[/inline]]

[[#* inline "entity_references"]]
<div class="bso-component separator next-step">
    <div class="bso-component form-content">
        [[i18n "references" bundle="bso"]]
        <semantic-form
            subject="[[urlParam "subjectiri"]]"
            new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
            fields='[[> partial:fieldDefinitions ]]'
            post-action='[[> thisIri]]'
            urlqueryparam-view='page'
        >
            <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForEntity"]]#entity_references"></semantic-form-hidden-input>

            <semantic-form-hidden-input for="type" replace-value="[[resolvePrefix "crm:E13_Attribute_Assignment"]]"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="type" replace-value="[[resolvePrefix "oa:Annotation"]]"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="P140_assigned_attribute_to" replace-value="[[> thisIri]]"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="P177_assigned_property_of_type" replace-value="[[resolvePrefix "crm:P67_refers_to"]]"></semantic-form-hidden-input>

            
            <semantic-form-autocomplete-input droppable='{
                    "query": "ASK { ?subject a frbroo:F24_Publication_Expression }"
                }'
                for="P141_assigned_publication">
            </semantic-form-autocomplete-input>
            <semantic-form-text-input for="page_number_for_assigned_reference"></semantic-form-text-input>
            <semantic-form-text-input for="rdfs_label"></semantic-form-text-input>
        
            <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
        </semantic-form>
    </div>
</div>
[[/inline]]

[[#* inline "entity_sameas"]]
<div class="bso-component separator next-step">
    <div class="bso-component form-content">
        [[i18n "externalLinks" bundle="bso"]]
        <semantic-form
            subject="[[urlParam "subjectiri"]]"
            new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
            fields='[[> partial:fieldDefinitions ]]'
            post-action='[[> thisIri]]'
            urlqueryparam-view='page'
        >
            <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForEntity"]]#entity_sameas"></semantic-form-hidden-input>

            <semantic-form-hidden-input for="type" replace-value="[[resolvePrefix "crm:E13_Attribute_Assignment"]]"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="P140_assigned_attribute_to" replace-value="[[>thisIri]]"></semantic-form-hidden-input>
            
            <p>[[i18n "externalLinksFormInfo" bundle="bso"]]</p>
            <bs-tabs>
                <bs-tab event-key="documented_in" title="[[i18n "field_is_documented_in" bundle="bso"]]">
                    <semantic-form-composite-input 
                        for="P70i_is_documented_in_as_P141_to_proposition_subject"
                        new-subject-template="{{url_as_subject}}"
                        new-subject-template-settings='{
                            "placeholders": {
                              "url_as_subject": {
                                "disallowRegex": " ",
                                "replaceCharacter": ""
                              }
                            }
                         }'
                        fields='[
                         [[> url_as_subject]],
                         [[> rdfs_label]]
                        ]'
                    >
                        <semantic-form-text-input for="url_as_subject"></semantic-form-text-input>
                        <semantic-form-text-input for="rdfs_label"></semantic-form-text-input> 

                    </semantic-form-composite-input>
                </bs-tab>
                <bs-tab event-key="sameAs" title="[[i18n "field_same_as" bundle="bso"]]">
                    <semantic-form-text-input for="L54_is_same-as_as_P141_to_proposition_subject"></semantic-form-text-input>
                </bs-tab>
            </bs-tabs>
            <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
        </semantic-form>
    </div>
</div>
[[/inline]]

[[#* inline "object_contributors"]]

<mp-event-target-template-render id="object_contributors_next_step" template="{{> object_contributors_template}}">
    <template id="object_contributors_template">
        {{#if role}}
            <mp-event-proxy
                on-event-type="Form.ResourceCreated"
                proxy-event-type="Component.TemplateUpdate"
                proxy-targets='["object_contributors_next_step"]' 
                data='{
                    "role": "{{role}}",
                    "entityCreated": true
                }'
            ></mp-event-proxy>
            <div class="bso-component separator next-step">
                <div class="bso-component form-content">
                    [[i18n "addContributor" bundle="bso"]]: <mp-label iri="{{role}}"></mp-label>

                    <semantic-query
                        query='SELECT ?context ?role ?node ?form {{#if entityCreated}}?lastEntityCreated{{/if}} WHERE { 
                            BIND(<{{role}}> as ?role)
                            {{#if entityCreated}}
                                {
                                    SELECT ?lastEntityCreated WHERE {
                                        Platform:formContainer ldp:contains ?container .
                                        ?container prov:generatedAtTime ?dateCreated
                                        BIND(URI(STRBEFORE(STR(?container), "/container")) as ?lastEntityCreated)
                                    } ORDER BY DESC(?dateCreated) LIMIT 1
                                }
                            {{/if}}
                            ?role skos:broader?/skos:relatedMatch ?context .
                            VALUES (?context ?node ?form) {
                                (crm:E12_Production "production" "object_subproduction")
                                (crm:E11_Modification "production" "object_subproduction")
                                (crm:E65_Creation "creation" "object_subcreation")
                            }
                        } LIMIT 1'
                        template="{{> form-template}}"
                        no-result-template="<p>No context found for role.</pageHeader>">
                        <template id="form-template">
                            {{#each bindings}}
                                <div>
                                    <p>[[i18n "context" bundle="bso"]]: <mp-label iri="{{context.value}}"></mp-label></p>
                                    <semantic-form
                                        subject="[[urlParam "subjectiri"]]"
                                        new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
                                        fields='[[> partial:fieldDefinitions ]]'
                                        post-action='[[> thisIri]]'
                                        urlqueryparam-view='page'
                                    >
                                        <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
                                        <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForEntity"]]#{{form.value}}"></semantic-form-hidden-input>
                            
                                        <semantic-form-hidden-input for="P9_consists_of-reversed" replace-value="[[> thisIri]]/{{node.value}}"></semantic-form-hidden-input>
                                        <semantic-form-hidden-input for="type" replace-value="{{context.value}}"></semantic-form-hidden-input>
                                        <semantic-form-hidden-input for="P2_has_type" replace-value="{{role.value}}"></semantic-form-hidden-input>

                                        {{#if lastEntityCreated}}
                                            <semantic-form-autocomplete-input
                                                for="P14_carried_out_by"
                                                default-value="{{lastEntityCreated.value}}"
                                            ></semantic-form-autocomplete-input>
                                        {{else}}
                                            <semantic-form-autocomplete-input
                                                for="P14_carried_out_by"
                                            ></semantic-form-autocomplete-input>
                                        {{/if}}
                                        [[> add-new-person]]
                                        
                                        <semantic-form-composite-input
                                            for='P4_has_time-span'
                                            new-subject-template='/date'
                                            fields='[[> partial:fieldDefinitions ]]'
                                        >
                                            <semantic-form-text-input for="label"></semantic-form-text-input>
                                            <semantic-form-text-input for="date_from"></semantic-form-text-input>
                                            <semantic-form-text-input for="date_to"></semantic-form-text-input>
                                        </semantic-form-composite-input>
                                            
                                        <semantic-form-autocomplete-input
                                            for="P7_took_place_at"
                                            value-binding-name="subject"
                                            lookup-query='{
                                                "type": "lookup",
                                                "limit": 20,
                                                "lookupServiceName": "federated-lookup",
                                                "entityType": "[[resolvePrefix "rds:Place"]]"
                                            }'
                                            template='{{> autocompletionTemplate}}'>
                                            <template id='autocompletionTemplate'>
                                                [[> partial:lookupCandidateTemplate]]
                                            </template>
                                        </semantic-form-autocomplete-input>

                                        <semantic-form-composite-input
                                            for="P70i_is_documented_in"
                                            new-subject-template="/reference/{{UUID}}"
                                            fields='[
                                                [[> type ]],
                                                [[> rdfs_label]],
                                                [[> P165i_is_incorporated_in]],
                                                [[> page_number_for_assigned_reference]]
                                            ]'
                                        >
                                            <semantic-form-hidden-input for="type" replace-value='[[resolvePrefix "frbroo:F23_Expression_Fragment"]]'></semantic-form-hidden-input>
                
                                            <semantic-form-autocomplete-input droppable='{
                                                    "query": "ASK { ?subject a frbroo:F24_Publication_Expression }"
                                                }'
                                                for="P165i_is_incorporated_in">
                                            </semantic-form-autocomplete-input>
                                            <semantic-form-text-input for="page_number_for_assigned_reference"></semantic-form-text-input>
                                            <semantic-form-text-input for="rdfs_label"></semantic-form-text-input>
                                        </semantic-form-composite-input>

                                        <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
                                    </semantic-form>
                                
                                </div>
                            {{/each}}
                        </template>
                    </semantic-query>
                </div>
            </div>
        {{else}}
            <div class="bso-component separator next-step">
                <div class="bso-component form-content">
                    <p>Select the role of the contributor you'd like to add</p>
                    <semantic-tree query="
                    SELECT ?node ?parent WHERE {
                        BIND(iqvoc:_d4e308db as ?root)
                        ?root skos:narrower* ?node .
                        ?parent skos:narrower ?node .
                        ?node skos:prefLabel ?label .
                    } ORDER BY ?label"
                        tuple-template='{{> node}}'
                    >
                        <template id="node">
                            <span>
                                {{#ifCond node.value "==" "https://iqvoc.swissartresearch.net/_4c28919d"}}
                                    <mp-label iri="{{node.value}}"></mp-label>
                                {{else}}
                                    <mp-event-trigger type="Component.TemplateUpdate" targets='["object_contributors_next_step"]' data='{"role": "{{node.value}}"}'>
                                        <a><mp-label iri="{{node.value}}"></mp-label></a>
                                    </mp-event-trigger>
                                {{/ifCond}}
                            </span>
                        </template>
                    </semantic-tree>
                </div>
            </div>
        {{/if}}
    </template>
</mp-event-target-template-render>
[[/inline]]

[[#* inline "object_dates"]]

<div class="bso-component separator next-step">
    <div class="bso-component form-content">
        [[#if (urlParam "subjectiri")]]
            <semantic-query query="SELECT ?context ?contextLabel WHERE {
                    BIND(<[[urlParam 'subjectiri']]> as ?subject)
                    ?event crm:P9_consists_of ?subject ;
                        a ?type .
                    VALUES(?type ?context ?contextLabel) {
                        (crm:E12_Production 'production' '[[i18n "production" bundle="bso"]]')
                        (crm:E65_Creation 'creation' '[[i18n "creation" bundle="bso"]]')
                    }
                }"
                template="{{> template}}"    
            >
                <template id="template">
                    <p>[[i18n "context" bundle="bso"]]: {{bindings.0.contextLabel.value}}</p>
                    {{#ifCond bindings.0.context.value "==" "production"}}
                        Production
                        [[> object_dates_form context="production" type="crm:E12_Production"]]
                    {{else}}
                        Creation
                        [[> object_dates_form context="creation" type="crm:E65_Creation"]]
                    {{/ifCond}}
                </template>
            </semantic-query>
        [[else]]
            <bs-tabs class="bso-component view-selector" default-active-key="object_dates_production">                        
                <bs-tab event-key="context" title="[[i18n "context" bundle="bso"]]"></bs-tab>
                <bs-tab event-key="object_dates_production" title="[[i18n "production" bundle="bso"]]">
                    [[> object_dates_form context="production" type="crm:E12_Production"]]
                </bs-tab>
                <bs-tab event-key="object_dates_creation" title="[[i18n "creation" bundle="bso"]]">
                    [[> object_dates_form context="creation" type="crm:E65_Creation"]]
                </bs-tab>
            </bs-tabs>
        [[/if]]
    </div>
</div>
[[/inline]]

[[#*inline "object_dates_form"]]
<semantic-form
                    subject="[[urlParam "subjectiri"]]"
                    new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
                    fields='[[> partial:fieldDefinitions ]]'
                    post-action='[[> thisIri]]'
                    urlqueryparam-view='page'
                >
        
                    <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
                    <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForEntity"]]#object_dates"></semantic-form-hidden-input>
        
                    <semantic-form-hidden-input for="P9_consists_of-reversed" replace-value="[[> thisIri]]/[[context]]"></semantic-form-hidden-input>
                    <semantic-form-hidden-input for="type" replace-value="[[resolvePrefix type]]"></semantic-form-hidden-input>

                    <semantic-form-composite-input
                        for='P4_has_time-span_single'
                        new-subject-template='/date'
                        fields='[
                            [[> label]],
                            [[> date_from]],
                            [[> date_to]]
                        ]'
                    >
                        <semantic-form-text-input for="label"></semantic-form-text-input>
                        <semantic-form-text-input for="date_from"></semantic-form-text-input>
                        <semantic-form-text-input for="date_to"></semantic-form-text-input>
                    </semantic-form-composite-input>

                    <semantic-form-composite-input
                        for="P140i_was_attributed_by"
                        new-subject-template="/annotation"
                        fields='[
                            [[> type ]],
                            [[> notes ]],
                            [[> P15_was_influenced_by ]],
                            [[> P177_assigned_property_of_type ]],
                            [[> P141_assigned-value_as_last_term_replaced ]]
                        ]'>
                        <semantic-form-hidden-input for="type" replace-values='[ "[[resolvePrefix "oa:Annotation"]]", "[[resolvePrefix "crm:E13_Attribute_Assignment"]]" ]'></semantic-form-hidden-input>
                        <semantic-form-hidden-input for="P177_assigned_property_of_type" replace-value='[[resolvePrefix "crm:P4_has_time-span"]]'></semantic-form-hidden-input>
                        <semantic-form-hidden-input for="P141_assigned-value_as_last_term_replaced" replace-value='date'></semantic-form-hidden-input>
                        
                        <semantic-form-composite-input
                            for="P15_was_influenced_by"
                            new-subject-template="/reference/{{UUID}}"
                            fields='[
                                [[> type ]],
                                [[> rdfs_label]],
                                [[> P165i_is_incorporated_in]],
                                [[> page_number_for_assigned_reference]]
                            ]'
                        >
                            <semantic-form-hidden-input for="type" replace-value='[[resolvePrefix "frbroo:F23_Expression_Fragment"]]'></semantic-form-hidden-input>

                            <semantic-form-autocomplete-input droppable='{
                                    "query": "ASK { ?subject a frbroo:F24_Publication_Expression }"
                                }'
                                for="P165i_is_incorporated_in">
                            </semantic-form-autocomplete-input>
                            <semantic-form-text-input for="page_number_for_assigned_reference"></semantic-form-text-input>
                            <semantic-form-text-input for="rdfs_label"></semantic-form-text-input>
                        </semantic-form-composite-input>

                        <semantic-form-text-input for="notes"></semantic-form-text-input>
                        <semantic-form-errors></semantic-form-errors>

                    </semantic-form-composite-input>

                    <semantic-form-tree-picker-input for="P2_has_type_for_date_type"></semantic-form-tree-picker-input>
        
                    <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
                </semantic-form>
[[/inline]]

[[#* inline "object_subproduction"]]

<div class="bso-component separator next-step">
    <div class="bso-component form-content">
        [[i18n "production" bundle="bso"]]
        <semantic-form
            subject="[[urlParam "subjectiri"]]"
            new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
            fields='[[> partial:fieldDefinitions ]]'
            post-action='[[> thisIri]]'
            urlqueryparam-view='page'
        >
            <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForEntity"]]#object_subproduction"></semantic-form-hidden-input>

            <semantic-form-hidden-input for="P9_consists_of-reversed" replace-value="[[> thisIri]]/production"></semantic-form-hidden-input>
            <semantic-form-select-input for="subproduction_type"></semantic-form-select-input>
            <div>Note: once we have the roles we could determine the subproduction type based on the role (e.g. colouring->E11, engraving->E12)</div>
            <semantic-form-autocomplete-input for="P14_carried_out_by"></semantic-form-autocomplete-input>
            [[> add-new-person]]
            <semantic-form-tree-picker-input for="P2_has_type_for_person_roles"></semantic-form-tree-picker-input>
                                        
            <semantic-form-composite-input
                for='P4_has_time-span'
                new-subject-template='/date/{{UUID}}'
                fields='[[> partial:fieldDefinitions ]]'
            >
                <semantic-form-text-input for="label"></semantic-form-text-input>
                <semantic-form-text-input for="date_from"></semantic-form-text-input>
                <semantic-form-text-input for="date_to"></semantic-form-text-input>
            </semantic-form-composite-input>
                                            
            <semantic-form-autocomplete-input
                for="P7_took_place_at"
                value-binding-name="subject"
                lookup-query='{
                    "type": "lookup",
                    "limit": 20,
                    "lookupServiceName": "federated-lookup",
                    "entityType": "[[resolvePrefix "rds:Place"]]"
                }'
                template='{{> autocompletionTemplate}}'>
                <template id='autocompletionTemplate'>
                    [[> partial:lookupCandidateTemplate]]
                </template>
            </semantic-form-autocomplete-input>

            <semantic-form-composite-input
                for="P70i_is_documented_in"
                new-subject-template="/reference/{{UUID}}"
                fields='[
                    [[> type ]],
                    [[> rdfs_label]],
                    [[> P165i_is_incorporated_in]],
                    [[> page_number_for_assigned_reference]]
                ]'
            >
                <semantic-form-hidden-input for="type" replace-value='[[resolvePrefix "frbroo:F23_Expression_Fragment"]]'></semantic-form-hidden-input>

                <semantic-form-autocomplete-input droppable='{
                        "query": "ASK { ?subject a frbroo:F24_Publication_Expression }"
                    }'
                    for="P165i_is_incorporated_in">
                </semantic-form-autocomplete-input>
                <semantic-form-text-input for="page_number_for_assigned_reference"></semantic-form-text-input>
                <semantic-form-text-input for="rdfs_label"></semantic-form-text-input>
            </semantic-form-composite-input>

            <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
        </semantic-form>
    </div>
</div>
[[/inline]]

[[#* inline "object_subcreation"]]
<div class="bso-component separator next-step">
    <div class="bso-component form-content">
        [[i18n "creation" bundle="bso"]]
        <semantic-form
            subject="[[urlParam "subjectiri"]]"
            new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
            fields='[[> partial:fieldDefinitions ]]'
            post-action='[[> thisIri]]'
            urlqueryparam-view='page'
        >
            <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForEntity"]]#object_subcreation"></semantic-form-hidden-input>

            <semantic-form-hidden-input for="P9_consists_of-reversed" replace-value="[[> thisIri]]/creation"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="type" replace-value="[[resolvePrefix "crm:E65_Creation"]]"></semantic-form-hidden-input>
            
            <semantic-form-autocomplete-input for="P14_carried_out_by"></semantic-form-autocomplete-input>
            [[> add-new-person]]
            <semantic-form-tree-picker-input for="P2_has_type_for_person_roles"></semantic-form-tree-picker-input>
            <semantic-form-composite-input
                for='P4_has_time-span'
                new-subject-template='/date'
                fields='[[> partial:fieldDefinitions ]]'
            >
                <semantic-form-text-input for="label"></semantic-form-text-input>
                <semantic-form-text-input for="date_from"></semantic-form-text-input>
                <semantic-form-text-input for="date_to"></semantic-form-text-input>
            </semantic-form-composite-input>
                
            <semantic-form-autocomplete-input
                for="P7_took_place_at"
                value-binding-name="subject"
                lookup-query='{
                    "type": "lookup",
                    "limit": 20,
                    "lookupServiceName": "federated-lookup",
                    "entityType": "[[resolvePrefix "rds:Place"]]"
                }'
                template='{{> autocompletionTemplate}}'>
                <template id='autocompletionTemplate'>
                    [[> partial:lookupCandidateTemplate]]
                </template>
            </semantic-form-autocomplete-input>

            <semantic-form-composite-input
                for="P70i_is_documented_in"
                new-subject-template="/reference/{{UUID}}"
                fields='[
                    [[> type ]],
                    [[> rdfs_label]],
                    [[> P165i_is_incorporated_in]],
                    [[> page_number_for_assigned_reference]]
                ]'
            >
                <semantic-form-hidden-input for="type" replace-value='[[resolvePrefix "frbroo:F23_Expression_Fragment"]]'></semantic-form-hidden-input>

                <semantic-form-autocomplete-input droppable='{
                        "query": "ASK { ?subject a frbroo:F24_Publication_Expression }"
                    }'
                    for="P165i_is_incorporated_in">
                </semantic-form-autocomplete-input>
                <semantic-form-text-input for="page_number_for_assigned_reference"></semantic-form-text-input>
                <semantic-form-text-input for="rdfs_label"></semantic-form-text-input>
            </semantic-form-composite-input>
            <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
        </semantic-form>
    </div>
</div>
[[/inline]]

[[#* inline "object_work_depicts"]]
<div class="bso-component separator next-step">
    <div class="bso-component form-content">
        [[i18n "depicts" bundle="bso"]]
        <semantic-form
            subject="[[urlParam "subjectiri"]]"
            new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
            fields='[[> partial:fieldDefinitions ]]'
            post-action='[[> thisIri]]'
            urlqueryparam-view='page'
        >
            <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForEntity"]]#object_work_depicts"></semantic-form-hidden-input>

            <semantic-form-hidden-input for="type" replace-value="[[resolvePrefix "crm:E13_Attribute_Assignment"]]"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="P140_assigned_attribute_to" replace-value="[[>thisIri]]/work"></semantic-form-hidden-input>

            <semantic-form-autocomplete-input
                for="object_depicts_as_P141_to_work"
                value-binding-name="subject"
                lookup-query='{
                    "type": "lookup",
                    "limit": 20,
                    "lookupServiceName": "federated-lookup"
                }'
                template='{{> autocompletionTemplate}}'>
                <template id='autocompletionTemplate'>
                    [[> partial:lookupCandidateTemplate]]
                </template>
            </semantic-form-autocomplete-input>

            <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
        </semantic-form>
    </div>
</div>
[[/inline]]

[[#* inline "region_depicts"]]
<div class="bso-component separator next-step">
    <div class="bso-component form-content">
        [[i18n "depicts" bundle="bso"]]
        <semantic-form
            subject="[[urlParam "subjectiri"]]"
            new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
            fields='[[> partial:fieldDefinitions ]]'
            post-action='[[> thisIri]]'
            urlqueryparam-view='page'
        >
            <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForEntity"]]#region_depicts"></semantic-form-hidden-input>

            <semantic-form-hidden-input for="type" replace-value="[[resolvePrefix "crm:E13_Attribute_Assignment"]]"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="P140_assigned_attribute_to" replace-value="[[>thisIri]]"></semantic-form-hidden-input>
            <semantic-form-autocomplete-input
                for="object_depicts_as_P141_to_proposition_subject"
                value-binding-name="subject"
                lookup-query='{
                    "type": "lookup",
                    "limit": 20,
                    "lookupServiceName": "federated-lookup"
                }'
                template='{{> autocompletionTemplate}}'>
                <template id='autocompletionTemplate'>
                    [[> partial:lookupCandidateTemplate]]
                </template>
            </semantic-form-autocomplete-input>

            <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
        </semantic-form>
    </div>
</div>
[[/inline]]