[[> partial:pageHeader]]
[[#> partial:structuredSearchConfig separator="True"]]

<div class="bso-component main">
  <div class="bso-component panel">
    <bs-row>
      <bs-col sm="12">
        <bs-row>
          <bs-col sm="12" md="1">
            <span class="bso-component label">[[i18n "search" bundle="bso"]]</span>
          </bs-col>
          <bs-col sm="12" md="11">
            <semantic-search-query-builder
              resource-selector='{
                "query": "SELECT DISTINCT ?suggestion (SAMPLE(?labels) as ?label) WHERE {
                  ?suggestion crm:P1_is_identified_by?/rdfs:label ?labels ;
                    a/^rdfs:equivalentClass? ?__range__ .
                  ?labels bds:search ?__token__ ;
                    bds:matchAllTerms \"true\" ;
                    bds:relevance ?score .
                } GROUP BY ?suggestion
                ORDER BY DESC(?score)",
                "suggestionTupleTemplate": "{{> suggestionTemplate}}"
              }'
              resource-selector-categories='{
                "<https://platform.swissartresearch.net/search/Type>": {
                  "query": "SELECT DISTINCT ?suggestion (SAMPLE(?labels) as ?label) WHERE {
                      ?suggestion crm:P1_is_identified_by?/rdfs:label ?labels ;
                        a/^rdfs:equivalentClass? ?__range__ .
                        ?labels bds:search ?__token__ ;
                        bds:matchAllTerms \"true\" ;
                        bds:relevance ?score .
                      {
                        FILTER (?__relation__ = sari:Object_made_using_Technique)
                        FILTER NOT EXISTS { ?suggestion crm:P127_has_broader_term ?term }
                      } UNION {
                        FILTER (?__relation__ != sari:Object_made_using_Technique)
                      }
                    } GROUP BY ?suggestion
                    ORDER BY DESC(?score)",
                  "suggestionTupleTemplate": "{{> suggestionTemplate}}"
                  }
                }'
              tree-selector='{
                "rootsQuery": "SELECT ?item ?hasChildren WHERE {
                  ?item gn:featureCode gn:A.ADM1 .
                  OPTIONAL {
                    ?child crm:P89_falls_within ?item .
                  }
                  BIND(BOUND(?child) AS ?hasChildren)
                }",
                "childrenQuery": "SELECT ?item ?hasChildren WHERE {
                  ?item crm:P89_falls_within ?parent .
                  OPTIONAL {
                    ?child crm:P89_falls_within ?item .
                    FILTER NOT EXISTS {
                      ?item crm:P89_falls_within ?child .
                    }
                  }
                  BIND(BOUND(?child) AS ?hasChildren)
                }",
                "parentsQuery": "SELECT ?item ?parent WHERE {
                  ?item crm:P89_falls_within ?parent .
                }",
                "searchQuery": "SELECT ?item ?score ?label ?hasChildren WHERE {
                  VALUES(?type) {
                    (schema:AdministrativeArea)
                    (search:Place)
                  }
                  ?item a ?type ;
                    rdfs:label ?label .
                  ?label bds:search ?__token__ ;
                    bds:relevance ?score .
                  OPTIONAL {
                    ?child crm:P89_falls_within ?item .
                  }
                  FILTER NOT EXISTS {
                    ?item crmdig:L54_is_same-as/a schema:AdministrativeArea
                  }
                  BIND(BOUND(?child) AS ?hasChildren)
                } LIMIT 100"
              }'
            >
              <template id="suggestionTemplate">
                <mp-label iri="{{suggestion.value}}"></mp-label>
              </template>
            </semantic-search-query-builder>
          </bs-col>
        </bs-row>
      </bs-col>
    </bs-row>
  </div>
</div>

[[/ partial:structuredSearchConfig]]


[[> partial:contentFooter]]
[[> partial:pageFooter]]