[[> partial:pageHeader]]
[[> partial:contentHeader]]

<bs-row>
    <bs-col md="6" class="bso-component panel">

        <h2>Region Selection Test</h2>
        <image-region-selector 
            target="target"
            target-urlparam="url"
            iiif="https://www.e-manuscripta.ch/zuzneb/i3f/v20/1720876" width="300">
        </image-region-selector>
        <div image-region-target="target">
            <semantic-link iri="page:searchForImageRegion" urlqueryparam-url="https://www.e-manuscripta.ch/zuzneb/i3f/v20/1720876/pct:0,0,1,1/300,/default.jpg"></semantic-link>
        </div>
    </bs-col>
</bs-row>

[[> partial:contentFooter]]
[[> partial:pageFooter]]