[[> partial:pageHeader]]
[[> partial:contentHeader]]

[[#*inline "thisIri"]][[#if objectiri]][[objectiri]][[else]][[urlParam "objectiri"]][[/if]][[/inline]]

[[#*inline "thisForQuery"]]
    <[[> thisIri]]>
[[/inline]]

[[#if (urlParam "subjectiri")]]
<style>
    nav.bso-component.form-selector.nav.nav-tabs {
        display:none;
    }
</style>
[[/if]]

<bs-row>
    <bs-col md="4" class="bso-component separator image-display">

        <semantic-query
            query="SELECT ?subject WHERE {
                BIND([[> thisForQuery]] as ?subject)   
            }"
            template="{{> template}}"
        >
        <template id="template">
            {{#each bindings}}
                {{> partial:cardObject}}
            {{/each}}
        </template>
    </bs-col>

    <bs-col md="8" class="bso-component panel">

       <h2>[[#if (urlParam "subjectiri")]][[i18n "editData" bundle="bso"]][[else]][[i18n "addNewData" bundle="bso"]][[/if]]</h2>

        [[#if (hasPermission "api:ldp:*")]]
            [[#if (urlParam "subjectiri")]]
            [[else]]
                <p>[[i18n "addDataAbout" bundle="bso"]]</p>
            [[/if]]

            <semantic-if
                query="ASK { [[>thisForQuery]] a search:Object}"
                then="{{> data-form-template}}"
            >
                <template id="data-form-template">
                    <bs-tabs class="bso-component form-selector" default-active-key="[[urlParam "form"]]">
                        <bs-tab event-key="object_persons" title="[[i18n "contributors" bundle="bso"]]">
                            [[> object_contributors]]
                        </bs-tab>
                        [[#if (urlParam "form")]]
                            <bs-tab event-key="object_subproduction" title="[[i18n "production" bundle="bso"]]">
                                [[> object_subproduction]]
                            </bs-tab>
                            <bs-tab event-key="object_subcreation" title="[[i18n "creation" bundle="bso"]]">
                                [[> object_subcreation]]
                            </bs-tab>
                        [[/if]]
                        <bs-tab event-key="object_work_depicts" title="[[i18n "depicts" bundle="bso"]]" >
                            [[> object_work_depicts]]
                        </bs-tab>
                        <bs-tab event-key="object_sameas" title="[[i18n "externalLinks" bundle="bso"]]">
                            [[> object_sameas]]
                        </bs-tab>
                    </template>
                </semantic-if>
                <semantic-if
                    query="ASK { [[>thisForQuery]] a crmdig:D35_Area}"
                    then="{{> template}}"
                >
                    <template id="template">
                        <bs-tabs class="bso-component form-selector" default-active-key="[[urlParam "form"]]">
                            <bs-tab event-key="region_depicts" title="[[i18n "depicts" bundle="bso"]]" >
                                [[> region_depicts]]
                            </bs-tab>
                        </bs-tabs>
                    </template>
                </semantic-if>
            </bs-tabs>
        [[else]]
            <bs-alert variant="warning">
                [[i18n "noPermissionToAccessPage" bundle="bso"]]
            </bs-alert>
        [[/if]]
    </bs-col>
</bs-row>

[[> partial:contentFooter]]
[[> partial:pageFooter]]

<mp-event-proxy on-event-type="Form.ResourceCreated" proxy-event-type="Dialog.HideAll"></mp-event-proxy>

[[#* inline "add-new-person"]]
    <mp-overlay-dialog title="[[i18n "addNewPerson" bundle="bso"]]" type="lightbox">
        <mp-overlay-dialog-trigger>
            <div class="bso-component gap-small">
                <button class="btn btn-secondary btn-xs">[[i18n "createNewPerson" bundle="bso"]]</button>
            </div>
        </mp-overlay-dialog-trigger>
        <mp-overlay-dialog-content>
            <mp-page-loader iri="page:editPerson" 
                urlqueryparam-overlay="true" 
                urlqueryparam-redirect="event">
            </mp-page-loader>
        </mp-overlay-dialog-content>
    </mp-overlay-dialog>
[[/inline]]

[[#* inline "object_contributors"]]

<mp-event-target-template-render id="object_contributors_next_step" template="{{> object_contributors_template}}">
    <template id="object_contributors_template">
        {{#if role}}
            <mp-event-proxy
                on-event-type="Form.ResourceCreated"
                proxy-event-type="Component.TemplateUpdate"
                proxy-targets='["object_contributors_next_step"]' 
                data='{
                    "role": "{{role}}",
                    "entityCreated": true
                }'
            ></mp-event-proxy>
            <div class="bso-component separator next-step">
                <div class="bso-component form-content">
                    [[i18n "addContributor" bundle="bso"]]: <mp-label iri="{{role}}"></mp-label>

                    <semantic-query
                        query='SELECT ?context ?role ?node ?form {{#if entityCreated}}?lastEntityCreated{{/if}} WHERE { 
                            BIND(<{{role}}> as ?role)
                            {{#if entityCreated}}
                                {
                                    SELECT ?lastEntityCreated WHERE {
                                        Platform:formContainer ldp:contains ?container .
                                        ?container prov:generatedAtTime ?dateCreated
                                        BIND(URI(STRBEFORE(STR(?container), "/container")) as ?lastEntityCreated)
                                    } ORDER BY DESC(?dateCreated) LIMIT 1
                                }
                            {{/if}}
                            ?role skos:broader?/skos:relatedMatch ?context .
                            VALUES (?context ?node ?form) {
                                (crm:E12_Production "production" "object_subproduction")
                                (crm:E11_Modification "production" "object_subproduction")
                                (crm:E65_Creation "creation" "object_subcreation")
                            }
                        } LIMIT 1'
                        template="{{> form-template}}"
                        no-result-template="<p>No context found for role.</pageHeader>">
                        <template id="form-template">
                            {{#each bindings}}
                                <div>
                                    <p>[[i18n "context" bundle="bso"]]: <mp-label iri="{{context.value}}"></mp-label></p>
                                    <semantic-form
                                        subject="[[urlParam "subjectiri"]]"
                                        new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
                                        fields='[[> partial:fieldDefinitions ]]'
                                        post-action='[[> thisIri]]'
                                        urlqueryparam-view='page'
                                    >
                                        <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
                                        <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForObject"]]#{{form.value}}"></semantic-form-hidden-input>
                            
                                        <semantic-form-hidden-input for="P9_consists_of-reversed" replace-value="[[> thisIri]]/{{node.value}}"></semantic-form-hidden-input>
                                        <semantic-form-hidden-input for="type" replace-value="{{context.value}}"></semantic-form-hidden-input>
                                        <semantic-form-hidden-input for="P2_has_type" replace-value="{{role.value}}"></semantic-form-hidden-input>

                                        {{#if lastEntityCreated}}
                                            <semantic-form-autocomplete-input
                                                for="P14_carried_out_by"
                                                default-value="{{lastEntityCreated.value}}"
                                            ></semantic-form-autocomplete-input>
                                        {{else}}
                                            <semantic-form-autocomplete-input
                                                for="P14_carried_out_by"
                                            ></semantic-form-autocomplete-input>
                                        {{/if}}
                                        [[> add-new-person]]
                                        <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
                                    </semantic-form>
                                
                                </div>
                            {{/each}}
                        </template>
                    </semantic-query>
                </div>
            </div>
        {{else}}
            <div class="bso-component separator next-step">
                <div class="bso-component form-content">
                    <p>Select the role of the contributor you'd like to add</p>
                    <semantic-tree query="
                    SELECT ?node ?parent WHERE {
                        BIND(iqvoc:_482eebdb as ?root)
                        ?root skos:narrower* ?node .
                        ?parent skos:narrower ?node .
                        ?node skos:prefLabel ?label .
                    } ORDER BY ?label"
                        tuple-template='{{> node}}'
                    >
                        <template id="node">
                            <span>
                                {{#ifCond node.value "==" "https://iqvoc.swissartresearch.net/_4c28919d"}}
                                    <mp-label iri="{{node.value}}"></mp-label>
                                {{else}}
                                    <mp-event-trigger type="Component.TemplateUpdate" targets='["object_contributors_next_step"]' data='{"role": "{{node.value}}"}'>
                                        <a><mp-label iri="{{node.value}}"></mp-label></a>
                                    </mp-event-trigger>
                                {{/ifCond}}
                            </span>
                        </template>
                    </semantic-tree>
                </div>
            </div>
        {{/if}}
    </template>
</mp-event-target-template-render>
[[/inline]]

[[#* inline "object_subproduction"]]

<div class="bso-component separator next-step">
    <div class="bso-component form-content">
        [[i18n "production" bundle="bso"]]
        <semantic-form
            subject="[[urlParam "subjectiri"]]"
            new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
            fields='[[> partial:fieldDefinitions ]]'
            post-action='[[> thisIri]]'
            urlqueryparam-view='page'
        >
            <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForObject"]]#object_subproduction"></semantic-form-hidden-input>

            <semantic-form-hidden-input for="P9_consists_of-reversed" replace-value="[[> thisIri]]/production"></semantic-form-hidden-input>
            <semantic-form-select-input for="subproduction_type"></semantic-form-select-input>
            <div>Note: once we have the roles we could determine the subproduction type based on the role (e.g. colouring->E11, engraving->E12)</div>
            <semantic-form-autocomplete-input for="P14_carried_out_by"></semantic-form-autocomplete-input>
            [[> add-new-person]]
            <semantic-form-tree-picker-input for="P2_has_type_for_person_roles"></semantic-form-tree-picker-input>
            <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
        </semantic-form>
    </div>
</div>
[[/inline]]

[[#* inline "object_subcreation"]]
<div class="bso-component separator next-step">
    <div class="bso-component form-content">
        [[i18n "creation" bundle="bso"]]
        <semantic-form
            subject="[[urlParam "subjectiri"]]"
            new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
            fields='[[> partial:fieldDefinitions ]]'
            post-action='[[> thisIri]]'
            urlqueryparam-view='page'
        >
            <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForObject"]]#object_subcreation"></semantic-form-hidden-input>

            <semantic-form-hidden-input for="P9_consists_of-reversed" replace-value="[[> thisIri]]/creation"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="type" replace-value="[[resolvePrefix "crm:E65_Creation"]]"></semantic-form-hidden-input>
            
            <semantic-form-autocomplete-input for="P14_carried_out_by"></semantic-form-autocomplete-input>
            [[> add-new-person]]
            <semantic-form-tree-picker-input for="P2_has_type_for_person_roles"></semantic-form-tree-picker-input>
            <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
        </semantic-form>
    </div>
</div>
[[/inline]]

[[#* inline "object_work_depicts"]]
<div class="bso-component separator next-step">
    <div class="bso-component form-content">
        [[i18n "depicts" bundle="bso"]]
        <semantic-form
            subject="[[urlParam "subjectiri"]]"
            new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
            fields='[[> partial:fieldDefinitions ]]'
            post-action='[[> thisIri]]'
            urlqueryparam-view='page'
        >
            <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForObject"]]#object_work_depicts"></semantic-form-hidden-input>

            <semantic-form-hidden-input for="type" replace-value="[[resolvePrefix "crm:E13_Attribute_Assignment"]]"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="P140_assigned_attribute_to" replace-value="[[>thisIri]]/work"></semantic-form-hidden-input>

            <semantic-form-autocomplete-input
                for="object_depicts_as_P141_to_work"
                value-binding-name="subject"
                lookup-query='{
                    "type": "lookup",
                    "limit": 20,
                    "lookupServiceName": "federated-lookup"
                }'
                template='{{> autocompletionTemplate}}'>
                <template id='autocompletionTemplate'>
                    [[> partial:lookupCandidateTemplate]]
                </template>
            </semantic-form-autocomplete-input>

            <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
        </semantic-form>
    </div>
</div>
[[/inline]]

[[#* inline "object_sameas"]]
<div class="bso-component separator next-step">
    <div class="bso-component form-content">
        [[i18n "externalLinks" bundle="bso"]]
        <semantic-form
            subject="[[urlParam "subjectiri"]]"
            new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
            fields='[[> partial:fieldDefinitions ]]'
            post-action='[[> thisIri]]'
            urlqueryparam-view='page'
        >
            <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForObject"]]#object_sameas"></semantic-form-hidden-input>

            <semantic-form-hidden-input for="type" replace-value="[[resolvePrefix "crm:E13_Attribute_Assignment"]]"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="P140_assigned_attribute_to" replace-value="[[>thisIri]]"></semantic-form-hidden-input>
            
            <p>[[i18n "externalLinksFormInfo" bundle="bso"]]</p>
            <semantic-form-text-input for="L54_is_same-as_as_P141_to_proposition_subject"></semantic-form-text-input>
            
            <semantic-form-text-input for="P70i_is_documented_in_as_P141_to_proposition_subject"></semantic-form-text-input>
            
            <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
        </semantic-form>
    </div>
</div>
[[/inline]]

[[#* inline "region_depicts"]]
<div class="bso-component separator next-step">
    <div class="bso-component form-content">
        [[i18n "depicts" bundle="bso"]]
        <semantic-form
            subject="[[urlParam "subjectiri"]]"
            new-subject-template="[[>thisIri]]/proposition/{{UUID}}"
            fields='[[> partial:fieldDefinitions ]]'
            post-action='[[> thisIri]]'
            urlqueryparam-view='page'
        >
            <semantic-form-hidden-input for="I4_Proposition_Set_about_Subject" replace-value="/container/context"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="container_form_id" replace-value="[[ resolvePrefix "page:addEditDataForObject"]]#region_depicts"></semantic-form-hidden-input>

            <semantic-form-hidden-input for="type" replace-value="[[resolvePrefix "crm:E13_Attribute_Assignment"]]"></semantic-form-hidden-input>
            <semantic-form-hidden-input for="P140_assigned_attribute_to" replace-value="[[>thisIri]]"></semantic-form-hidden-input>
            <semantic-form-autocomplete-input
                for="object_depicts_as_P141_to_proposition_subject"
                value-binding-name="subject"
                lookup-query='{
                    "type": "lookup",
                    "limit": 20,
                    "lookupServiceName": "federated-lookup"
                }'
                template='{{> autocompletionTemplate}}'>
                <template id='autocompletionTemplate'>
                    [[> partial:lookupCandidateTemplate]]
                </template>
            </semantic-form-autocomplete-input>

            <button name="submit" class="btn btn-primary btn-md">[[i18n "save" bundle="bso"]]</button>
        </semantic-form>
    </div>
</div>
[[/inline]]