[[!--
To include this page within you application, you can optionally pass in the following parameters:

searchPattern="?subject rdfs:label|skos:prefLabel ?label . ?label bds:search ?__token__ ;"
    searchPlaceholder="Type to search for X"
searchLimit="100"
---]]

<semantic-search limit=[[#if searchLimit]][[searchLimit]][[else]]10[[/if]]>
    <semantic-search-query-keyword
      [[#if searchPlaceholder]]placeholder='[[searchPlaceholder]]'[[/if]]
      domain='<http://www.w3.org/2000/01/rdf-schema#Resource>'
      query=' SELECT ?subject WHERE {
            ?subject a ?type ; 
              rdfs:label|crm:P1_is_identified_by|crm:P1_is_identified_by/rdfs:label ?searchTerm . 
            ?type rdfs:label ?typeLabel . 
            VALUES(?type) {
              (search:Person)
              (search:Object)
              (search:Place)
              (search:Type)
            } 
            ?searchTerm bds:search ?__token__ ;
              bds:relevance ?score ; 
              bds:matchAllTerms "true"
          } ORDER BY DESC(?score)'
    ></semantic-search-query-keyword>
        <semantic-search-result-holder>
            <semantic-search-result>
            
                [[> partial:searchResultsVisualisation searchLimit=searchLimit showTabs=showTabs]]
            
            </semantic-search-result>
        </semantic-search-result-holder>
</semantic-search>