[[> partial:pageHeader]]
[[> partial:contentHeader]]

<bs-row>
    <bs-col md="12" class="bso-component panel">

       <h2>Region Selection Test</h2>
       <image-region-selector target="target" iiif="https://www.e-manuscripta.ch/zuzneb/i3f/v20/1720876" width="300"></image-region-selector>
       
       <img image-region-target="target" src="https://www.e-manuscripta.ch/zuzneb/i3f/v20/1720876/full/300,/0/default.jpg" />

    </bs-col>
</bs-row>

[[> partial:contentFooter]]
[[> partial:pageFooter]]