
<div class="bso-component object">
    <semantic-link
        key="object-link-{{iri}}"
        iri="page:viewObject"
        urlqueryparam-objectiri="{{iri}}">
        <bs-panel>
            <bs-row>
                <bs-col class="image" md="3" sm="6">
                    <mp-resource-thumbnail key="object-thumbnail-{{iri}}" iri="{{iri}}">
                        <mp-resource-thumbnail-fallback>
                            <div class="no-image">
                                <small>No image</small>
                            </div>
                        </mp-resource-thumbnail-fallback>
                    </mp-resource-thumbnail>
                </bs-col>
                <bs-col md="7" sm="6">
                    <div class="title">
                        <mp-label key="object-label-{{iri}}" iri="{{iri}}"></mp-label>
                    </div>
                    <div class="description">
                        <mp-description key="object-description-{{iri}}" iri="{{iri}}"></mp-description>
                    </div>
                    <bs-row>
                        <bs-col sm="12">
                            <semantic-query
                                query="SELECT DISTINCT ?subject ?type ?typeClass WHERE {
                                    <{{iri}}> crm:P128_carries/crm:P138_represents ?subject .
                                    ?subject a ?type .
                                    BIND(STRAFTER(STR(?type), 'search/') as ?typeClass)
                                    VALUES(?type) {
                                        (search:Person)
                                        (search:Place)
                                        (search:Type)
                                    }
                                }"
                                template="{{> template}}"
                            >
                                <template id="template">
                                    <ul class="bso-component tags">
                                            {{#each bindings}}
                                                <li class="bso-tag {{typeClass.value}}"><semantic-link uri="{{subject.value}}"></semantic-link></li>
                                            {{/each}}
                                    </ul>
                                </template>
                            </semantic-query>
                            
                        </bs-col>
                    </bs-row>
                </bs-col>
                {{#if displayMenu}}
                    <bs-col md="2" sm="12">
                        [[> partial:buttonEditObjectMeta]]
                    </bs-col>
                {{/if}}
            </bs-row>
        </bs-panel>
    </semantic-link>
</div>