[[> partial:pageHeader]]

<div class="bso-component home-search">
    <bs-col md="10" md-offset="1">
        <div class="bso-component simple-search">
            <semantic-simple-search
                query="
                SELECT DISTINCT ?resource ?label ?typeLabel WHERE {
                    ?resource a ?type ;
                        rdfs:label ?label ;
                        rdfs:label|crm:P1_is_identified_by ?searchTerm .
                    ?type rdfs:label ?typeLabel .
                    VALUES(?type){
                        (search:Person)
                        (search:Object)
                        (search:Place)
                        (search:Type)
                    }
                    ?searchTerm bds:search ?__token__ .
                } LIMIT 10"
            template='{{>template}}'
            input-placeholder='[[i18n "globalSearchInputPrompt" bundle="bso" escapeHTML=false]]'
            >
                <template id="template">
                    <span title="{{resource.value}}">{{label.value}} ({{typeLabel.value}})</span>
                </template>
            </semantic-simple-search>
        </div>
    </bs-col>
</div>

<div class="bso-component separator panel">
    <bs-row>
        <bs-col md="2">
            <h3>[[i18n "images" bundle="bso"]]</h3>
            [[> resourceSummary type='search:Object' label='images' link='page:browseImages']]
        </bs-col>
        <bs-col md="10" class="bso-component card-container">
            [[#> cards type='search:Object' ]]
            [[/ cards]]
        </bs-col>
    </bs-row>
</div>

<div class="bso-component separator panel">
    <bs-row>
        <bs-col md="2">
            <h3>[[i18n "places" bundle="bso"]]</h3>
            [[> resourceSummary type='search:Place' label='places']]
        </bs-col>
        <bs-col md="10" class="bso-component card-container">
            [[#> cards type='search:Place' ]]
                ?subject crmdig:L54_is_same-as/wdt:P18 ?image .
            [[/ cards]]
        </bs-col>
    </bs-row>
</div>

<div class="bso-component separator panel">
    <bs-row>
        <bs-col md="2">
            <h3>[[i18n "persons" bundle="bso"]]</h3>
            [[> resourceSummary type='search:Person' label='persons' link='page:browsePersons']]
        </bs-col>
        <bs-col md="10" class="bso-component card-container">
            <div class="bso-component card-image-align-top" style="display: inherit;">
                [[#> cards type='search:Person' ]]
                    ?subject crmdig:L54_is_same-as/wdt:P18 ?image .
                [[/ cards]]
            </div>
        </bs-col>
    </bs-row>
</div>

<div class="bso-component separator panel">
    <bs-row>
        <bs-col md="2">
            <h3>[[i18n "concepts" bundle="bso"]]</h3>
            [[> resourceSummary type='search:Type' label='concepts']]
        </bs-col>
        <bs-col md="10" class="bso-component card-container">
            [[#> cards type='search:Type' ]]
                ?subject crmdig:L54_is_same-as/wdt:P18 ?image .
            [[/ cards]]
        </bs-col>
    </bs-row>
</div>

[[#*inline "cards"]]
    <semantic-query
        query="SELECT DISTINCT ?subject WHERE {
            ?subject a [[type]] .
            BIND(SHA512(CONCAT(STR(RAND()), STR(?subject))) AS ?random) .
            [[> @partial-block ]]
        } ORDER BY ?random LIMIT 10"
        template="{{> template-image-summary}}"
        >
        <template id="template-image-summary">
            {{#each bindings}}
                {{> partial:cardObject}}
            {{/each}}
        </template>
    </semantic-query>
[[/inline]]


[[#*inline "resourceSummary"]]
    <semantic-query
        query="SELECT (COUNT(?subject) as ?num) WHERE {
            ?subject a [[type]] .
        }"
        template="{{#each bindings}}[[i18n "entitiesSummaryPre" bundle="bso"]] {{num.value}} [[i18n "entitiesSummaryPost" label bundle="bso"]]{{/each}}"
    ></semantic-query>
    [[#if link]]
        <div class="bottom">
            <semantic-link iri="[[link]]">
                [[i18n "seeAll" bundle="bso"]]</semantic-link>
        </div>
    [[/if]]
[[/inline]]

[[> partial:pageFooter]]