<div style='height: 500px'>
  <mp-workspace-layout horizontal-collapsed-size=0>
    <mp-workspace-row>
      <mp-workspace-item id='workspace-clipboard' undocked=false default-size=250>
        <div class='grid-demo' style='flex: 1'>
          <mp-set-management
            readonly='false'
            id='clipboard-main'
            reparentable='true'
            item-config='{
                "<http://www.researchspace.org/resource/system/Set>": {
                  "isSet": true
              },
                "<http://www.researchspace.org/resource/system/SetItem>": {
                  "isSet": false
              }
            }'  
          >
          </mp-set-management>
        </div>
      </mp-workspace-item>
      <mp-workspace-item id='workspace-main' undocked=true>
        <div class='grid-demo' style='flex: 1'>
          <semantic-query
            query="SELECT ?subject WHERE {
            ?subject a search:Object .
            } LIMIT 10">
          </semantic-query>
        </div>
      </mp-workspace-item>
    </mp-workspace-row>
  </mp-workspace-layout>
</div>

[[#*inline "setView"]]
<div style='display: flex; align-items: center; justify-content: space-between;'>

  <div style='overflow: hidden;'>
    <span style='display: flex;'>
      <mp-label 	 iri='{{iri.value}}' highlight='{{highlight}}'
                highlight-props='{"style": {"color": "#dc8a4b"}}'
                style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'
      ></mp-label>
    </span>
  </div>

  <div class='set-management__item-actions' style='margin-left: auto;'>

    <bs-dropdown-button pull-right=true bs-style='link' title=''
                        id='set-actions-{{iri.value}}'>
      <semantic-link-container uri='http://www.researchspace.org/resource/ThinkingFrames' 
                                    urlqueryparam-view='knowledge-map' 
                                    urlqueryparam-resource='{{iri.value}}'>
          <bs-menu-item class='set-action__km-navigate' event-key=km>Explore set</bs-menu-item>
      </semantic-link-container>
      
      <mp-event-trigger id='set-action__km-add-frame' type='Dashboard.AddFrame' 
                                         data='{"resourceIri": "{{iri.value}}", "viewId": "knowledge-map"}' 
                                         targets='["thinking-frames"]'>
        <bs-menu-item class='set-action__km-add-frame' event-key=km-frame>Explore set</bs-menu-item>
      </mp-event-trigger>

      [[#if (hasPermission "forms:ldp:*")]]
        <mp-set-management-action-rename-set>
          <bs-menu-item event-key='rename'>Rename set</bs-menu-item>
        </mp-set-management-action-rename-set>
        <mp-set-management-action-remove-set>
          <bs-menu-item event-key='remove'>Remove set</bs-menu-item>
        </mp-set-management-action-remove-set>
      [[/if]]
    </bs-dropdown-button>
    
  </div>
</div>
[[/inline]]