[[> partial:contentHeader]]

<semantic-link
    uri="page:browse"
>Browse</semantic-link>

<h2>Images</h2>

<div class="imageList">
    <semantic-table
        query="SELECT ?s ?label (SAMPLE(?image) as ?example) WHERE {
            ?s a crm:E22_Man-Made_Object ;
                rdfs:label ?label .
            OPTIONAL {
                ?s crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point ?image .
            }    
        } 
        GROUP BY ?s ?label
        ORDER BY DESC(?s)"
        prefetch-labels="false"
        column-configuration='[ 
            {
                "variableName": "example", 
                "displayName": "Image",
                "cellTemplate": "{{> image }}"
            },
            {
                "variableName": "s", 
                "displayName": "Work"
            },
            {
                "variableName": "label"
            }
        ]'
    >
        <template id="image">
            <semantic-link
                uri="[[ resolvePrefix 'page:viewObject' ]]"
                urlqueryparam-objectiri="{{s.value}}"
            >
                <bs-panel style="width:160px">
                    <img src="{{ example.value }}/pct:12,10,75,50/150,/0/default.jpg">
                </bs-panel>
            </semantic-link>
        </template>
    </semantic-table>
</div>

[[> partial:contentFooter]]