[
    {
        "id" : "container_form_id",

            "label": "[[i18n "field_form_for_creating_the_data_in_the_container" bundle="bso"]]",
            "description" : "The identifier of the form that created the data in the container",
            "minOccurs" : "1",
            "maxOccurs" : "1",
            "xsdDatatype" : "xsd:anyURI",
                "insertPattern" : "INSERT { ?container prov:used $value . } WHERE { BIND(URI(CONCAT(STR($subject), \"/container\")) as ?container) }",
                "selectPattern" : "SELECT ?value WHERE { BIND(URI(CONCAT(STR($subject), \"/container\")) as ?container) ?container prov:used ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/container_form_id"
    },

    {
        "id" : "creation_date",

            "label": "[[i18n "field_creation_date" bundle="bso"]]",
            "description" : "The date an entity has been created",
            "xsdDatatype" : "xsd:anyURI",
            "range" : "crm:E52_Time-Span",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P94i_was_created_by/crm:P4_has_time-span ?value }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/creation_date"
    },

    {
        "id" : "collection",

            "label": "[[i18n "field_collection" bundle="bso"]]",
            "description" : "The holding collection or institution of the work",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Human-Made_Object",
            "range" : "crm:E39_Actor",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P109_has_current_or_former_curator ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/collection"
    },

    {
        "id" : "creator",

            "label": "[[i18n "field_creator" bundle="bso"]]",
            "description" : "The creator of the entity",
            "xsdDatatype" : "xsd:anyURI",
            "range" : "crm:E39_Actor",
                "selectPattern" : "SELECT ?value ?label WHERE { $subject crm:P94i_was_created_by/crm:P14_carried_out_by ?value. }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/creator"
    },

    {
        "id" : "creator_of_object",

            "label": "[[i18n "field_creator" bundle="bso"]]",
            "description" : "The creator of the artwork",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Human-Made_Object",
            "range" : "crm:E39_Actor",
                "insertPattern" : "INSERT { ?creation crm:P14_carried_out_by $value . } WHERE { BIND(CONCAT(STR($subject), \"/creation\") as ?creation) }",
                "selectPattern" : "SELECT ?value ?label WHERE { $subject crm:P128_carries/crm:P94i_was_created_by/crm:P14_carried_out_by ?value. OPTIONAL { BIND(URI(CONCAT(STR($subject), \"/meta\")) as ?subject_meta ) ?value crm:P1_is_identified_by ?appellation . ?appellation rdfs:label ?label ; crm:P70i_is_documented_in ?subject_meta . } }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/creator_of_object"
    },

    {
        "id" : "date_from",

            "label": "[[i18n "field_earliest_date" bundle="bso"]]",
            "description" : "The beginning of a time frame",
            "xsdDatatype" : "xsd:dateTime",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P82a_begin_of_the_begin ?value }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/date_from"
    },

    {
        "id" : "date_to",

            "label": "[[i18n "field_latest_date" bundle="bso"]]",
            "description" : "The end of a time frame",
            "xsdDatatype" : "xsd:dateTime",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P82b_end_of_the_end ?value }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/date_to"
    },

    {
        "id" : "label",

            "label": "[[i18n "field_label" bundle="bso"]]",
            "description" : "A human-readable label for the entity",
            "maxOccurs" : "1",
            "xsdDatatype" : "xsd:string",
                "insertPattern" : "INSERT { $subject rdfs:label $value . } WHERE {}",
                "selectPattern" : "SELECT ?value WHERE { $subject rdfs:label ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/label"
    },

    {
        "id" : "notes",

            "label": "[[i18n "field_notes" bundle="bso"]]",
            "description" : "Notes about the entity",
            "xsdDatatype" : "xsd:string",
                "insertPattern" : "INSERT { $subject crm:P3_has_note $value . } WHERE {}",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P3_has_note ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/notes"
    },

    {
        "id" : "objects_created",

            "label": "[[i18n "field_created" bundle="bso"]]",
            "description" : "Objects that were created by an actor",
            "display" : "hidden",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E39_Actor",
            "range" : "crm:E22_Human-Made_Object",
                "selectPattern" : "SELECT ?value ?label WHERE { ?value crm:P128_carries/crm:P94i_was_created_by/crm:P14_carried_out_by $subject ; rdfs:label ?object_label . OPTIONAL { ?value crm:P128_carries/crm:P94i_was_created_by/crm:P9_consists_of ?subcreation . ?subcreation crm:P14_carried_out_by $subject ; crm:P2_has_type/rdfs:label ?role_label . } BIND(IF(BOUND(?role_label), CONCAT(?object_label, \" (\", ?role_label, \")\"), ?object_label) as ?label) } ",
        "iri" : "https://platform.swissartresearch.net/instances/fields/objects_created"
    },

    {
        "id" : "object_creation_date",

            "label": "[[i18n "field_creation_date" bundle="bso"]]",
            "description" : "The date an object has been created",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Human-Made_Object",
            "range" : "crm:E52_Time-Span",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P128_carries/crm:P94i_was_created_by/crm:P4_has_time-span ?value }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_creation_date"
    },

    {
        "id" : "object_depicts",

            "label": "[[i18n "field_depicts" bundle="bso"]]",
            "description" : "The entity that is depicted by the object",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Human-Made_Object",
            "range" : "crm:E1_CRM_Entity",
                "selectPattern" : "SELECT DISTINCT ?value WHERE { $subject crm:P128_carries/crm:P138_represents ?value . }",
                "insertPattern" : "INSERT { ?work crm:P138_represents $value . } WHERE { $subject crm:P128_carries ?work . }",
                "autosuggestionPattern" : "PREFIX bds: <http://www.bigdata.com/rdf/search#> SELECT DISTINCT ?value ?label ?type ?typeLabel WHERE { VALUES(?type ?typeLabel) { (search:Person \"Person\") (search:Place \"Place\") (search:Type \"Type\") } ?value a ?type ; rdfs:label ?search_label . OPTIONAL { ?value skos:prefLabel ?prefLabel } BIND(IF(BOUND(?prefLabel), ?prefLabel, ?search_label) as ?label) ?search_label bds:search ?__token__ . } ORDER BY ?label LIMIT 10",
                "valueSetPattern" : "SELECT ?value ?label ?type ?typeLabel WHERE { VALUES(?type ?typeLabel) { (search:Person \"Person\") (search:Place \"Place\") (search:Type \"Type\") } ?value a ?type ; rdfs:label ?label . } ORDER BY ?label LIMIT 100",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_depicts"
    },

    {
        "id" : "object_depicts_as_P141_to_work",

            "label": "[[i18n "field_depicts" bundle="bso"]]",
            "description" : "The entity that is depicted by the object",
            "minOccurs" : "1",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E13_Attribute_Assignment",
            "range" : "crm:E1_CRM_Entity",
                "selectPattern" : "SELECT DISTINCT ?value WHERE { $subject crm:P141_assigned ?value . }",
                "insertPattern" : "INSERT { $subject crm:P141_assigned $value . ?work crm:P138_represents $value . } WHERE { BIND(URI(CONCAT(STRBEFORE(STR($subject), \"/proposition\"), \"/work\")) as ?work) }",
                "autosuggestionPattern" : "PREFIX bds: <http://www.bigdata.com/rdf/search#> SELECT DISTINCT ?value ?label ?type ?typeLabel ?score WHERE { VALUES(?type ?typeLabel) { (search:Person \"Person\") (search:Place \"Place\") (search:Type \"Type\") } ?value a ?type ; rdfs:label ?search_label . OPTIONAL { ?value skos:prefLabel ?prefLabel } BIND(IF(BOUND(?prefLabel), ?prefLabel, ?search_label) as ?label) ?search_label bds:search ?__token__ ; bds:matchAllTerms \"true\" ; bds:relevance ?score . } ORDER BY DESC(?score) ?label LIMIT 100",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_depicts_as_P141_to_work"
    },

    {
        "id" : "object_depicts_as_P141_to_proposition_subject",

            "label": "[[i18n "field_depicts" bundle="bso"]]",
            "description" : "The entity that is depicted by the proposition_subject",
            "minOccurs" : "1",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E13_Attribute_Assignment",
            "range" : "crm:E1_CRM_Entity",
                "selectPattern" : "SELECT DISTINCT ?value WHERE { $subject crm:P141_assigned ?value . }",
                "insertPattern" : "INSERT { $subject crm:P141_assigned $value . ?proposition_subject crm:P138_represents $value . } WHERE { BIND(URI(STRBEFORE(STR($subject), \"/proposition\")) as ?proposition_subject) }",
                "autosuggestionPattern" : "PREFIX bds: <http://www.bigdata.com/rdf/search#> SELECT DISTINCT ?value ?label ?type ?typeLabel ?score WHERE { VALUES(?type ?typeLabel) { (search:Person \"Person\") (search:Place \"Place\") (search:Type \"Type\") } ?value a ?type ; rdfs:label ?search_label . OPTIONAL { ?value skos:prefLabel ?prefLabel } BIND(IF(BOUND(?prefLabel), ?prefLabel, ?search_label) as ?label) ?search_label bds:search ?__token__ ; bds:matchAllTerms \"true\" ; bds:relevance ?score . } ORDER BY DESC(?score) ?label LIMIT 100",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_depicts_as_P141_to_proposition_subject"
    },

    {
        "id" : "object_description",

            "label": "[[i18n "field_description" bundle="bso"]]",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P129i_is_subject_of ?value . ?value crm:P2_has_type aat:300435416 . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_description"
    },

    {
        "id" : "object_production_actors_and_roles",

            "label": "[[i18n "field_production" bundle="bso"]]",
            "description" : "The actors involved in the production of an object",
            "display" : "true",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Human-Made_Object",
                "selectPattern" : "SELECT (?actor as ?value) ?label WHERE { $subject crm:P108i_was_produced_by/crm:P14_carried_out_by ?actor . BIND(URI(CONCAT(STR($subject), \"/meta\")) as ?subject_meta ) ?actor crm:P1_is_identified_by ?appellation . ?appellation rdfs:label ?actor_label ; crm:P70i_is_documented_in ?subject_meta . OPTIONAL { $subject crm:P108i_was_produced_by/crm:P9_consists_of ?subProduction . ?subProduction crm:P14_carried_out_by ?actor ; crm:P2_has_type/rdfs:label ?production_type_label . } BIND(CONCAT(?actor_label, IF(BOUND(?production_type_label), CONCAT(\" (\", ?production_type_label, \")\"), \"\")) as ?label) }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_production_actors_and_roles"
    },

    {
        "id" : "object_subcreations",

            "label": "[[i18n "field_creation_steps" bundle="bso"]]",
            "display" : "hidden",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Human-Made_Object",
            "range" : "crm:E65_Creation",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P128_carries/crm:P94i_was_created_by ?creation . ?creation crm:P9_consists_of ?value . }",
                "insertPattern" : "INSERT { ?creation crm:P9_consists_of ?value . } WHERE { BIND(URI(CONCAT(STR($subject), \"/creation\")) as ?creation) }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_subcreations"
    },

    {
        "id" : "object_subproductions",

            "label": "[[i18n "field_production_steps" bundle="bso"]]",
            "display" : "hidden",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Human-Made_Object",
            "range" : "E12_Production",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P108i_was_produced_by/crm:P9_consists_of ?value . }",
                "insertPattern" : "INSERT { ?production crm:P9_consists_of ?value . } WHERE { BIND(URI(CONCAT(STR($subject), \"/production\")) as ?production) }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_subproductions"
    },

    {
        "id" : "object_caption",

            "label": "[[i18n "field_caption_inscription" bundle="bso"]]",
            "description" : "An inscription on the object, typically a captin",
            "xsdDatatype" : "xsd:string",
            "domain" : "crm:E22_Human-Made_Object",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P128_carries ?inscription . ?inscription a crm:E34_Inscription ; rdfs:label ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_caption"
    },

    {
        "id" : "object_carries_visual_item",

            "label": "[[i18n "field_visual_item" bundle="bso"]]",
            "description" : "The E36 Visual Item carried by the E22 Human-Made Object",
            "display" : "hidden",
            "minOccurs" : "1",
            "maxOccurs" : "1",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Human-Made_Object",
            "range" : "crm:E36_Visual_item",
                "insertPattern" : "INSERT { $subject crm:P128_carries $value} WHERE {}",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P128_carries ?value . ?value a crm:E36_Visual_Item . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_carries_visual_item"
    },

    {
        "id" : "object_material",

            "label": "[[i18n "field_material" bundle="bso"]]",
            "description" : "The material of the object",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Human-Made_Object",
            "range" : "crm:E57_Material",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P45_consists_of ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_material"
    },

    {
        "id" : "object_production_date",

            "label": "[[i18n "field_production_date" bundle="bso"]]",
            "description" : "The date an object has been produced",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Human-Made_Object",
            "range" : "crm:E52_Time-Span",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P108i_was_produced_by/crm:P4_has_time-span ?value }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_production_date"
    },

    {
        "id" : "object_publication_note",

            "label": "[[i18n "field_publication_information" bundle="bso"]]",
            "xsdDatatype" : "xsd:string",
            "domain" : "crm:E22_Human-Made_Object",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P108i_was_produced_by/crm:P9_consists_of ?publication_event . ?publication_event a frbroo:F30_Publication_Event ; crm:P3_has_note ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_publication_note"
    },

    {
        "id" : "object_production_technique",

            "label": "[[i18n "field_technique" bundle="bso"]]",
            "description" : "The production technique of the artwork",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Human-Made_Object",
            "range" : "crm:E55_Type",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P108i_was_produced_by/crm:P32_used_general_technique ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/object_production_technique"
    },

    {
        "id" : "P70i_is_documented_in_as_P141_to_proposition_subject",

            "label": "[[i18n "field_is_documented_in" bundle="bso"]]",
            "description" : "The entity that documents the proposition_subject",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E13_Attribute_Assignment",
            "range" : "crm:E1_CRM_Entity",
                "selectPattern" : "SELECT DISTINCT ?value WHERE { $subject crm:P141_assigned ?value . }",
                "insertPattern" : "INSERT { $subject crm:P141_assigned $value . ?proposition_subject crm:P70i_is_documented_in $value . $value a crm:E31_Document . } WHERE { BIND(URI(STRBEFORE(STR($subject), \"/proposition\")) as ?proposition_subject) }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/P70i_is_documented_in_as_P141_to_proposition_subject"
    },

    {
        "id" : "region_for_proposition_subject",

            "label": "[[i18n "field_regions" bundle="bso"]]",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { BIND(URI(STRBEFORE(STR($subject), \"/proposition\")) as ?propositionSubject) ?propositionSubject crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point ?iiif_image . ?value crmdig:L49_is_primary_area_of ?iiif_image . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/region_for_proposition_subject"
    },

    {
        "id" : "remarks",

            "label": "[[i18n "field_remarks" bundle="bso"]]",
            "description" : "Remarks about the entity",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P129i_is_subject_of ?remark . ?remark crm:P2_has_type aat:300435415 ; rdfs:label ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/remarks"
    },

    {
        "id" : "I4_Proposition_Set_about_Subject",

            "label": "[[i18n "field_i4_proposition_set_about_subject" bundle="bso"]]",
            "description" : "Takes a URI or string (which will be attached to the subject to create a URI) and defines it as a I4 Proposition set that is P129 about the subject and P67 refers to the proposition&#x27;s subject",
            "xsdDatatype" : "xsd:string",
                "insertPattern" : "INSERT { ?valueSubject a crminf:I4_Proposition_Set ; crm:P129_is_about $subject ; crm:P67_refers_to ?propositionSubject . } WHERE { BIND((IF(STR(URI(?value)) = ?value, True,False)) as ?isURI) BIND(IF(?isURI, URI(?value), URI(CONCAT(STR($subject), STR(?value)))) as ?valueSubject) BIND(URI(STRBEFORE(STR($subject), \"/proposition\")) as ?propositionSubject) }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/I4_Proposition_Set_about_Subject"
    },

    {
        "id" : "L54_is_same-as",

            "label": "[[i18n "field_same_as" bundle="bso"]]",
            "xsdDatatype" : "xsd:anyURI",
                "insertPattern" : "INSERT { $subject crmdig:L54_is_same-as ?value . } WHERE {}",
                "selectPattern" : "SELECT ?value WHERE { $subject crmdig:L54_is_same-as ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/L54_is_same-as"
    },

    {
        "id" : "L54_is_same-as_as_P141_to_proposition_subject",

            "label": "[[i18n "field_same_as" bundle="bso"]]",
            "description" : "The entity that is the same as the proposition_subject",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E13_Attribute_Assignment",
            "range" : "crm:E1_CRM_Entity",
                "selectPattern" : "SELECT DISTINCT ?value WHERE { $subject crm:P141_assigned ?value . }",
                "insertPattern" : "INSERT { $subject crm:P141_assigned $value . ?proposition_subject crmdig:L54_is_same-as $value . } WHERE { BIND(URI(STRBEFORE(STR($subject), \"/proposition\")) as ?proposition_subject) }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/L54_is_same-as_as_P141_to_proposition_subject"
    },

    {
        "id" : "subproduction_type",

            "label": "[[i18n "field_type_of_production" bundle="bso"]]",
            "minOccurs" : "1",
            "maxOccurs" : "1",
            "xsdDatatype" : "xsd:anyURI",
                "insertPattern" : "INSERT { $subject a $value . } WHERE {}",
                "selectPattern" : "SELECT ?value WHERE { $subject a ?value . VALUES (?value) { (crm:E7_Activity) (crm:E11_Modification) (crm:E12_Production) } }",
                "valueSetPattern" : "SELECT ?value ?label WHERE { VALUES (?value ?label) { (crm:E12_Production \"Production (engraving, printing, ...)\") (crm:E11_Modification \"Modification (colouring, ...)\") (crm:E7_Activity \"Activity (commissioning, publishing, ...)\") } }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/subproduction_type"
    },

    {
        "id" : "type",

            "label": "[[i18n "field_the_rdf_data_type" bundle="bso"]]",
            "display" : "hidden",
            "xsdDatatype" : "xsd:anyURI",
                "insertPattern" : "INSERT { $subject a $value . } WHERE { }",
                "selectPattern" : "SELECT ?value WHERE { $subject a ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/type"
    },

    {
        "id" : "P1_is_identified_by",

            "label": "[[i18n "field_identifier" bundle="bso"]]",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P1_is_identified_by ?value . }",
                "insertPattern" : "INSERT { $subject crm:P1_is_identified_by ?value . } WHERE {}",
        "iri" : "https://platform.swissartresearch.net/instances/fields/P1_is_identified_by"
    },

    {
        "id" : "P2_has_type",

            "label": "[[i18n "field_type" bundle="bso"]]",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P2_has_type ?value . }",
                "insertPattern" : "INSERT { $subject crm:P2_has_type $value . } WHERE {}",
                "autosuggestionPattern" : "PREFIX bds: <http://www.bigdata.com/rdf/search#> SELECT DISTINCT ?value ?label WHERE { ?value a crm:E55_Type ; rdfs:label ?label . ?label bds:search ?__token__ . } ORDER BY ?label LIMIT 10",
                "valueSetPattern" : "SELECT ?value ?label  WHERE { ?value a crm:E55_Type ; rdfs:label ?label . } ORDER BY ?label LIMIT 100",
        "iri" : "https://platform.swissartresearch.net/instances/fields/P2_has_type"
    },

    {
        "id" : "P2_has_type_for_creation",

            "label": "[[i18n "field_type" bundle="bso"]]",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P2_has_type ?value . }",
                "insertPattern" : "INSERT { $subject crm:P2_has_type $value . } WHERE {}",
                "valueSetPattern" : "SELECT DISTINCT ?value  WHERE { { ?creation a crm:E65_Creation ; crm:P2_has_type ?value . ?value a crm:E55_Type ; rdfs:label ?label . } UNION { VALUES (?value) { (type:author) } } } ORDER BY ?label LIMIT 100",
        "iri" : "https://platform.swissartresearch.net/instances/fields/P2_has_type_for_creation"
    },

    {
        "id" : "P2_has_type_for_production",

            "label": "[[i18n "field_type" bundle="bso"]]",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P2_has_type ?value . }",
                "insertPattern" : "INSERT { $subject crm:P2_has_type $value . } WHERE {}",
                "valueSetPattern" : "SELECT DISTINCT ?value  WHERE { ?creation a crm:E12_Production ; crm:P2_has_type ?value . ?value a crm:E55_Type ; rdfs:label ?label . } ORDER BY ?label LIMIT 100",
        "iri" : "https://platform.swissartresearch.net/instances/fields/P2_has_type_for_production"
    },

    {
        "id" : "P9_consists_of-reversed",

            "label": "[[i18n "field_consists_of__reversed_" bundle="bso"]]",
            "xsdDatatype" : "xsd:anyURI",
                "insertPattern" : "INSERT { ?value crm:P9_consists_of $subject . } WHERE {}",
                "selectPattern" : "SELECT ?value WHERE { ?value crm:P9_consists_of $subject . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/P9_consists_of-reversed"
    },

    {
        "id" : "P14_carried_out_by",

            "label": "[[i18n "field_person" bundle="bso"]]",
            "description" : "The person or actor carrying out an event",
            "maxOccurs" : "1",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P14_carried_out_by ?value . }",
                "insertPattern" : "INSERT { $subject crm:P14_carried_out_by ?value . } WHERE {}",
                "autosuggestionPattern" : "PREFIX bds: <http://www.bigdata.com/rdf/search#> SELECT DISTINCT ?value ?label WHERE { ?value a search:Person ; rdfs:label ?label . ?label bds:search ?__token__ . } ORDER BY ?label LIMIT 10",
                "valueSetPattern" : "SELECT ?value ?label  WHERE { ?value a search:Person ; rdfs:label ?label . } ORDER BY ?label LIMIT 100",
        "iri" : "https://platform.swissartresearch.net/instances/fields/P14_carried_out_by"
    },

    {
        "id" : "P140_assigned_attribute_to",

            "label": "[[i18n "field_assigned_attribute_to" bundle="bso"]]",
            "description" : "The entity to which an attribute was assigned",
            "maxOccurs" : "1",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P140_assigned_attribute_to ?value . }",
                "insertPattern" : "INSERT { $subject crm:P140_assigned_attribute_to ?value . } WHERE {}",
        "iri" : "https://platform.swissartresearch.net/instances/fields/P140_assigned_attribute_to"
    },

    {
        "id" : "see_also",

            "label": "[[i18n "field_see_also" bundle="bso"]]",
            "description" : "Links to this entity in other databases",
            "xsdDatatype" : "schema:URL",
                "selectPattern" : "SELECT ?value ?label WHERE { BIND(<https://d-nb.info/gnd/10171799-4> as ?nb) BIND(<https://d-nb.info/gnd/1012546-2> as ?zbz) { $subject a search:Object ; crm:P109_has_current_or_former_curator ?zbz ; crmdig:L1i_was_digitized_by/crmdig:L11_had_output/crm:P1_is_identified_by ?value . } UNION { $subject a search:Object ; crm:P109_has_current_or_former_curator ?nb . BIND(STRAFTER(STR($subject), \"nb-\") as ?nbId) BIND(URI(CONCAT(\"https://www.helveticarchives.ch/detail.aspx?ID=\", ?nbId)) as ?value) BIND(\"HelveticArchives\" as ?label) } }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/see_also"
    }

]