[[> partial:pageHeader]]
[[> partial:contentHeader]]

<h2><mp-label iri="[[#if objectiri]][[objectiri]][[else]][[ urlParam 'objectiri' ]][[/if]]"></mp-label></h2>

[[> partial:fieldsTable iri=objectiri param="objectiri" ]]

<semantic-query
    query="SELECT DISTINCT ?subject ?actor (GROUP_CONCAT(?creation_type_label; SEPARATOR='/') as ?creation_type_labels) WHERE {
        BIND(<[[#if objectiri]][[objectiri]][[else]][[ urlParam 'objectiri' ]][[/if]]> as $subject)
        ?subject (crm:P128_carries/crm:P94i_was_created_by) ?creation.
        ?creation crm:P9_consists_of ?subcreation.
        ?subcreation crm:P14_carried_out_by ?actor;
          crm:P2_has_type ?creation_type .
        OPTIONAL {
            ?creation_type rdfs:label ?creation_type_label .
        }
        BIND(IF(!BOUND(?creation_type_label), STRAFTER(STR(?creation_type), 'https://resource.swissartresearch.net/role/'), ?creation_type_label) as ?creation_type_label)
      } GROUP BY ?subject ?actor"
    template="{{> template}}"
>
      <template id="template">
          <dl>
              <dt>Persons involved in creation</dt>
              {{#each bindings}}
                <dd><semantic-link iri="{{ actor.value }}"></semantic-link> ({{ creation_type_labels.value}})</dd>
              {{/each}}
          </dl>
      </template>
</semantic-query>

<semantic-query
    query="SELECT DISTINCT ?subject ?actor (GROUP_CONCAT(?creation_type_label; SEPARATOR='/') as ?creation_type_labels) WHERE {
        BIND(<[[#if objectiri]][[objectiri]][[else]][[ urlParam 'objectiri' ]][[/if]]> as $subject)
        ?subject crm:P108i_was_produced_by ?creation.
        ?creation crm:P9_consists_of ?subcreation.
        ?subcreation crm:P14_carried_out_by ?actor;
          crm:P2_has_type ?creation_type.
        ?creation_type rdfs:label ?creation_type_label .
        BIND(IF(!BOUND(?creation_type_label), STRAFTER(STR(?creation_type), 'https://resource.swissartresearch.net/role/'), ?creation_type_label) as ?creation_type_label)
      } GROUP BY ?subject ?actor"
    template="{{> template}}"
>
      <template id="template">
          <dl>
              <dt>Persons involved in production</dt>
              {{#each bindings}}
                <dd><semantic-link iri="{{ actor.value }}"></semantic-link> ({{ creation_type_labels.value}})</dd>
              {{/each}}
          </dl>
      </template>
</semantic-query>

<semantic-link
    iri="[[#if objectiri]][[objectiri]][[else]][[ urlParam 'objectiri' ]][[/if]]"
><button type="button" class="btn btn-primary btn-xs">View raw</button></semantic-link>

[[#if objectiri]]
    [[> partial:buttonEditObjectMeta iri=objectiri]]
[[else]]
    [[> partial:buttonEditObjectMeta iri=(urlParam 'objectiri')]]
[[/if]]

<semantic-table
    query="SELECT DISTINCT ?image ?IIIFimage WHERE {
        <[[#if objectiri]][[objectiri]][[else]][[ urlParam 'objectiri' ]][[/if]]> crm:P128_carries ?work .
        ?work la:digitally_shown_by ?image .
        OPTIONAL {
            ?image la:digitally_available_via/la:access_point ?IIIFimage
        }
    }"
    number-of-displayed-rows="100"
    tuple-template="{{> template }}"
>
    <template id="template">
        <bs-panel>
            {{#if IIIFimage.value }}
                <semantic-link
                    uri="[[ resolvePrefix 'page:viewImage']]"
                    urlqueryparam-imageiri="{{IIIFimage.value}}"
                    >
                    {{> thumbnail}}
                </semantic-link>
            {{ else }}
                {{> thumbnail}}
            {{/if}}
        </bs-panel>
    </template>
    <template id="thumbnail">
        <mp-resource-thumbnail iri="{{ image.value }}">
            <mp-resource-thumbnail-fallback>
                <span>Image not found!</span>
            </mp-resource-thumbnail-fallback>
        </mp-resource-thumbnail>
    </template>
</semantic-table>
[[> partial:contentFooter]]
[[> partial:pageFooter]]