[[> partial:pageHeader]]

<bs-row>
  <bs-col md-offset="1" md="10">
    <div style="margin-top:4rem;">
            
      <semantic-search
        limit="100"
      >
        <semantic-search-keyword-prefetch
                query='
                  PREFIX  clip: <https://service.swissartresearch.net/clip/>
                  SELECT * WHERE {
                      SERVICE <http://clip-service:5000/sparql> {
                        ?request a clip:Request ;
                          clip:queryString ?__token__ ;
                          clip:minScore "0.22" ;
                          clip:score ?score ;
                          clip:iiifUrl ?subject .
                      } 
                  }'
        ></semantic-search-keyword-prefetch>

        <semantic-search-result-holder>
          <semantic-search-result>
            <div class="bso-component card-container">

            <mp-sparql-result-counts 
              id="search_results_count"
              query="SELECT DISTINCT ?subject {}"
              template='<div>{{#if hasLimit}} <bs-alert variant="warning"> Showing {{numberOfResults}} of {{totalNumberOfResults}} matches. <strong>Please, refine your search.</strong> </bs-alert> {{else}} <p>Found <em>{{numberOfResults}}</em> results</p>{{/if}}</div>'>
            </mp-sparql-result-counts>
            
            <semantic-table id='table' 
              query='SELECT * WHERE { } ORDER BY DESC(?score)'
              current-page="1"
              prefetch-labels="false"
              tuple-template='{{> template }}'
              options='{
                "showFilter": false,
                "pageSizeSelection": true
              }'
              >
                <template id="template">
                  <semantic-query
                    query="SELECT ?subject WHERE {
                      BIND(<{{subject.value}}> as ?iiif)
                      ?subject crm:P128_carries/la:digitally_shown_by/la:digitally_available_via/la:access_point ?iiif .
                    } LIMIT 1"
                    template="{{> partial:cardObject subject=bindings.0.subject}}"></semantic-query>
                </template>
              </semantic-table>
              </div>
          </semantic-search-result>
        </semantic-search-result-holder>
      </semantic-search>
    </div>
  </bs-col>
</bs-row>

[[> partial:pageFooter]]