[[> partial:pageHeader]]

[[#*inline "thisIri"]][[#if entityiri]][[entityiri]][[else]][[urlParam "entityiri"]][[/if]][[/inline]]

[[#*inline "thisForQuery"]]
    <[[> thisIri]]>
[[/inline]]

<div class="d-flex flex-md-row flex-column">
    <div class="bso-component separator sidebar image-display">
        <semantic-if 
            query='ASK { [[> thisForQuery ]] a search:Object}'
            then='{{> objectTemplate }}'
            else='{{> template}}'
        >
            <template id="objectTemplate">
                [[#if entityiri]]
                    [[> partial:objectViewImageDisplay objectiri=entityiri]]
                [[else]]
                    [[> partial:objectViewImageDisplay urlparam="entityiri"]]
                [[/if]]
            </template>
            <template id="template">
                <bs-panel>
                    <mp-resource-thumbnail iri="[[> thisIri]]">
                        <mp-resource-thumbnail-fallback>
                            <span></span>
                        </mp-resource-thumbnail-fallback>
                    </mp-resource-thumbnail>
                </bs-panel>
            </template>
        </semantic-if>
    </div>
    <div class="bso-component main">
        <div class="bso-component panel">
            <h2><mp-label iri="[[> thisIri]]"></mp-label></h2>

            <!-- Depicts -->
            <semantic-query
                query="SELECT DISTINCT ?subject ?type ?typeClass WHERE {
                    [[> thisForQuery]] crm:P128_carries/crm:P138_represents ?subject .
                    ?subject a ?type .
                    BIND(STRAFTER(STR(?type), 'search/') as ?typeClass)
                    VALUES(?type) {
                        (search:Person)
                        (search:Place)
                        (search:Type)
                    }
                }"
                template="{{> template}}">
                <template id="template">
                    <div class="bso-component field-visualisation">
                        <span class="bso-component label">[[i18n "depicts" bundle="bso"]]</span>
                        <ul class="bso-component tags">
                            {{#each bindings}}
                                <li class="bso-tag {{typeClass.value}}"><semantic-link uri="{{subject.value}}"></semantic-link></li>
                            {{/each}}
                        </ul>
                    </div>
                </template>
            </semantic-query>

            <!-- Dates -->
            <semantic-query
                query="SELECT DISTINCT ?subject ?event ?eventType WHERE {
                    [[> thisForQuery]] crm:P108i_was_produced_by|(crm:P128_carries/crm:P94i_was_created_by) ?event .
                    ?event crm:P4_has_time-span ?subject .
                    ?event a ?eventType .
                }"
                template="{{> template}}">>
                <template id="template">
                    <div class="bso-component field-visualisation">
                        <span class="bso-component label">[[i18n "dates" bundle="bso"]]</span>
                        <table>
                            {{#each bindings}}
                            <tr>
                                <td><semantic-link iri="{{subject.value}}"></semantic-link></td>
                                <td><mp-label iri="{{eventType.value}}"></mp-label></td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </template>
            </semantic-query>

            <!-- Persons involved in creation-->
            <semantic-query
                query="SELECT DISTINCT ?subject ?role WHERE {
                    {
                        [[> thisForQuery]] crm:P108i_was_produced_by|(crm:P128_carries/crm:P94i_was_created_by) ?event .
                    } UNION 
                    {
                        [[> thisForQuery]] (crm:P128_carries/crm:P94i_was_created_by) ?event .
                    }
                    {
                        ?event crm:P14_carried_out_by ?subject .
                        OPTIONAL {
                            ?event crm:P9_consists_of ?subevent .
                            ?subevent crm:P14_carried_out_by ?subject .
                            OPTIONAL {
                                ?subevent crm:P2_has_type ?role .
                            }
                        }
                    } UNION {
                        ?event crm:P9_consists_of ?subevent .
                        ?subevent crm:P14_carried_out_by ?subject .
                        OPTIONAL {
                            ?subevent crm:P2_has_type ?role .
                        }
                    }
                }"
                template="{{> template}}">>
                <template id="template">
                    <div class="bso-component field-visualisation">
                        <span class="bso-component label">[[i18n "persons" bundle="bso"]]</span>
                        <table>
                            {{#each bindings}}
                            <tr>
                                <td>
                                    <ul class="bso-component tags">
                                            <li class="bso-tag Person"><semantic-link uri="{{subject.value}}"></semantic-link></li>
                                    </ul>
                                </td>
                                <td><mp-label iri="{{role.value}}"></mp-label></td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </template>
            </semantic-query>

            <!-- Objects created -->
            [[#> objectsTable condition='?object a search:Object; (crm:P108i_was_produced_by|(crm:P128_carries/crm:P94i_was_created_by))/crm:P9_consists_of?/crm:P14_carried_out_by $subject' label='works']]

                {
                    ?subject crm:P108i_was_produced_by/crm:P9_consists_of?/crm:P14_carried_out_by [[> thisForQuery]] .
                } UNION {
                    ?subject crm:P128_carries/crm:P94i_was_created_by/crm:P9_consists_of?/crm:P14_carried_out_by [[> thisForQuery]] .
                }
                
            [[/ objectsTable]]

            <!-- Depicted -->
            [[#> objectsTable condition='?thing crm:P138_represents $subject' label='depictedBy' ]]

                ?subject crm:P128_carries/crm:P138_represents [[> thisForQuery]] .
            
            [[/ objectsTable]]

            <!-- Objects owned -->
            [[#> objectsTable condition='?object a search:Object; crm:P109_has_former_or_current_curator $subject' label='worksHeld']]
                
                ?subject crm:P109_has_former_or_current_curator [[> thisForQuery]] .
                
            [[/ objectsTable]]
        </div>

        <semantic-if query="ASK { [[> thisForQuery]] a search:Object .}" then="{{> template}}">
            <template id="template">
                <div class="bso-component separator panel">
                    <h3>[[i18n "customData" bundle="bso"]]</h3>
                    <semantic-table
                        query="SELECT ?proposition ?subject ?type ?container ?parentContainer WHERE {
                            ?proposition a crminf:I4_Proposition_Set ;
                                crm:P67_refers_to [[> thisForQuery]] ;
                                crm:P129_is_about ?subject .
                            ?subject a ?type .
                            BIND(URI(STRBEFORE(STR(?proposition), '/context')) as ?container)
                            ?parentContainer ldp:contains ?container .
                        }"
                        column-configuration='[{
                            "displayName": "[[i18n "type" bundle="bso"]]",
                            "cellTemplate": "<mp-label iri=\"{{type.value}}\"></mp-label>"
                        },
                        {
                            "displayName": "[[i18n "view" bundle="bso"]]",
                            "cellTemplate": "<semantic-link iri=\"http://www.metaphacts.com/resource/assets/NamedGraph\" urlqueryparam-view=\"graph\" urlqueryparam-graph=\"{{proposition.value}}\">[[i18n "view" bundle="bso"]]</semantic-link>"
                        },
                        {
                            "displayName": "[[i18n "delete" bundle="bso"]]",
                            "cellTemplate": "<semantic-link iri=\"page:deleteContainerFromParent\" urlqueryparam-container=\"{{container.value}}\" urlqueryparam-parent=\"{{parentContainer.value}}\" urlqueryparam-back=\"[[>thisIri]]\">[[i18n "delete" bundle="bso"]]</semantic-link>"
                        }]'
                    ></semantic-table>
                    <semantic-link
                        iri="page:addDataForObject"
                        urlqueryparam-objectiri="[[#if objectiri]][[objectiri]][[else]][[urlParam "objectiri"]][[/if]]"
                    ><button type="button" class="btn btn-primary btn-s">[[i18n "addData" bundle="bso"]]</button></semantic-link>
                </div>
            </template>
        </semantic-if>


        <div class="bso-component separator panel">

            [[> partial:fieldsTable iri=objectiri param="objectiri" ]]

            <semantic-query
                query="SELECT DISTINCT ?subject ?actor (GROUP_CONCAT(?creation_type_label; SEPARATOR=', ') as ?creation_type_labels) WHERE {
                    BIND([[> thisForQuery ]] as $subject)
                    ?subject (crm:P128_carries/crm:P94i_was_created_by) ?creation.
                    ?creation crm:P9_consists_of ?subcreation.
                    ?subcreation crm:P14_carried_out_by ?actor;
                    crm:P2_has_type ?creation_type .
                    OPTIONAL {
                        ?creation_type rdfs:label ?creation_type_label_original .
                    }
                    BIND(IF(!BOUND(?creation_type_label_original), STRAFTER(STR(?creation_type), 'https://resource.swissartresearch.net/'), ?creation_type_label_original) as ?creation_type_label)
                } GROUP BY ?subject ?actor"
                template="{{> template}}"
            >
                <template id="template">
                    <dl>
                        <dt>Persons involved in creation</dt>
                        {{#each bindings}}
                            <dd><semantic-link iri="{{ actor.value }}"></semantic-link> ({{ creation_type_labels.value}})</dd>
                        {{/each}}
                    </dl>
                </template>
            </semantic-query>

            <semantic-query
                query="SELECT DISTINCT ?subject ?actor (GROUP_CONCAT(?creation_type_label; SEPARATOR=', ') as ?creation_type_labels) WHERE {
                    BIND([[> thisForQuery ]] as $subject)
                    ?subject crm:P108i_was_produced_by ?creation.
                    ?creation crm:P9_consists_of ?subcreation.
                    ?subcreation crm:P14_carried_out_by ?actor;
                    crm:P2_has_type ?creation_type.
                    ?creation_type rdfs:label ?creation_type_label_original .
                    BIND(IF(!BOUND(?creation_type_label_original), STRAFTER(STR(?creation_type), 'https://resource.swissartresearch.net/'), ?creation_type_label_original) as ?creation_type_label)
                } GROUP BY ?subject ?actor"
                template="{{> template}}"
            >
                <template id="template">
                    <dl>
                        <dt>Persons involved in production</dt>
                        {{#each bindings}}
                            <dd><semantic-link iri="{{ actor.value }}"></semantic-link> ({{ creation_type_labels.value}})</dd>
                        {{/each}}
                    </dl>
                </template>
            </semantic-query>
        </div>
    </div>
</div>

[[#*inline "objectsTable"]]

    <semantic-if 
        query='ASK { BIND([[> thisForQuery]] as $subject) . [[condition]] }'
        then='{{> template}}'
    >
        <template id="template">
            <div class="bso-component field-visualisation">
                <span class="bso-component label">[[i18n label bundle="bso"]]</span>
                <div class="bso-component card-container">
                    <semantic-table
                    query="SELECT DISTINCT ?subject WHERE {
                        ?subject a search:Object .
                        [[> @partial-block]]
                    }"
                    tuple-template="{{> partial:cardObject}}">
                    </semantic-table>
                </div>
            </div>
        </template>
    </semantic-if>

[[/inline]]

[[> partial:pageFooter]]