[
    {
        "id" : "collection",

            "label": "Collection",
            "description" : "The holding collection or institution of the work",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Man-Made_Object",
            "range" : "crm:E39_Actor",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P109_has_former_or_current_curator ?value . }",
        "iri" : "http://rs.swissartresearch.net/instances/fields/collection"
    },

    {
        "id" : "creator_of_object",

            "label": "Creator",
            "description" : "The creator of the artwork",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Man-Made_Object",
            "range" : "crm:E39_Actor",
                "insertPattern" : "INSERT { ?creation crm:P14_carried_out_by $value . } WHERE { BIND(CONCAT(STR($subject), \"/creation\") as ?creation) }",
                "selectPattern" : "SELECT ?value ?label WHERE { $subject crm:P128_carries/crm:P94i_was_created_by/crm:P14_carried_out_by ?value. OPTIONAL { BIND(URI(CONCAT(STR($subject), \"/meta\")) as ?subject_meta ) ?value crm:P1_is_identified_by ?appellation . ?appellation rdfs:label ?label ; crm:P70i_is_documented_in ?subject_meta . } }",
        "iri" : "http://rs.swissartresearch.net/instances/fields/creator_of_object"
    },

    {
        "id" : "label",

            "label": "Label",
            "description" : "A human-readable label for the entity",
            "maxOccurs" : "1",
            "xsdDatatype" : "xsd:string",
                "insertPattern" : "INSERT { $subject rdfs:label $value . } WHERE {}",
                "selectPattern" : "SELECT ?value WHERE { $subject rdfs:label ?value . }",
        "iri" : "http://rs.swissartresearch.net/instances/fields/label"
    },

    {
        "id" : "objects_created",

            "label": "Created",
            "description" : "Objects that were created by an actor",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E39_Actor",
            "range" : "crm:E22_Man-Made_Object",
                "selectPattern" : "SELECT ?value ?label WHERE { ?value crm:P128_carries/crm:P94i_was_created_by/crm:P14_carried_out_by $subject ; rdfs:label ?object_label . OPTIONAL { ?value crm:P128_carries/crm:P94i_was_created_by/crm:P9_consists_of ?subcreation . ?subcreation crm:P14_carried_out_by $subject ; crm:P2_has_type/rdfs:label ?role_label . } BIND(IF(BOUND(?role_label), CONCAT(?object_label, \" (\", ?role_label, \")\"), ?object_label) as ?label) } ",
        "iri" : "http://rs.swissartresearch.net/instances/fields/objects_created"
    },

    {
        "id" : "object_creation_date",

            "label": "Creation date",
            "description" : "The date an object has been created",
            "domain" : "crm:E22_Man-Made_Object",
            "range" : "crm:E52_Time-Span",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P128_carries/crm:P94i_was_created_by/crm:P4_has_time-span ?value }",
        "iri" : "http://rs.swissartresearch.net/instances/fields/object_creation_date"
    },

    {
        "id" : "object_depicts",

            "label": "Depicts",
            "description" : "The entity that is depicted by the object",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Man-Made_Object",
            "range" : "crm:E1_CRM_Entity",
                "selectPattern" : "SELECT DISTINCT ?value WHERE { $subject crm:P128_carries/crm:P138_represents ?value . }",
                "insertPattern" : "INSERT { ?work crm:P138_represents $value . } WHERE { $subject crm:P128_carries ?work . }",
                "autosuggestionPattern" : "PREFIX bds: <http://www.bigdata.com/rdf/search#> SELECT DISTINCT ?value ?label ?type ?typeLabel WHERE { VALUES(?type ?typeLabel) { (search:Person \"Person\") (search:Place \"Place\") (search:Type \"Type\") } ?value a ?type ; rdfs:label ?label . ?label bds:search ?__token__ . } ORDER BY ?label LIMIT 10",
                "valueSetPattern" : "SELECT ?value ?label ?type ?typeLabel WHERE { VALUES(?type ?typeLabel) { (search:Person \"Person\") (search:Place \"Place\") (search:Type \"Type\") } ?value a ?type ; rdfs:label ?label . } ORDER BY ?label LIMIT 100",
        "iri" : "http://rs.swissartresearch.net/instances/fields/object_depicts"
    },

    {
        "id" : "object_subcreations",

            "label": "Creation Roles",
            "display" : "hidden",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Man-Made_Object",
            "range" : "crm:E65_Creation",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P128_carries/crm:P94i_was_created_by ?creation . ?creation crm:P9_consists_of ?value . }",
        "iri" : "http://rs.swissartresearch.net/instances/fields/object_subcreations"
    },

    {
        "id" : "object_carries_visual_item",

            "label": "Visual Item",
            "description" : "The E36 Visual Item carried by the E22 Human-Made Object",
            "display" : "hidden",
            "minOccurs" : "1",
            "maxOccurs" : "1",
            "xsdDatatype" : "xsd:anyURI",
            "domain" : "crm:E22_Man-Made_Object",
            "range" : "crm:E36_Visual_item",
                "insertPattern" : "INSERT { $subject crm:P128_carries $value} WHERE {}",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P128_carries ?value . ?value a crm:E36_Visual_Item . }",
        "iri" : "http://rs.swissartresearch.net/instances/fields/object_carries_visual_item"
    },

    {
        "id" : "object_production_date",

            "label": "Production date",
            "description" : "The date an object has been produced",
            "domain" : "crm:E22_Man-Made_Object",
            "range" : "crm:E52_Time-Span",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P108i_was_produced_by/crm:P4_has_time-span ?value }",
        "iri" : "http://rs.swissartresearch.net/instances/fields/object_production_date"
    },

    {
        "id" : "P2_has_type",

            "label": "Type",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P2_has_type ?value . }",
        "iri" : "http://rs.swissartresearch.net/instances/fields/P2_has_type"
    },

    {
        "id" : "P14_carried_out_by",

            "label": "Person",
            "description" : "The person or actor carrying out an event",
            "minOccurs" : "1",
            "maxOccurs" : "1",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P14_carried_out_by ?value . }",
        "iri" : "http://rs.swissartresearch.net/instances/fields/P14_carried_out_by"
    }

]