
[[> partial:pageHeader]]
[[> partial:contentHeader]]

<h1>Test Extensions</h1>

<semantic-context repository="smapshot">
   
  <semantic-update query='PREFIX smapshot: <https://smapshot.heig-vd.ch/vocab>
    INSERT {
      ?image smapshot:iiif_data [
          smapshot:image_service3_url <https://www.e-rara.ch/zuz/i3f/v20/12581613> ;
          smapshot:regionByPx "[35,28,2196,1445]"
      ]
    } WHERE {
      ?image smapshot:id "210758"
    }' 
    variable-params='["image"]'>
  <button class='btn btn-primary'>Update Image</button>
</semantic-update>

</semantic-context>

[[> partial:contentFooter]]
[[> partial:pageFooter]]