<bs-row>
    <bs-col md="10" md-offset="1">
        <h2>Components</h2>

        <h3>Object Cards</h3>

        <semantic-query
            query="SELECT ?subject WHERE {
                ?subject a search:Object .
                BIND(SHA512(CONCAT(STR(RAND()), STR(?subject))) AS ?random) .
            } 
            ORDER BY ?random
            LIMIT 5"
            template="{{> template}}"
        >
            <template id="template">
                <div class="bso-component card-container">
                    {{#each bindings}}
                        {{> partial:cardObject iri=subject.value}}
                    {{/each}}
                </div>
            </template>
        </semantic-query>

        <h3>Object Panel</h3>

        <semantic-query
            query="SELECT ?subject WHERE {
                ?subject a search:Object .
                BIND(SHA512(CONCAT(STR(RAND()), STR(?subject))) AS ?random) .
            } 
            ORDER BY ?random
            LIMIT 5"
            template="{{> template}}"
        >
            <template id="template">
                {{#each bindings}}
                    {{> partial:panelObject iri=subject.value}}
                {{/each}}
            </template>
        </semantic-query>
    </bs-col>
</bs-row>