<div style='height: 500px'>
  <mp-workspace-layout horizontal-collapsed-size=0>
    <mp-workspace-row>
      <mp-workspace-item id='workspace-clipboard' undocked=false default-size=250>
        <div class='grid-demo' style='flex: 1'>
          
          <mp-set-management
            readonly='false'
            id='clipboard-main'
            reparentable='true'
            item-config='{
              "<http://www.metaphacts.com/ontologies/platform#SetItem>": {
                "isSet": false,
                "listTemplate": "{{> clipboard-list-item}}"
              }

            }'
          >
            <template id="clipboard-list-item">
              [[> component-clipboard-list-item ]]
            </template>
          </mp-set-management>

        </div>
      </mp-workspace-item>
      <mp-workspace-item id='workspace-main' undocked=true>
        <div class='grid-demo' style='flex: 1'>
          <semantic-query
            query="SELECT ?subject WHERE {
            ?subject a search:Object .
            } LIMIT 10">
          </semantic-query>
        </div>
      </mp-workspace-item>
    </mp-workspace-row>
  </mp-workspace-layout>
</div>

[[#*inline "component-clipboard-list-item"]]

  <semantic-link iri="{{iri.value}}"></semantic-link>
  {{log this}}

  <mp-anonymous-hidden>
    <semantic-context repository="default">
      <semantic-query
        query="SELECT ?container WHERE {
          ?container ldp:contains <{{itemHolder.value}}>
        } LIMIT 1"
        template="{{> set-item-delete-button}}">
        <template id="set-item-delete-button">
          <mp-ldp-remove-from-container-action container="{{containe.value}}" iri="{{itemHolder.value}}">
            <button type="button" class="btn btn-primary btn-xs">[[i18n "remove" bundle="bso"]]</button>
          </mp-ldp-remove-from-container-action>
      </semantic-query>
    </semantic-context>
    <!-- <mp-set-management-action-remove-set-item>
        <span>Remove</span>
    </mp-set-management-action-remove-set-item> -->
  </mp-anonymous-hidden>
[[/inline]]
