
<div class="bso-component object">
    <semantic-link
        key="object-link-{{iri}}"
        iri="page:viewObject"
        urlqueryparam-objectiri="{{iri}}">
        <bs-panel>
            <bs-row>
                <bs-col class="image" md="3" sm="6">
                    <mp-resource-thumbnail key="object-thumbnail-{{iri}}" iri="{{iri}}">
                        <mp-resource-thumbnail-fallback>
                            <small>No image</small>
                        </mp-resource-thumbnail-fallback>
                    </mp-resource-thumbnail>
                </bs-col>
                <bs-col md="7" sm="6">
                    <div class="title">
                        <mp-label key="object-label-{{iri}}" iri="{{iri}}"></mp-label>
                    </div>
                    <div class="description">
                        <mp-description key="object-description-{{iri}}" iri="{{iri}}"></mp-description>
                    </div>
                </bs-col>
                {{#if displayMenu}}
                    <bs-col md="2" sm="12">
                        [[> partial:buttonEditObjectMeta]]
                    </bs-col>
                {{/if}}
            </bs-row>
        </bs-panel>
    </semantic-link>
</div>