
[[> partial:pageHeader]]
[[> partial:contentHeader]]

<h2 class="gap">[[i18n "customData" bundle="bso"]]</h2>

<bs-tabs default-active-key="[[#if (urlParam "tab")]][[urlParam "tab"]][[else]]entities[[/if]]">
    <bs-tab event-key="entities" title="[[i18n "contributedEntities" bundle="bso"]]">
        [[> contributedEntities]]
    </bs-tab>
    <bs-tab event-key="contributed-data" title="[[i18n "contributedData" bundle="bso"]]" class="panel">
        [[> contributedData]]
    </bs-tab>
    <bs-tab event-key="regions" title="[[i18n "regions" bundle="bso"]]">
        [[> regions]]
    </bs-tab>
    <bs-tab event-key="annotations" title="[[i18n "annotations" bundle="bso"]]">
        [[> annotations]]
    </bs-tab>
</bs-tabs>
[[> partial:contentFooter]]
[[> partial:pageFooter]]

[[#*inline "contributedData"]]
<div class="bso-component panel">
    <semantic-table
        query="SELECT ?proposition ?subject ?resource ?type ?container ?parentContainer WHERE {
            ?proposition a crminf:I4_Proposition_Set ;
                crm:P67_refers_to ?resource ;
                crm:P129_is_about ?subject .
            ?subject a ?type .
            BIND(URI(STRBEFORE(STR(?proposition), '/context')) as ?container)
            ?parentContainer ldp:contains ?container .
        }"
        column-configuration='[{
            "displayName": "[[i18n "entity" bundle="bso"]]",
            "variableName": "resource",
            "cellTemplate": "<semantic-link iri=\"{{resource.value}}\" urlqueryparam-view=\"page\"></semantic-link>"
        },
        {
            "displayName": "[[i18n "type" bundle="bso"]]",
            "cellTemplate": "<mp-label iri=\"{{type.value}}\"></mp-label>"
        },
        {
            "displayName": "[[i18n "view" bundle="bso"]]",
            "cellTemplate": "<semantic-link iri=\"http://www.metaphacts.com/resource/assets/NamedGraph\" urlqueryparam-view=\"graph\" urlqueryparam-graph=\"{{proposition.value}}\">[[i18n "view" bundle="bso"]]</semantic-link>"
        },
        {
            "displayName": "[[i18n "delete" bundle="bso"]]",
            "cellTemplate": "<semantic-link iri=\"page:deleteContainerFromParent\" urlqueryparam-container=\"{{container.value}}\" urlqueryparam-parent=\"{{parentContainer.value}}\" urlqueryparam-back=\"[[this]]\">[[i18n "delete" bundle="bso"]]</semantic-link>"
        }]'
        no-result-template="[[i18n "noContributedData" bundle="bso"]]"
    ></semantic-table>
</div>
[[/inline]]

[[#*inline "annotations"]]
<div class="bso-component panel">
    <semantic-table
        query='SELECT ?annotation ?body ?creator ?date ?typeOfTargetLabel WHERE {
            ?annotation a oa:annotation ;
                oa:body/rdfs:label ?body ;
                oa:target ?target .
            ?target a ?typeOfTarget .
            OPTIONAL {
                ?annotation crm:P14_carried_out_by ?creator .
            }
            OPTIONAL {
                ?annotation crm:P4_has_time-span/crm:P82_at_some_time_within ?date
            }
            VALUES (?typeOfTarget ?typeOfTargetLabel) {
                (crm:E36_Visual_Item "[[i18n "image" bundle="bso"]]")
                (crmdig:D35_Area "[[i18n "region" bundle="bso"]]")
            }
        }'
        column-configuration='[{
            "variableName": "annotation",
            "displayName": "[[i18n "annotation" bundle="bso"]]"
        },
        {
            "variableName": "body",
            "displayName": "[[i18n "note" bundle="bso"]]",
            "cellTemplate": "{{> bodyTemplate}}"
        },
        {
            "variableName": "creator",
            "displayName": "[[i18n "creator" bundle="bso"]]",
            "showFilter": true,
            "multiselect": true
        },
        {
            "variableName": "date",
            "displayName": "[[i18n "date" bundle="bso"]]"
        },
        {
            "variableName": "typeOfTargetLabel",
            "displayName": "[[i18n "type" bundle="bso"]]",
            "showFilter": true,
            "multiselect": true
        }]'
        no-result-template="[[i18n "noAnnotations" bundle="bso"]]">
        <template id="bodyTemplate">
            <div style="max-width: 30rem;">
                <mp-text-truncate lines="2" expand="{{> expand}}" collapse="{{> collapse}}">
                    <template id="expand"> <a>&hellip;[[i18n "readMore" bundle="bso"]]</a></template>
                    <template id="collapse"><span><br/><a>[[i18n "showLess" bundle="bso"]]</a></span></template>
                    {{{body.value}}}
                </mp-text-truncate>
            </div>
        </template>
    </semantic-table>
</div>
[[/inline]]

[[#*inline "contributedEntities"]]
<div class="bso-component panel">
    <div class="bso-component button-set gap-small">
        <semantic-link
            iri="page:editPerson">
            <button class="btn btn-primary btn-md">[[i18n "addNewPerson" bundle="bso"]]</button>
        </semantic-link>
        <semantic-link
            iri="page:editPlace">
            <button class="btn btn-primary btn-md">[[i18n "addNewPlace" bundle="bso"]]</button>
        </semantic-link>
        <semantic-link
            iri="page:editEvent">
            <button class="btn btn-primary btn-md">[[i18n "addNewEvent" bundle="bso"]]</button>
        </semantic-link>
    </div>
    <semantic-table
        query="SELECT * WHERE {
            GRAPH ?g {
                ?subject a ?type . 
            }
            BIND(URI(STRBEFORE(STR(?g), '/context')) as ?container)
            ?parentContainer ldp:contains ?container .
            VALUES (?type ?editPage) {
                (search:Person page:editPerson)
                (search:Place page:editPlace)
                (search:Event page:editEvent)
            }
        }"
        column-configuration='[{
            "displayName": "[[i18n "entity" bundle="bso"]]",
            "variableName": "subject",
            "cellTemplate": "<semantic-link iri=\"{{subject.value}}\" urlqueryparam-view=\"page\"></semantic-link>"
        },
        {
            "displayName": "[[i18n "type" bundle="bso"]]",
            "cellTemplate": "<mp-label iri=\"{{type.value}}\"></mp-label>"
        },
        {
            "displayName": "[[i18n "view" bundle="bso"]]",
            "cellTemplate": "<semantic-link iri=\"{{subject.value}}\" urlqueryparam-view=\"page\">[[i18n "view" bundle="bso"]]</semantic-link>"
        },
        {
            "displayName": "[[i18n "edit" bundle="bso"]]",
            "cellTemplate": "<semantic-link iri=\"{{editPage.value}}\" urlqueryparam-entityiri=\"{{subject.value}}\">[[i18n "edit" bundle="bso"]]</semantic-link>"
        }]'
        no-result-template="<p>[[i18n "noContributedData" bundle="bso"]]</p>"
    ></semantic-table>
</div>
[[/inline]]

[[#*inline "regions"]]
<div class="bso-component panel">
    <semantic-table
        query="SELECT ?subject ?graphName WHERE {
            GRAPH ?g {
            ?subject a crmdig:D35_Area ;
                crmdig:L49_is_primary_area_of ?image .
            }
            FILTER NOT EXISTS { ?subject crm:P2_has_type type:imageRegion }
            BIND(REPLACE(STR(?g), (REPLACE(STR(?g), '\\w*$', '')), '')   AS ?graphName)
        }"
        column-configuration='[{
            "variableName": "subject",
            "displayName": "Region",
            "cellTemplate": "<mp-resource-thumbnail iri=\"{{subject.value}}\"></mp-resource-thumbnail>"
        },
        {
            "variableName": "subject",
            "displayName": "Subject",
            "cellTemplate": "<semantic-link iri=\"{{subject.value}}\" urlqueryparam-view=\"page\"></semantic-link>"
        },
        {
            "variableName": "graphName",
            "displayName": "Graph",
            "showFilter": true
        }]'
        no-result-template="[[i18n "noRegions" bundle="bso"]]"
    ></semantic-table>
</div>
[[/inline]]