[[> partial:contentHeader]]

<div style="height: 700px">
    <semantic-query
        query="SELECT ?image ?server WHERE {
            BIND( <[[ urlParam 'imageiri']]> as ?image )
            BIND (REPLACE(STR(?image), '([^/]+$)', '') AS ?server)
        } LIMIT 1"
        template="{{> template}}"
    >
        <template id="template"> 

            <rs-iiif-mirador image-or-region="{{ bindings.0.image.value }}"
                image-id-pattern="BIND (REPLACE(STR(?imageIRI), '^(.*[/])', '') AS ?imageID)" 
                iiif-server-url="{{ bindings.0.server.value }}">
            </rs-iiif-mirador>

        </template>

    </semantic-query>
</div>

[[> partial:contentFooter]]